<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/asset/css/manager2.css">
    <link rel="stylesheet" href="../../static/asset/css/header.css">
    <link rel="stylesheet" href="../../static/asset/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $("#header").load("../header.html");
        });
    </script>
    <script>
        $(function () {
            $("#footer").load("../footer.html");
        });
    </script>
    <style>
        /*서비스 이용, 매니저 지원 네비게이션*/
        .menu02, .menu04{
            display: none!important;
        }
    </style>
</head>
<body>
<header id="header"></header>
<div class="sub_page_wrap">
    <div class="sub_title_wrap title_only">

        <div class="sub_title">
            <p>서비스 내역</p>
            <p>매니저님의 이용 내역입니다.</p>
        </div>
    </div>
</div>
<div class="common_content_wrap" >
    <div class="form_sub_tab column">
        <ul>
            <!-- <li id="all" >전체</li> -->
            <!-- <li id="match" class="current"><span>배정요청</span><em>0</em></li> -->
            <li id="reserv" class="" onclick="location.href='manager.html'" style="    width: 684px;"><span>예약</span><em>0</em></li>
            <li id="proc" class="current" onclick="location.href='manager2.html'"><span>서비스중</span><em>0</em></li>
            <!-- <li id="pay" class=""><span>결제요청</span><em>0</em></li> -->
            <li id="end" class="" onclick="location.href='manager3.html'"><span>종료</span><em>0</em></li>
        </ul>
    </div>
</div>
<!-- 목록시작 -->

<div class="com_accordion" >
    <ul style="    margin: 0% 17% 0% 17%;">
        <li class="history">
            <div class="ac_title">
                <input type="hidden" name="hManagerSysId" value="">
                <input type="hidden" name="hMemberSysId" value="">
                <input type="hidden" name="hUserSysId" value="">
                <input type="hidden" name="hUserGenderCd" value="">
                <input type="hidden" name="hServiceNm" value="">
                <input type="hidden" name="hServiceCd" value="">
                <input type="hidden" name="hServiceSeq" value="">
                <input type="hidden" name="hMatchSeq" value="">
                <input type="hidden" name="hServiceStartDate" value="">
                <input type="hidden" name="hServiceStartTime" value="">
                <input type="hidden" name="hDepartAdmCd" value="">
                <input type="hidden" name="hDestAdmCd" value="">
                <input type="hidden" name="hServiceCarYn" value="">
                <p class="service_a" style="background: #3d7ed8;">돌봄</p>
                <div class="left_con" style="padding-right:37px">
                    <p>
                        <span class="title">이용자</span>
                        <span></span>
                    </p>
                    <p>
                        <span class="title">돌봄일정 및 방문시간</span>
                        <span></span>
                        <span></span>
                    </p>
                    <p>
                        <span class="title">이용시간</span>
                        <span></span>
                    </p>
                    <!-- <p>
                        <span class="title">출발지</span>
                        <span></span>
                    </p>   -->
                    <p>
                        <span class="title">목적지</span>
                        <span><br></span>
                    </p>
                    <hr style="border : 0px; width: 100%;
                                border-top: 2px solid #e8e6e7;
                                width: 100%;
                                margin: 20px 0 20px 0;"/>
                    <button id="test04" style="color: #666666;
                            font-weight: 900;
                            cursor: pointer;
                            align-self: center;
                            margin-right: 115px;
                            background-color: white;
                            font-size: 15px;
                        ">업무일지 작성</button>
                </div>
                <!-- <button style=" background-color: #f7579f;
        color: white;
        padding: 12px 20px 12px 20px;
        font-size: 14px;
        font-weight: 700;
        position: absolute;
        right: 87px;
        border-radius: 30px;
        margin-right: 20px;
        bottom: 80px;

    ">
        시작
    </button> -->
                <button style=" background-color: #3d7ed8;
            color: white;
            padding: 12px 20px 12px 20px;
            font-size: 15px;
            font-weight: 700;
            position: absolute;
            right: 15px;

            margin-right: 20px;
            bottom: 73px
        ">
                    서비스중
                </button>

            </div>
        </li>
    </ul>
</div>


<div class="com_accordion" id="test05"  style="display:none;
                background: #fdfdfd;
                border: 1px solid #cacaca;
                position: relative;
                border-radius: 30px;
                overflow: hidden;
                flex-direction: column;
                flex-wrap: wrap;
                display: flex;
                padding: 0;
                cursor: pointer;
                font-size: 18px;
                font-weight: 200;
                color: #161616;
                justify-content: flex-start;
                align-items: center;
                z-index: 1;

                display: none;
                width: 66%;
        margin: 0% 17% 0% 17%;
            ">
    <div class="sc-fjdhpX hoWkSp" style="    padding: 24px 0 12px 37px;
                color: gray;
                font-weight: 600;">
        업무 보고 작성
    </div>
    <textarea type="text" placeholder="업무 보고 일지 및 전달사항" name="comment" class="ant-input sc-kgoBCf jdYHBr"
              style="width: 94%;
                height: 163px;
                margin: 10px 38px 97px 38px;
                resize: none;
                border-color: #c4c4c4;
                padding: 8px;
                font-size: 15px;
                ">
                </textarea>
    <button  class="openPopup1" style=" background-color: #3d7ed8;
                color: white;
                padding: 12px 20px 12px 20px;
                font-size: 15px;
                font-weight: 700;
                position: absolute;
                bottom: 26px;

                margin-right: 20px;
    right: 21px;
            ">
        서비스 완료
    </button>
</div>
<div class="com_accordion" >
    <ul style="    margin: 0% 17% 0% 17%;">
        <li class="history">
            <div class="ac_title">
                <input type="hidden" name="hManagerSysId" value="">
                <input type="hidden" name="hMemberSysId" value="">
                <input type="hidden" name="hUserSysId" value="">
                <input type="hidden" name="hUserGenderCd" value="">
                <input type="hidden" name="hServiceNm" value="">
                <input type="hidden" name="hServiceCd" value="">
                <input type="hidden" name="hServiceSeq" value="">
                <input type="hidden" name="hMatchSeq" value="">
                <input type="hidden" name="hServiceStartDate" value="">
                <input type="hidden" name="hServiceStartTime" value="">
                <input type="hidden" name="hDepartAdmCd" value="">
                <input type="hidden" name="hDestAdmCd" value="">
                <input type="hidden" name="hServiceCarYn" value="">
                <p class="service_a">동행</p>
                <div class="left_con" style="padding-right:37px" >
                    <p>
                        <span class="title">이용자</span>
                        <span></span>
                    </p>
                    <p>
                        <span class="title">동행일정 및 방문시간</span>
                        <span></span>
                        <span></span>
                    </p>
                    <p>
                        <span class="title">이용시간</span>
                        <span></span>
                    </p>
                    <p>
                        <span class="title">출발지</span>
                        <span></span>
                    </p>
                    <p>
                        <span class="title">목적지</span>
                        <span><br></span>
                    </p>
                    <hr style="border : 0px; width: 100%;
                                border-top: 2px solid #e8e6e7;
                                width: 100%;
                                margin: 20px 0 20px 0;"/>
                    <button id="test01" style="color: #666666;
                            font-weight: 900;
                            cursor: pointer;
                            align-self: center;
                            margin-right: 115px;
                            background-color: white;
                            font-size: 15px;
                        ">업무일지 작성</button>
                </div>
                <!-- <button style=" background-color: #f7579f;
        color: white;
        padding: 12px 20px 12px 20px;
        font-size: 14px;
        font-weight: 700;
        position: absolute;
        right: 87px;
        border-radius: 30px;
        margin-right: 20px
    ">
        시작
    </button> -->
                <button style=" background-color: #f7579f;
                color: white;
                padding: 12px 20px 12px 20px;
                font-size: 15px;
                font-weight: 700;
                position: absolute;
                right: 15px;
                bottom: 73px;
                margin-right: 20px
            ">
                    서비스중
                </button>
            </div>
        </li>
    </ul>
</div>
<div class="com_accordion" id="test02"  style="display:none;
                background: #fdfdfd;
                border: 1px solid #cacaca;
                position: relative;
                border-radius: 30px;
                overflow: hidden;
                flex-direction: column;
                flex-wrap: wrap;
                display: flex;
                padding: 0;
                cursor: pointer;
                font-size: 18px;
                font-weight: 200;
                color: #161616;
                justify-content: flex-start;
                align-items: center;
                z-index: 1;

                display: none;
                width: 66%;
        margin: 0% 17% 0% 17%;
            ">
    <div class="sc-fjdhpX hoWkSp" style="    padding: 24px 0 12px 37px;
                color: gray;
                font-weight: 600;">
        업무 보고 작성
    </div>
    <textarea type="text" placeholder="업무 보고 일지 및 전달사항" name="comment" class="ant-input sc-kgoBCf jdYHBr"
              style="width: 94%;
                height: 163px;
                margin: 10px 38px 97px 38px;
                resize: none;
                border-color: #c4c4c4;
                padding: 8px;
                font-size: 18px;
                ">
                </textarea>
    <button  class="openPopup1" style=" background-color: #f7579f;
                color: white;
                padding: 12px 20px 12px 20px;
                font-size: 15px;
                font-weight: 700;
                position: absolute;
                bottom: 26px;

                margin-right: 20px;
    right: 21px;
            ">
        서비스 완료
    </button>
</div>


<button style="margin: 61px 45% 61px 46%;
            background-color: #f7579f;
            color: white;
            padding: 11px;
            font-size: 15px;
            font-weight: 700;
">
    목록으로 가기
</button>
<footer id="footer"></footer>
<div id="popup01">
    <div class="close">닫기</div>
    <div style="font-size: 32px;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 110px;
    color: #767070;">업무완료 하시겠습니까?
    </div>
    <button class="confirm" onclick="location.href='manager3.html'">완료</button>
</div>
</body>
<script src="../../static/asset/js/manager.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $("#test01").click(function(){
        $('#test02').toggle();
    });

    /* $("#test03").click(function(){
        $('#test02').hide();
    }); */

    $("#test04").click(function(){
        $('#test05').toggle();
    });

    /* $("#test06").click(function(){
        $('#test05').hide();
    }); */

    $(document).ready(function( $ ){
        $(".openPopup1").on("click", function(event) {
            $("#popup01").show();
            $("body").append('<div class="backon"></div>');
        });

        $("body").on("click", function(event) {
            if(event.target.className == 'close' || event.target.className == 'backon'){
                $("#popup01").hide();
                $(".backon").hide();
            }
        });
    });

</script>

<script>
    $("#btnLogin").click(function(){
        if(!$(this).attr('class').match('on')){
            $(this).addClass('on');
            $(".fnc_user_wrap").addClass('on');
        }else{
            $(this).removeClass('on');
            $(".fnc_user_wrap").removeClass('on');
        }
    })


</script>
<script>

</script>


</html>