<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/asset/css/manager.css">
    <link rel="stylesheet" href="/asset/css/header.css">
    <link rel="stylesheet" href="/asset/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <style>
        /*서비스 이용, 매니저 지원 네비게이션*/
        .menu02, .menu04{
            display: none!important;
        }
    </style>
</head>
<body>
<header th:replace="header.html"></header>
<div class="sub_page_wrap">
    <div class="sub_title_wrap title_only">

       <div class="sub_title">
            <p>서비스 내역</p>
           <input name="managerName" type="hidden" th:value="${session.managerVO.managerName}"/>
            <p th:text="|*{session.managerVO.managerName}님의 이용 내역입니다.|"></p>
        </div>
    </div>
</div>
<div class="common_content_wrap">
    <div class="form_sub_tab column">
        <ul>
            <!-- <li id="all" >전체</li> -->
            <!-- <li id="match" class="current"><span>배정요청</span><em>0</em></li> -->
            <li id="reserv" class="current" style="width: 684px;" onclick="location.href='/manager/manager'"><span>예약</span><em th:text="*{totallist2}+*{totallist6}"></em></li>
            <li id="proc" class="" onclick="location.href='/manager/manager2'"><span>서비스중</span><em th:text="*{totallist3}+*{totallist7}"></em></li>
            <!-- <li id="pay" class=""><span>결제요청</span><em>0</em></li> -->
            <li id="end" class="" onclick="location.href='/manager/manager3'"><span>종료</span><em th:text="*{totallist4}+*{totallist8}"></em></li>
        </ul>
    </div>
</div>
<!-- 목록시작 -->

<div class="com_accordion" th:object="${carereservationlist}"  th:if="${totallist6}" >
    <ul style="    margin: 0% 17% 0% 17%;">
        <li class="history">
            <div class="ac_title">

                <p class="service_a" style="background: #3d7ed8;">돌봄</p>
                <div class="left_con" style="padding-right:37px; ">
                    <p>
                        <span class="title" style="margin-right: 89px">이용자</span>
                        <span th:text="*{careReservationName}"></span>
                    </p>
                    <p>
                        <span class="title">돌봄일정 및 방문시간</span>
                        <span th:text="*{#strings.substring(careReservationDate,0,10)}"></span>
                        <span th:text="*{#strings.substring(careReservationDate,11,16)}"></span>
                    </p>
                    <p>
                        <span class="title" style="margin-right: 76px">이용시간</span>
                        <span th:text="|*{careReservationTime}시간|"></span>
                    </p>

                    <p>
                        <span class="title" style="margin-right: 90px">목적지</span>
                        <span th:text="*{careReservationAddress}"><br></span>
                    </p>
                    <hr style="border : 0px; width: 100%;
                                border-top: 2px solid #e8e6e7;
                                width: 100%;
                                margin: 20px 0 20px 0;"/>
                    <button id="test04" style="color: #666666;
                            font-weight: 900;
                            cursor: pointer;
                            align-self: center;
                            margin-right: 115px;
                            background-color: white;
                            font-size: 15px;
                        ">상세보기</button>
                </div>
                <div style="    position: absolute;
                        right: 20px;">
                    <div class="button_wrap">
                        <a class="accept">시작</a>
                        <a class="refuse">취소</a>
                    </div>
                </div>
                <!-- <button class="openPopup1" style=" background-color: #f7579f;
        color: white;
        padding: 15px 26px 15px 26px;
        font-size: 18px;
        font-weight: 700;
        position: absolute;
        right: 105px;
        border-radius: 30px;
        margin-right: 20px;
        bottom: 80px;

    ">
        시작
    </button>
                <button class="openPopup2" style=" background-color: #f7579f;
        color: white;
        padding: 15px 26px 15px 26px;
        font-size: 18px;
        font-weight: 700;
        position: absolute;
        right: 15px;
        border-radius: 30px;
        margin-right: 20px;
        bottom: 80px;
    ">
        취소
    </button> -->
            </div>
        </li>
    </ul>
</div>
<div class="com_accordion" id="test05"  style="display:none;"  th:object="${carereservationlist}" th:if="${totallist6}">
    <ul style="    margin: 0% 17% 0% 17%;">
        <li class="history">
            <div class="ac_title">

                <p class="service_a" style="display: none;">돌봄서비스</p>
                <div class="left_con" style="margin-left: 30px; padding-right:37px;">
                    <p>
                        <span class="title" >돌봄서비스</span>

                    </p>
                    <p>
                        <span class="title" style="margin-right: 89px">이용자</span>
                        <span th:text="*{careReservationName}"></span>
                    </p>
                    <p>
                        <span class="title" style="margin-right: 58px">이용자 나이</span>
                        <span th:text="|*{careReservationAge}살|"></span>
                    </p>
                    <p>
                        <span class="title" style="margin-right: 58px">이용자 성별</span>
                        <span th:text="*{careReservationGender}"></span>
                    </p>
                    <p>
                        <span class="title" style="margin-right: 44px">이용자 휴대폰</span>
                        <span th:text="*{careReservationPhoneNum}"></span>
                    </p>
                    <p>
                        <span class="title">돌봄일정 및 방문시간</span>
                        <span th:text="*{#strings.substring(careReservationDate,0,10)}"></span>
                        <span th:text="*{#strings.substring(careReservationDate,11,16)}"></span>
                    </p>
                    <p>
                        <span class="title" style="margin-right: 76px">이용시간</span>
                        <span th:text="|*{careReservationTime}시간|"></span>
                    </p>

                    <p>
                        <span class="title" style="margin-right: 90px">목적지</span>
                        <span th:text="*{careReservationAddress}"></span>
                    </p>
                    <p>
                        <span class="title" style="margin-right: 59px">총 이용요금</span>
                        <span th:text="|*{careReservationPrice}원|"></span>
                    </p>
                    <hr style="border : 0px; width: 100%;
                                border-top: 2px solid #e8e6e7;
                                width: 100%;
                                margin: 20px 0 20px 0;"/>
                    <button id="test06" style="color: #666666;
                            font-weight: 900;
                            cursor: pointer;
                            align-self: center;
                            margin-right: 17px;
                            background-color: white;
                            font-size: 15px;
                        ">닫기</button>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="com_accordion"  th:object="${accreservationlist}" th:if="${totallist2}" >
    <ul style="    margin: 0% 17% 0% 17%;">
        <li class="history">
            <div class="ac_title">

                <p class="service_a">동행</p>
                <div class="left_con" style="padding-right:37px;">
                    <p>
                        <span class="title" style="margin-right: 89px">이용자</span>
                        <span th:text="*{accReservationName}"></span>
                    </p>
                    <p>
                        <span class="title" >동행일정 및 방문시간</span>
                        <span th:text="*{#strings.substring(accReservationDate,0,10)}"></span>
                        <span th:text="*{#strings.substring(accReservationDate,11,16)}"></span>

                    </p>
                    <p>
                        <span class="title" style="margin-right: 76px">이용시간</span>
                        <span th:text="|*{accReservationTime}시간|"></span>
                    </p>
                    <p>
                        <span class="title" style="margin-right: 90px">출발지</span>
                        <span th:text="*{accReservationStartAddress}"></span>
                    </p>
                    <p>
                        <span class="title" style="margin-right: 90px">목적지</span>
                        <span th:text="*{accReservationEndAddress}"><br></span>
                    </p>
                    <hr style="border : 0px; width: 100%;
                                border-top: 2px solid #e8e6e7;
                                width: 100%;
                                margin: 20px 0 20px 0;"/>
                    <button id="test01" style="color: #666666;
                            font-weight: 900;
                            cursor: pointer;
                            align-self: center;
                            margin-right: 115px;
                            background-color: white;
                            font-size: 15px;
                        ">상세보기</button>
                </div>
                <div style="    position: absolute;
                        right: 20px;">
                    <div class="button_wrap" style="top: 22px;">
                        <a class="accept">시작</a>
                        <a class="refuse">취소</a>
                    </div>
                </div>
                <!--  <button class="openPopup1" style=" background-color: #f7579f;
         color: white;
         padding: 15px 26px 15px 26px;
         font-size: 18px;
         font-weight: 700;
         position: absolute;
         right: 105px;
         border-radius: 30px;
         margin-right: 20px
     ">
         시작
     </button>
                 <button class="openPopup2" style=" background-color: #f7579f;
         color: white;
         padding: 15px 26px 15px 26px;
         font-size: 18px;
         font-weight: 700;
         position: absolute;
         right: 15px;
         border-radius: 30px;
         margin-right: 20px
     ">
         취소
     </button> -->
            </div>
        </li>
    </ul>
</div>
<div class="com_accordion" id="test02"  style="display:none;" >
    <ul style="    margin: 0% 17% 0% 17%;">
        <li class="history">
            <div class="ac_title" th:object="${accreservationlist}" th:if="${totallist2}">

                <p class="service_a" style="display: none;">동행서비스</p>
                <div class="left_con" style="margin-left: 30px; padding-right:37px;">
                    <p>
                        <span class="title">동행서비스</span>
                        <!-- 동행서비스종류나타냄 -->

                    </p>
                    <p>
                        <span class="title" style="margin-right: 89px">이용자</span>
                        <span th:text="*{accReservationName}"></span>
                    </p>
                    <p>
                        <span class="title" style="margin-right: 58px">이용자 나이</span>
                        <span th:text="|*{accReservationAge}살|"></span>
                    </p>
                    <p>
                        <span class="title" style="margin-right: 58px">이용자 성별</span>
                        <span th:text="*{accReservationGender}"></span>
                    </p>
                    <p>
                        <span class="title" style="margin-right: 44px">이용자 휴대폰</span>
                        <span th:text="*{accReservationPhoneNum}"></span>
                    </p>
                    <p>
                        <span class="title">동행일정 및 방문시간</span>
                        <span th:text="*{#strings.substring(accReservationDate,0,10)}"></span>
                        <span th:text="*{#strings.substring(accReservationDate,11,16)}"></span>
                    </p>
                    <p>
                        <span class="title" style="margin-right: 76px">이용시간</span>
                        <span th:text="|*{accReservationTime}시간|"></span>
                    </p>
                    <p>
                        <span class="title" style="margin-right: 90px">출발지</span>
                        <span th:text="*{accReservationStartAddress}"></span>
                    </p>
                    <p>
                        <span class="title" style="margin-right: 91px">목적지</span>
                        <span th:text="*{accReservationEndAddress}"><br></span>
                    </p>
                    <p>
                        <span class="title" style="margin-right: 59px">총 이용요금</span>
                        <span th:text="|*{accReservationPrice}원|"></span>
                    </p>
                    <hr style="border : 0px; width: 100%;
                                border-top: 2px solid #e8e6e7;
                                width: 100%;
                                margin: 20px 0 20px 0;"/>
                    <button id="test03" style="color: #666666;
                            font-weight: 900;
                            cursor: pointer;
                            align-self: center;
                            margin-right: 17px;
                            background-color: white;
                            font-size: 15px;
                        ">닫기</button>
                </div>
            </div>
        </li>
    </ul>
</div>

<div id="popup01">
    <div class="close">닫기</div>
    <div style="font-size: 32px;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 110px;
    color: #767070;">현재시간부터 서비스를 <br> 진행하시겠습니까?</div>
    <button class="confirm" onclick="location.href='/manager/startService'">서비스 진행</button>
</div>

<div id="popup02">
    <div class="close">닫기</div>
    <div style="font-size: 32px;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 110px;
    color: #767070;">매칭을<br>최소하시겠습니까?</div>
    <button class="confirm" onclick="location.href='/manager/cancelService'">취소하기</button>
</div>
<footer th:replace="footer.html"></footer>
</body>
<script src="/asset/js/manager.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $("#btnLogin").click(function(){
        if(!$(this).attr('class').match('on')){
            $(this).addClass('on');
            $(".fnc_user_wrap").addClass('on');
        }else{
            $(this).removeClass('on');
            $(".fnc_user_wrap").removeClass('on');
        }
    })




</script>
<script>
    $("#test01").click(function(){
        $('#test02').toggle();
    });

    $("#test03").click(function(){
        $('#test02').hide();
    });

    $("#test04").click(function(){
        $('#test05').toggle();
    });

    $("#test06").click(function(){
        $('#test05').hide();
    });

    $(document).ready(function( $ ){
        $(".openPopup1").on("click", function(event) {
            $("#popup01").show();
            $("body").append('<div class="backon"></div>');
        });

        $("body").on("click", function(event) {
            if(event.target.className == 'close' || event.target.className == 'backon'){
                $("#popup01").hide();
                $(".backon").hide();
            }
        });
    });

    $(document).ready(function( $ ){
        $(".openPopup2").on("click", function(event) {
            $("#popup02").show();
            $("body").append('<div class="backon"></div>');
        });

        $("body").on("click", function(event) {
            if(event.target.className == 'close' || event.target.className == 'backon'){
                $("#popup02").hide();
                $(".backon").hide();
            }
        });
    });

</script>
<script>

    // 진행 구분 이벤트
    $('.form_sub_tab li').on('click', function(){
        var current = $(this).hasClass('current');
        var page = $(this).attr('id');

        if(current != true) {
            $(this).parent().find('li').removeClass();
            $(this).addClass('current');
        }

        switch(page){
            case "match" :
                $(".assignment").css('display', 'block');
                $(".reservation").css('display', 'none');
                $(".servicing").css('display', 'none');
                $(".serviceEnd").css('display', 'none');
                break;

            case "reserv" :
                $(".assignment").css('display', 'none');
                $(".reservation").css('display', 'block');
                $(".servicing").css('display', 'none');
                $(".serviceEnd").css('display', 'none');
                break;

            case "proc" :
                $(".assignment").css('display', 'none');
                $(".reservation").css('display', 'none');
                $(".servicing").css('display', 'block');
                $(".serviceEnd").css('display', 'none');
                break;

            case "end" :
                $(".assignment").css('display', 'none');
                $(".reservation").css('display', 'none');
                $(".servicing").css('display', 'none');
                $(".serviceEnd").css('display', 'block');
                break;
        }

    });

    /* 배정상세페이지 열기 */
    $("div.ac_title").click(function(){
        if($(this).siblings(".ac_detail").css('display') != 'block'){
            $(this).siblings(".ac_detail").css('display', 'block');
        }else{
            $(this).siblings(".ac_detail").css('display', 'none');
        }
    });

    /* 시작버튼 클릭 */
    $(".accept").click(function(){
        alert('서비스 시작하겠습니다.');
        location.href="/manager/startService"
    })

    /* 취소버튼 클릭 */
    $(".refuse").click(function(){
        alert('서비스 예약을 취소합니다.');
        location.href="/manager/cancelService"
    })

</script>

</html>