.iGPNrq {
    width: 100%;
    height: auto;
    background-color: rgb(128, 171, 255);
    margin-top: 93px
}

.fiFDYG {
    max-width: 1080px;
    margin: 0px auto;
    padding: 80px 0px;
    position: relative;
}

.eNodVi {
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: -0.5px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}

p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fXaZkN {
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.7px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}

.fDYseZ {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: -0.15px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    word-break: keep-all;
}

div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gzZSJ {
    padding: 14px 28px;
    background-color: rgb(59, 193, 255);
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -0.1px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    min-width: 230px;
    overflow: hidden;
    display: inline-block;
    margin-top: 42px;
    cursor: pointer;
}

span {
    margin: 0;
    box-sizing: border-box;
}

.fiFDYG img.bg {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.llEpYH {
    width: 100%;
    background-color: white;
}

.fiFDYG {
    max-width: 1080px;
    margin: 0px auto;
    padding: 80px 0px;
    position: relative;
}

.cQYdGh {
    display: flex;
}

.cQYdGh > div {
    flex: 1 1 0%;
    margin-bottom: 32px;
}

.eNodVi {
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: -0.5px;
    text-align: left;
}

.iIDnif {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: rgb(22, 22, 22);
    padding: 12px;
    border-bottom: 0.5px solid rgb(22, 22, 22);
    margin-bottom: 20px;
}

.cJQyLY {
    margin-bottom: 8px;
    font-weight: bold;
    color: rgb(22, 22, 22);
    font-size: 20px;
}

.kocXdB {
    font-weight: bold;
    color: rgb(22, 22, 22);
    font-size: 12px;
}

.cQYdGh > div {
    flex: 1 1 0%;
    margin-bottom: 32px;
}

br {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jxqoZj {
    display: inline-block;
    margin-bottom: 8px;
    color: rgb(86, 86, 86);
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}

.jxqoZj {
    display: inline-block;
    margin-bottom: 8px;
    color: rgb(86, 86, 86);
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}
