

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.dropdown-label{
  font-size : 12px;
  margin : 10px;
  font-weight : bold;
  color : rgb(50, 50, 50);
}

.dropdown{
  position : relative;
  display : inline-block;
}


.dropbtn{
  display : block;
  border : 2px solid rgb(94, 94, 94);
  border-radius : 4px;
  background-color: #fcfcfc;
  font-weight: 400;
  color : rgb(124, 124, 124);
  padding : 12px;
  width :240px;
  text-align: left;
  cursor : pointer;
  font-size : 12px;
  z-index :1;
  position : relative;
}
.dropdown-content{
  display : none;
  font-weight: 400;
  background-color: #fcfcfc;
  min-width : 240px;
  border-radius: 8px;
  height : 160px;
  overflow : scroll;
  box-shadow: 0px 0px 10px 3px rgba(190, 190, 190, 0.6);
}
.dropdown-content::-webkit-scrollbar{
  width : 5px;
  height : 10px;
}
.dropdown-content::-webkit-scrollbar-thumb{
  border-radius : 2px;
  background-color :rgb(194, 194, 194)
}

.dropdown-content div{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 12px 20px;
}
.dropdown-content div:hover{
  background-color: rgb(226, 226, 226);
}

.dropdown-content.show{
  display : block;
}

.iKMJbd {
    padding-top: 110px;
    padding-bottom: 55px;
    background-image: url("https://www.withmate.kr/assets/images/login_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 50%;
}

div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: Spoqa Han Sans, Spoqa Han Sans JP, "Sans-serif", Noto Sans KR, sans-serif;
}

div {
    display: block;
}

body {
    margin: 0;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    background-color: #fff;
    font-feature-settings: "tnum", "tnum";
}

html {
    --antd-wave-shadow-color: #3bc1ff;
    --scroll-bar: 0;
}

html {

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
:after,
:before {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: border-box;
}

::selection {
    color: #fff;
    background: #3bc1ff;
}

.iKMJbd .inner-container {
    padding-bottom: 0px;
    padding-top: 0px;
}

.inner-container {
    padding: 100px 16px;
}

.inner-container {
    max-width: 1120px;
    margin: 0 auto;
}

.iKMJbd .inner-container .register-form {
    background-color: white;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 10%) 2px 2px 10px 3px;
    width: 100%;
    max-width: 360px;
    margin: 47px auto auto auto;
    padding: 32px;
}

.iKMJbd .inner-container .register-form .title-wrapper p {
    flex: 1 1 0%;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -0.7px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0px;
    padding: 0px;
    width: 200px;
}

/* p {
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

} */
.iKMJbd .inner-container .register-form .title-wrapper span {
    float: right;
    font-size: 28px;
    
    text-align: right;
    color: rgb(59, 193, 255);
    height: auto;
}
span{
    flex:left;  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.iKMJbd .inner-container .register-form .form input.ant-input {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: rgba(0, 0, 0, 0.7);
}

.iaafvp.ant-input {
    width: 100%;
    margin-bottom: 0px;
    font-weight: normal;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(233, 233, 233) !important;
}

.ant-input:placeholder-shown {
    text-overflow: ellipsis;
}

input:not([type=range]){
    touch-action: manipulation;
}

input[type=text]{
    -webkit-appearance: none;
}

.ant-input {
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum","tnum";
    position: relative;
    display: inline-block;
    min-width: 0;
    background-image: none;
    transition: all .3s;
}
input {
    overflow: visible;
    font-family: inherit;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
}
.dUXpIL {
    width: 100%;
    height: 8px;
}

.iKMJbd .inner-container .register-form .form label {
    margin-bottom: 4px;
    width: 100%;
    font-size: 12px;
    letter-spacing: 0.85px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    padding-top: 3px;
}

label{
    touch-action: manipulation;
}
.iKMJbd .inner-container .register-form .form .type-button-wrapper > .type-button.active {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    color: rgb(249, 249, 249);
}

.iKMJbd .inner-container .register-form .form .type-button-wrapper > .type-button {
    width: 50%;
    height: 100%;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: -0.2px;
   
}

.iKMJbd .inner-container .register-form .form .type-button-wrapper > .type-button {
    width: 50%;
    height: 100%;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: rgba(0, 0, 0, 0.2);
    
}
.iKMJbd .inner-container .register-form .form .type-button-wrapper {
    width: 100%;
    height: 48px;
    background-color: white;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 4px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.ffyjKW {
    height: 16px;
}
.ffyjKW {
    width: 100%;
}


.fRCQoH {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 8px;
}


input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
}
input:not([type=range]) {
    touch-action: manipulation;
}
/* .ant-checkbox-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    cursor: pointer;
    opacity: 0;
} */

/* 
.ant-checkbox-checked:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #3bc1ff;
    border-radius: 2px;
    visibility: hidden;
    animation: antCheckboxEffect .36s ease-in-out;
    animation-fill-mode: backwards;
    content: "";
} */
button, input {
    overflow: visible;
}
input {
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}
input[type="checkbox" i] {
    background-color: initial;
    appearance: auto;
}
input {
    writing-mode: horizontal-tb !important;
    letter-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;

}
.ant-checkbox {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-feature-settings: "tnum","tnum";
    position: relative;
    top: 0.2em;
    white-space: nowrap;
    outline: none;
}


.ant-checkbox-wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: baseline;
    cursor: pointer;
}
label{
    touch-action: manipulation;
}

.ant-checkbox-wrapper:hover .ant-checkbox:after, .ant-checkbox:hover:after {
    visibility: visible;
}

.ant-checkbox-checked:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #3bc1ff;
    border-radius: 2px;
    animation: antCheckboxEffect .36s ease-in-out;
    animation-fill-mode: backwards;
    content: "";
}
:after {
    box-sizing: border-box;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner {
    border-color: #3bc1ff;
}
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #3bc1ff;
}


.fRCQoH span {
    font-size: 12px;
    line-height: 21px;
    letter-spacing: -0.3px;
}
.ant-checkbox-inner {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    direction: ltr;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    border-collapse: separate;
    transition: all .3s;
}
.ant-checkbox+span {
    padding-right: 8px;
    padding-left: 8px;
}
.ant-checkbox-wrapper:after {
    display: inline-block;
    width: 0;
    overflow: hidden;
    content: "\a0";
}

.bwhqaA {
    margin-bottom: 4px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
}


button, html [type=button] {
    -webkit-appearance: button;
}
.ant-btn-primary {
    background: #3bc1ff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}
.ant-btn {
    outline: 0;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    user-select: none;
    touch-action: manipulation;
    padding: 4px 15px;
    border-radius: 2px;
}


button {
    overflow: visible;
    margin: 0;
    text-transform: none;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    text-indent: 0px;
    align-items: flex-start;

}

.ant-btn:before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: 1;
    display: none;
    background: #fff;
    border-radius: inherit;
    opacity: .35;
    transition: opacity .2s;
    content: "";
    pointer-events: none;
}
.ant-btn>span {
    display: inline-block;
}



.iKMJbd .inner-container .register-form .form .link-wrapper {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 8px;
}
.iKMJbd .inner-container .register-form .form .link-wrapper .text {
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    line-height: 21px;
}
.iKMJbd .inner-container .register-form .form .link-wrapper .link {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.3px;
    text-align: center;
    color: rgb(59, 193, 255);
    margin-left: 8px;
}

.fRCQoH .ant-checkbox-wrapper {
    margin-bottom: 0px !important;
}
.ant-checkbox-wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum","tnum";
    display: inline-flex;
    align-items: baseline;
    cursor: pointer;
}

.ant-checkbox-wrapper:after {
    display: inline-block;
    width: 0;
    overflow: hidden;
    content: "\a0";
}

.ant-checkbox-checked .ant-checkbox-inner:after {
    position: absolute;
    display: table;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg) scale(1) translate(-50%,-50%);
    opacity: 1;
    transition: all .2s cubic-bezier(.12,.4,.29,1.46) .1s;
    content: " ";
}
.ant-checkbox-inner:after {
    top: 50%;
    left: 22%;
    width: 5.71428571px;
    height: 9.14285714px;
}

.iKMJbd .inner-container .register-form .form button {
    margin-top: 4px;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.2px;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 240px;
}

.bqHxwH.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 4px;
}

.bqHxwH.ant-select .ant-select-selector {
    line-height: 43px;
    height: 100% !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #fff;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 100%;
    padding: 0 11px;
}
.ant-select-single .ant-select-selector {
    display: flex;
}

.ant-select {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum","tnum";
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.bqHxwH.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 43px;
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    padding-right: 18px;
}
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    pointer-events: none;
}
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    padding: 0;
    transition: all .3s;
}
.ant-select-selection-placeholder {
    flex: 1 1;
    overflow: hidden;
    color: #bfbfbf;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector:after {
    line-height: 30px;
}


.ant-select-single .ant-select-selector:after {
    display: inline-block;
    width: 0;
    visibility: hidden;
    content: "\a0";
}
.ant-select-arrow {
    display: inline-block;
    font-style: normal;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 50%;
    right: 11px;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    color: rgba(0,0,0,.25);
    font-size: 12px;
    line-height: 1;
    text-align: center;
    pointer-events: none;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #fff;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 100%;
    padding: 0 11px;
}
.ant-select-single .ant-select-selector {
    display: flex;
}
.iKMJbd .inner-container .register-form .form input {
    height: 44px;
    border: 1px solid rgb(230, 230, 230);
    padding: 10px;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-search {
    right: 25px;
}

.ant-select-single .ant-select-selector .ant-select-selection-search {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 11px;
}
