<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.project.dolbomi.domain.vo.ReviewVO" alias="reviewVO"/>
        <typeAlias type="com.project.dolbomi.domain.vo.CareReservationVO" alias="carereservationVO"/>
        <typeAlias type="com.project.dolbomi.domain.vo.ManagerVO" alias="managerVO"/>
        <typeAlias type="com.project.dolbomi.domain.vo.AccReservationVO" alias="accreservationVO"/>
        <typeAlias type="com.project.dolbomi.domain.vo.UserVO" alias="userVO"/>
        <typeAlias type="com.project.dolbomi.domain.vo.AccReviewDTO" alias="accReviewDTO"/>
        <typeAlias type="com.project.dolbomi.domain.vo.CareReviewDTO" alias="careReviewDTO"/>
        <typeAlias type="com.project.dolbomi.domain.vo.UserReviewDTO" alias="userReviewDTO"/>
        <typeAlias type="com.project.dolbomi.domain.vo.User4CareDTO" alias="user4CareDTO"/>
        <typeAlias type="com.project.dolbomi.domain.vo.User4AccDTO" alias="user4AccDTO"/>


    </typeAliases>


</configuration>