body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: #000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #ffffff;
    font-weight: 500;
}


* {
    box-sizing: border-box;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}

a {
    color: #3c3c3c;
    text-decoration: none;
}

.sub_page_wrap {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    padding-bottom: 100px;
}

.sub_title_wrap {
    display: flex;
    flex: none;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.sub_title {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 160px;
}

.sub_title p {
    display: flex;
    flex: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    color: #313131;
    text-align: center;
}

.sub_title p + p {
    margin-top: 0;
    font-size: 26px;
    color: #666666;
    font-weight: 300;
}

.common_content_wrap {
    display: flex;
    flex: none;
    width: 900px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}

.form_sub_tab {
    position: relative;
    width: 100%;
}

ul, ol {
    list-style: none;
}

.form_sub_tab ul {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 0;
}

.form_sub_tab ul li {
    display: flex;
    flex: 1;
    margin-left: -1px;
    padding: 16px 0 18px 0;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    border: 1px solid #dae1e6;
    background: #ffffff;
    color: #adadad;
    cursor: pointer;
}

.form_sub_tab ul li:first-child {
    margin-left: 0;
}

.form_sub_tab ul li.current {
    position: relative;
    border: 1px solid #313131;
    background: #fff;
    color: #313131;
    cursor: default;
}

em, address {
    font-style: normal;
}

.form_sub_tab ul li em {
    display: inline-flex;
    margin: -1px 0 0 10px;
    justify-content: center;
    align-items: center;
    padding: 0 8px 1px 8px;
    height: 20px;
    font: 700 10px "Roboto";
    background: #ff0071;
    color: #fff;
    border-radius: 16px;
}

.form_sub_tab ul li.current em {
    background: #ff0071;
}

.com_accordion {
    width: 100%;
    margin: 20px 0;
}

.com_accordion ul {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.com_accordion ul li {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.com_accordion ul li.history {
    background: #fdfdfd;
    border: 1px solid #cacaca;
}

.com_accordion ul li .ac_title {
    display: flex;
    width: 100%;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    color: #161616;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

.com_accordion ul li + li {
    margin-top: 20px;
}

input, textarea, select, button, table {
    font-size: 12px;
    font-weight: 300;
}

input[type="hidden"] + input {
    margin-left: 0;
}

.com_accordion ul li p {
    display: flex;
    position: relative;
}

.com_accordion ul li .ac_title .service_a {
    display: flex;
    flex: none;
    width: 80px;
    height: 80px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    background: #f7579f;
    color: #fff;
    border-radius: 50%;
    font-weight: 400;
}

.com_accordion ul li .ac_title .service_b {
    display: flex;
    flex: none;
    width: 80px;
    height: 80px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    background: #3d7ed8;
    color: #fff;
    border-radius: 50%;
    font-weight: 400;
}

.com_accordion ul li .left_con {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 80px;
    padding: 20px 0;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    align-items: flex-start;
}

.com_accordion ul li p {
    display: flex;
    position: relative;
}

.com_accordion ul li p span {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.com_accordion ul li p span.title {
    flex: none;
    width: 90px;
    color: rgba(0, 0, 0, 0.5);
}

.com_accordion ul li p span + span {
    margin-left: 20px;
}

.com_accordion ul li p span + span:before {
    position: absolute;
    top: 5px;
    left: -10px;
    content: '';
    width: 1px;
    height: 14px;
    background: rgba(0, 0, 0, 0.2);
}

.com_accordion ul li p span.title + span:before {
    position: absolute;
    top: 0;
    left: -10px;
    content: ':';
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0);
    font-weight: 400;
}

.com_accordion ul li p + p {
    margin-top: 6px;
}

.com_accordion ul li .right_con {
    display: flex;
    flex: none;
    width: 280px;
    margin: 0 20px 0 0;
    font-size: 14px;
    font-weight: 300;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.com_accordion ul li .assigned {
    position: relative;
    top: 9px;
}

.com_accordion ul li p {
    display: flex;
    position: relative;
}

.com_accordion ul li .right_con .photo {
    position: relative;
    flex: none;
    width: 80px;
    height: 80px;
    background: rgba(0, 0, 0, 0.4) url("https://www.mosimi.co.kr/resource/images/common/ico_face.svg") center center;
    background-size: 140px;
    border-radius: 50%;
}

.com_accordion ul li .photo {
    position: relative;
    flex: none;
    width: 80px;
    height: 80px;
    background: rgba(0, 0, 0, 0.4) url("https://www.mosimi.co.kr/resource/images/common/ico_face.svg") center center;
    background-size: 140px;
    border-radius: 50%;
}

.com_accordion ul li p + p {
    margin-top: 6px;
}

.com_accordion ul li .right_con p + p {
    display: flex;
    flex: none;
    min-height: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 0 0 10px;
}

.com_accordion ul li p span {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.com_accordion ul li .name {
    margin-top: 0;
    align-items: flex-end;
}

.com_accordion ul li p span + span {
    margin-left: 20px;
}

.com_accordion ul li .msg {
    margin-top: 4px;
    font-size: 13px;
}

.com_accordion ul li .right_con .photo + p span + span {
    margin-left: 0;
}

a {
    color: #3c3c3c;
    text-decoration: none;
}

.com_accordion ul li .tell {
    margin-top: 4px;
    font-size: 18px;
}

.com_accordion ul li .ac_detail {
    display: none;
    width: 100%;
    margin: 0;
}

.com_accordion ul li .ac_detail .detail_wrap {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 20px 20px 0;
    padding: 20px 0 0 120px;
    border-top: 1px dotted rgba(0, 0, 0, 0.2);
}

.com_accordion ul li .left_con {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 80px;
    padding: 20px 0;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    align-items: flex-start;
}

.com_accordion ul li .ac_detail .detail_wrap .left_con {
    padding-top: 0;
    min-height: auto;
}

.com_accordion ul li p {
    display: flex;
    position: relative;
}

.com_accordion ul li .total {
    margin-top: 10px;
}

.com_accordion ul li .total span {
    align-items: center;
}

.com_accordion ul li .total span + span strong {
    font-size: 30px;
    margin-right: 10px;
}

.button_wrap {
    display: flex;
    flex: none;
    height: 60px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    left: -28px;
    top: 10px;
}

.cancelreservation {
    top: 55px;
    left: -55px;
}

.button_wrap a {
    position: relative;
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    color: #555555;
    background: #ffffff;
    cursor: pointer;
    padding: 4px 50px 8px 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    white-space: nowrap;
    transition: all .2s ease-in-out;
    width: 10px;
}

.button_wrap a + a {
    margin-left: 10px;
}

.button_wrap a.accept {
    color: #ffffff;
    background: #1f6cd5;
    border: none;
}

.button_wrap a.refuse, .button_wrap a.cancel {
    color: #ffffff;
    background: #ff0071;
    border: none;
}

.endmanager {
    margin-left: 20px;
}
















