<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IdFind</title>
    <link rel="stylesheet" href="/asset/css/pwfind.css">
    <link rel="stylesheet" href="/asset/css/header.css">
    <link rel="stylesheet" href="/asset/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <style>
        /*서비스 신청 목록 네비게이션*/
        .menu03{
            display: none!important;
        }
    </style>
</head>

<body>
<header th:replace="header.html"></header>
<div id="root">
    <div id="app-container" class="app-container">

        <div class="main-area">
            <div class="sc-dRCTWM bvYJlY">
                <div class="sc-kZmsYB mrONj">
                    <div class="find-container">
                        <div class="inner-container">
                            <div class="login-form">
                                <div class="login-title">
                                    <p>아이디 찾기</p>
                                </div>
                                <div class="form-user-type">
                                    <div class="type active" onclick="location.href='/member/idfind'">
                                        <p>일반</p>
                                    </div>
                                    <div class="type undefined" onclick="location.href='/member/idfind_manager'">
                                        <p>매니저</p>
                                    </div>
                                </div>
                                <div class="form">
                                    <label for="userName">이름</label><input type="text"
                                                            placeholder="ex) 홍길동" class="ant-input" value="" name="userName" id="userName">
                                    <label for="userPhoneNum">휴대전화</label><input type="text"
                                                              placeholder="ex) 01012341111" class="ant-input" value="" name="userPhoneNum" id="userPhoneNum">
                                    <label for="userBirth">생년월일</label><input type="text"
                                                              placeholder="ex) 20001022" class="ant-input" value="" name="userBirth" id="userBirth">

                                    <button type="button" class="ant-btn ant-btn-primary" onclick="idFind();"><span>확인하기</span></button>

                                    <div class="link-wrapper"><span class="link" onclick="location.href='/member/userlogin'">로그인</span><span
                                            class="link" style="border-right: 1px solid rgb(230, 230, 230);
                                                padding-right: 16px;margin-left: 16px;" onclick="location.href='/user/regi1'">회원가입</span><span class="link"
                                                                                       onclick="location.href='/member/pwfind'">비밀번호찾기</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form_wrap">
        <div id="card_info" class="popup_layer" style="display: none;">
            <div class="layer_wrap card_info">
                <div class="layer_title">
                    <p>검색된 이메일</p>
                    <a class="layer_close"></a>
                </div>
                <div class="layer_contents">
                    <div class="form_wrap">
                        <div class="service_charge">
                            <div class="fx_wrap">
                                <div class="fx_block">
                                    <div class="charge_table">
                                        <dl>
                                            <dt>이메일</dt>
                                        </dl>

                                        <dl>
                                            <dd id="id_value"></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- button_wrap -->
                    <div class="button_wrap">
                        <div class="sc-OxbzP jqycvF" onclick="location.href='/member/userlogin'">로그인</div>
                        <div class="sc-OxbzP jqycvM">확인</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="footer.html"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $("#btnLogin").click(function () {
        if (!$(this).attr('class').match('on')) {
            $(this).addClass('on');
            $(".fnc_user_wrap").addClass('on');
        } else {
            $(this).removeClass('on');
            $(".fnc_user_wrap").removeClass('on');
        }
    })

    let $userName = $("input[name='userName']");
    let $userBirth = $("input[name='userBirth']");
    let $userPhoneNum = $("input[name='userPhoneNum']");
    let idV = "";

    function idFind() {
        if(!$userName.val()){
            alert("이름을 입력해주세요");
            return false;
        }
        if(!$userPhoneNum.val()){
            alert("휴대폰 번호를 입력해주세요");
            return false;
        }
        if(!$userBirth.val()){
            alert("생년월일을 입력해주세요");
            return false;
        }

        window.scrollTo(0,0);
        $("body").css("overflow-y", "hidden");
        $(".popup_layer").css("display", "flex");

            $.ajax({
            type:"POST",
            url:"/member/idfind",
            data:{"userName":userName, "userPhoneNum": userPhoneNum, "userBirth":userBirth },
            success:function(data){
                if(data == 0){
                    $('#id_value').text("회원 정보를 확인해주세요!");
                    $('#userName').val('');
                    $('#userPhoneNum').val('');
                    $('#userBirth').val('');
                } else {
                    $('#id_value').text(data);
                    // 아이디값 별도로 저장
                    idV = data;
                }
            },
                error:function () {
                    alert("에러입니다.")
                }
        });


    }

    $(".layer_close").on('click', function(){
        $("body").css("overflow-y", "visible");
        $(".popup_layer").css("display", "none");
    })

    $(".jqycvM").on('click', function(){
        $("body").css("overflow-y", "visible");
        $(".popup_layer").css("display", "none");
    })

    // 아이디 값 받고 출력하는 ajax
    var idFind = function(){
        $.ajax({
            type:"POST",
            url:"${pageContext.request.contextPath}/user/userSearch?inputName_1="
                +$('#inputName_1').val()+"&inputPhone_1="+$('#inputPhone_1').val(),
            success:function(data){
                if(data == 0){
                    $('#id_value').text("회원 정보를 확인해주세요!");
                } else {
                    $('#id_value').text(data);
                    // 아이디값 별도로 저장
                    idV = data;
                }
            }
        });
    }





</script>
</html>
