<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호찾기</title>
    <link rel="stylesheet" href="/asset/css/pwfind.css">
    <link rel="stylesheet" href="/asset/css/header.css">
    <link rel="stylesheet" href="/asset/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /*서비스 신청 목록 네비게이션*/
        .menu03{
            display: none!important;
        }
    </style>
</head>

<body>
<header th:replace="header.html"></header>
<div id="root">
    <div id="app-container" class="app-container">

        <div class="main-area">
            <div class="sc-dRCTWM bvYJlY">
                <div class="sc-kZmsYB mrONj">
                    <div class="find-container">
                        <div class="inner-container">
                            <div class="login-form">
                                <div class="login-title">
                                    <p>비밀번호 찾기</p>
                                </div>
                                <div class="form-user-type">
                                    <div class="type active" onclick="location.href='/member/pwfind'">
                                        <p>일반</p>
                                    </div>
                                    <div class="type undefined" onclick="location.href='/member/pwfind_manager'">
                                        <p>매니저</p>
                                    </div>
                                </div>
                                <div class="form">
                                    <label>이름</label><input type="text" name="userName"
                                                            placeholder="ex) 홍길동" class="ant-input" value="">
                                    <label>휴대전화</label><input type="text" name="userPhoneNum"
                                                              placeholder="ex) 01012341111" class="ant-input" value="">
                                    <label>생년월일</label><input type="text" name="userBirth"
                                                              placeholder="ex) 20001022" class="ant-input" value="">
                                    <label>이메일</label><input type="email" name="userEmail"
                                                             placeholder="ex) korea@mail.com" class="ant-input"
                                                             value="">
                                    <button type="button" class="ant-btn ant-btn-primary" onclick="pwFind();"><span>확인하기</span></button>

                                    <div class="link-wrapper"><span class="link" onclick="location.href='/member/userlogin'">로그인</span><span
                                            class="link" style="border-right: 1px solid rgb(230, 230, 230);
                                                padding-right: 16px;" onclick="location.href='/user/regi1'">회원가입</span><span class="link"
                                                                                       onclick="location.href='/member/idfind'">아이디찾기</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="form_wrap">
    <div id="card_info" class="popup_layer" style="display: none;">
        <div class="layer_wrap card_info">
            <div class="layer_title">
                <p>검색된 비밀번호</p>
                <a class="layer_close"></a>
            </div>
            <div class="layer_contents">
                <div class="form_wrap">
                    <div class="service_charge">
                        <div class="fx_wrap">
                            <div class="fx_block">
                                <div class="charge_table">
                                    <dl>
                                        <dt>비밀번호</dt>
                                    </dl>

                                    <dl>
                                        <dd>asd***</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- button_wrap -->
                <div class="button_wrap">
                    <div class="sc-OxbzP jqycvF" onclick="location.href='/member/userlogin'">로그인</div>
                    <div class="sc-OxbzP jqycvM">확인</div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="footer.html"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $("#btnLogin").click(function () {
        if (!$(this).attr('class').match('on')) {
            $(this).addClass('on');
            $(".fnc_user_wrap").addClass('on');
        } else {
            $(this).removeClass('on');
            $(".fnc_user_wrap").removeClass('on');
        }
    })

    let $userName = $("input[name='userName']");
    let $userBirth = $("input[name='userBirth']");
    let $userPhoneNum = $("input[name='userPhoneNum']");
    let $userEmail = $("input[name='userEmail']");

    function pwFind() {
        if(!$userName.val()){
            alert("이름을 입력해주세요");
            return false;
        }
        if(!$userPhoneNum.val()){
            alert("휴대폰 번호를 입력해주세요");
            return false;
        }
        if(!$userBirth.val()){
            alert("생년월일을 입력해주세요");
            return false;
        }

        if(!$userEmail.val()){
            alert("이메일을을 입력해주세요");
            return false;
        }

        window.scrollTo(0,0);
        $("body").css("overflow-y", "hidden");
        $(".popup_layer").css("display", "flex");

    }

    $(".layer_close").on('click', function(){
        $("body").css("overflow-y", "visible");
        $(".popup_layer").css("display", "none");
    })

    $(".jqycvM").on('click', function(){
        $("body").css("overflow-y", "visible");
        $(".popup_layer").css("display", "none");
    })


</script>
</html>
