<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/asset/css/login.css">
    <link rel="stylesheet" href="/asset/css/header.css">
    <link rel="stylesheet" href="/asset/css/footer.css">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /*서비스 신청 목록 네비게이션*/
        .menu03{
            display: none!important;
        }
    </style>
</head>
<body>
<header th:replace="header.html"></header>
<form action="/member/userlogin" method="post" id="userForm" name="userForm">
    <input type="hidden" id="loginTp" name="loginTp" value="usr">
    <input type="hidden" id="userId" name="userId">

    <div class="sub_page_wrap">
        <!-- sub_title_wrap -->
        <div class="login_form_wrap">
            <div class="form_tab">
                <ul>
                    <li id="loginTpUsr" data-type="usr" class="current"><a onclick="location.href='/member/userlogin'"
                                                                           style="color: #fff;">개인회원</a></li>
                    <li id="loginTpMgr" data-type="user" class=""><a onclick="location.href='/member/managerlogin'">매니저</a></li>
                </ul>
            </div>

            <!-- form_wrap -->
            <div class="form_wrap" id="login_form">
                <span class="w_msg tc"></span>
                <div class="dp_flex">
                    <input type="text" id="userEmail" name="userEmail" value="" placeholder="아이디">
                </div>
                <div class="dp_flex">
                    <input type="password" id="userPw" name="userPw" value="" placeholder="비밀번호">
                </div>
            </div>
            <!-- //form_wrap -->

            <div class="id_save">
                <label class="toggle_check">
                    <input type="checkbox" id="saveIdYN" name="saveIdYN">
                    <span>아이디 저장</span>
                </label>
            </div>

            <!-- button_wrap -->
            <div class="button_wrap">
                <a onclick="loginCheck();" class="primary">로그인</a>
            </div>
            <div class="button_text_wrap">
                <a href="/member/idfind">아이디 찾기</a>
                <a href="/member/pwfind">비밀번호 찾기</a>
                <a href="/user/regi1" class="sign_up">회원가입</a>
            </div>

            <!-- //button_wrap -->

        </div>
    </div>
</form>
<footer th:replace="footer.html"></footer>
</body>
<script>
    $(".toggle_check").children('span').mouseover(function () {
        $(this).css('color', '#1f6cd5');
    })

    $(".toggle_check").children('span').mouseout(function () {
        $(this).css('color', '#000');
    })

    //로그인 버튼 클릭 시
    let $userForm = $(userForm);
    let $userEmail = $("input[name='userEmail']");
    let $userPw = $("input[name='userPw']");

    function loginCheck() {
        console.log($userEmail.val());
        console.log($userPw.val());

        if(!$userEmail.val()){
            alert("아이디를 입력해주세요.");
            return;
        }
        if(!$userPw.val()){
            alert("비밀번호를 입력해주세요.");
            return;
        }

        $userForm.submit();
    }

    /*로그인 엔터*/
    $("#login_form").keypress(function (e) {
        if (e.keyCode === 13) {
            loginCheck();
        }
    });
    
</script>

</html>