<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/asset/css/acc_reservation2.css">
    <link rel="stylesheet" href="../../static/asset/css/header.css">
    <link rel="stylesheet" href="../../static/asset/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $("#header").load("../header.html");
        });
    </script>
    <script>
        $(function () {
            $("#footer").load("../footer.html");
        });
    </script>
    <style>
        /*서비스 신청 목록 네비게이션*/
        .menu03, .menu04{
            display: none!important;
        }
    </style>
</head>
<body>
<header id="header"></header>
<div class="sub_page_wrap">
    <div class="sub_title_wrap sub_bg02">
        <!-- sub_title -->
        <div class="sub_title">
            <p>지금 바로<br>돌보미를 이용하세요!</p>
            <p>항상 최선을 다하겠습니다.</p>
            <br>
            <br>
            <div class="img_bg02"><img src="https://www.mosimi.co.kr/resource/images/common/img_sub02.svg"></div>
            <div class="heart_bg"></div>
        </div>
        <hr style="border : 0px; width: 100%;
            border-top: 2px solid #e8e6e7;"/>
    </div>
    <div class="sc-RbTVP dZclmO">
        <div class="sc-jUpvKA jQyKPd">
            <div class="sc-hMrMfs hjxjIk">
                <button class="sc-drlKqa kAufHg">
                    기본 정보 입력
                </button>
                <img src="https://www.withmate.kr/assets/images/stepper.png" alt="화살표" class="sc-jxGEyO cvJJsZ">
                <button class="sc-drlKqa eWwIcG">
                    서비스 신청 정보 입력
                </button>
                <img src="https://www.withmate.kr/assets/images/stepper.png" alt="화살표" class="sc-jxGEyO cvJJsZ">
                <button class="sc-drlKqa kAufHg">
                    매칭 신청 확인
                </button><img src="https://www.withmate.kr/assets/images/stepper.png" alt="화살표" class="sc-jxGEyO cvJJsZ">
                <button class="sc-drlKqa kAufHg">
                    신청 완료
                </button>
            </div>
        </div>
    </div>
    <div class="sc-bhlBdH bCJAMY">
        <div class="sc-AnqlK ctKjik">
            <h3 class="sc-keFjpB gbVVya">이것만 하면 매칭 신청이 끝나요!</h3>
            <div class="sc-VigVT fBAfGH"></div>
            <span class="sc-crNyjn hEIVhP" style="margin-top: 0px; margin-bottom: 0px;">
                    예약 정보 입력
                </span>
            <div class="sc-VigVT ffyjKW"></div>
            <div class="sc-fjdhpX hoWkSp">
                <span>* </span>
                동행 인력 희망 성별
            </div>
            <div class="sc-ekkqgF dxikPE div2">
                <span class="inactive div2">상관없음</span>
                <span class="inactive div2">남성</span>
                <span class="inactive div2">여성</span>
            </div>
            <div class="sc-VigVT lafcRZ"></div>
            <div class="sc-fjdhpX hoWkSp">
                <span>* </span>
                희망 예약일 및 방문 시간
            </div>
            <div class="ant-picker sc-hMqMXs cWomFl">
                <input type="datetime-local" id="date" name="scheduleDate" min="09:00" max="17:00" step="900" required style="width: 100%;
                    height: 37px;
                    line-height: 43px;
                    border: 1px solid rgb(233, 233, 233);
                    padding: 0px 11px;
                    border-radius: 4px;
                    font-size: 13px;" >
                <!-- <div class="ant-picker-input">
                    <input readonly="" placeholder="진료 예약일을 설정해주세요." title="" size="12" name="reserveDate" autocomplete="off" value="">
                    <span class="ant-picker-suffix">
                        <!-- <span role="img" aria-label="calendar" class="anticon anticon-calendar">
                            <svg viewBox="64 64 896 896" focusable="false" data-icon="calendar" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                <path d="M880 184H712v-64c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v64H384v-64c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v64H144c-17.7 0-32 14.3-32 32v664c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V216c0-17.7-14.3-32-32-32zm-40 656H184V460h656v380zM184 392V256h128v48c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-48h256v48c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-48h128v136H184z"></path>
                            </svg>
                        </span>
                    </span>
                </div> -->
            </div>
            <!-- <div class="sc-VigVT lafcRZ"></div>
            <div class="sc-fjdhpX hoWkSp">
                <span>* </span>
                매니저의 목적지 도착 희망 시간
                <!-- <span class="sc-iBmynh dIIDbD">(진료 병원, 입원 병원 등)</span>
            </div>
            <div class="sc-dxgOiQ iQRFrD">
                <div style="flex: 1 1 0%;">
                    <input placeholder="13" name="meetTime" maxlength="2" class="ant-input sc-jzJRlG iaafvp" type="text" value="">
                </div>
                <div style="flex: 1 1 0%;">
                    <input placeholder="30" name="meetMinute" maxlength="2" class="ant-input sc-jzJRlG iaafvp" type="text" value="">
                </div>
            </div> -->
            <div class="sc-VigVT lafcRZ"></div>
            <div class="sc-fjdhpX hoWkSp">
                <span>* </span>
                예상 소요 시간
            </div>
            <div class="ant-select sc-kGXeez bqHxwH ant-select-single ant-select-show-arrow">
                <div class="ant-select-selector">
                    <!-- <span class="ant-select-selection-search">
                        <input autocomplete="off" type="search" class="ant-select-selection-search-input" role="combobox" aria-haspopup="listbox" aria-owns="rc_select_1_list" aria-autocomplete="list" aria-controls="rc_select_1_list" aria-activedescendant="rc_select_1_list_0" readonly="" unselectable="on" value="" style="opacity: 0;" id="rc_select_1">
                    </span> -->
                    <!-- <span class="ant-select-selection-placeholder">
                            예상 소요 시간을 선택해주세요.
                    </span> -->
                    <select id="serviceDtlCd" name="serviceDtlCd" style=" width: 100%;
                        height: 37px;
                        line-height: 43px;
                        border: 1px solid rgb(233, 233, 233);
                        padding: 0px 11px;
                        border-radius: 4px;
                        font-size: 13px;

                    ">
                        <option data-high-code="SV20" value="SD40">1시간</option>
                        <option data-high-code="SV20" value="SD45">2시간</option>
                        <option data-high-code="SV20" value="SD50">3시간</option>
                        <option data-high-code="SV20" value="SD70">4시간</option>
                        <option data-high-code="SV20" value="SD90">5시간</option>
                        <option data-high-code="SV20" value="SD100">6시간</option>
                        <option data-high-code="SV20" value="SD110">7시간</option>
                        <option data-high-code="SV20" value="SD120">8시간</option>
                        <option data-high-code="SV20" value="SD130">9시간</option>
                    </select>
                </div>
                <span class="ant-select-arrow" unselectable="on" aria-hidden="true" style="user-select: none;">
                            <span role="img" aria-label="down" class="anticon anticon-down ant-select-suffix">
                                <svg viewBox="64 64 896 896" focusable="false" data-icon="down" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                    <path d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"></path>
                                </svg>
                            </span>
                        </span>
            </div>
            <!-- <div class="sc-VigVT lafcRZ"></div>
            <div class="sc-fjdhpX hoWkSp">
                <span>* </span>
                매니저가 주의해야 할 점이 있을까요?
            </div>
            <input type="text" placeholder="동행시 주의사항을 입력하세요." class="ant-input sc-jzJRlG iaafvp" value="">
            <label class="ant-checkbox-wrapper">
                <span class="ant-checkbox">
                    <input type="checkbox" class="ant-checkbox-input" value="">
                    <span class="ant-checkbox-inner"></span>
                </span>
                <span>없어요</span>
            </label> -->
            <div class="sc-VigVT ffyjKW"></div>
            <div class="sc-fjdhpX hoWkSp">
                기타 요청 및 전달 사항
            </div>
            <textarea type="text" middle="true" placeholder="메니저님께 요청 및 전달하는 사항을 입력해주세요." style="resize: none;" name="comment" class="ant-input sc-kgoBCf jdYHBr"></textarea>
            <div class="sc-VigVT ffyjKW"></div>
            <div class="sc-gleUXh ccaDJS">
                <img src="	https://www.withmate.kr/assets/images/art_basic.png" alt="스텝이미지">
            </div>
        </div>
        <div class="sc-brqgnP sc-jgVwMx dtbczn">
            <a class="sc-hSdWYo sc-cvbbAY sc-jWBwVP pYUPR" onclick="location.href='acc_reservation1.html'">이전으로</a>
            <a class="sc-hSdWYo sc-cvbbAY sc-jWBwVP kiStqG" onclick="location.href='acc_reservation3.html'">다음 단계로가기</a>
        </div>
    </div>
</div>
<footer id="footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../static/asset/js/reservation.js"></script>
<script>
    $("#btnLogin").click(function(){
        if(!$(this).attr('class').match('on')){
            $(this).addClass('on');
            $(".fnc_user_wrap").addClass('on');
        }else{
            $(this).removeClass('on');
            $(".fnc_user_wrap").removeClass('on');
        }
    })




</script>

</html>