<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/asset/css/acc_reservation3.css">
    <link rel="stylesheet" href="/asset/css/header.css">
    <link rel="stylesheet" href="/asset/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /*서비스 신청 목록 네비게이션*/
        .menu03, .menu04{
            display: none!important;
        }

        @media(max-width: 918px){

            body{
                height: 2127px;
            }
            .sub_page_wrap{
                padding: 0 30px 0 30px;
            }

            .sc-hMrMfs > *{
                font-size: 13px;
            }

            .sub_title p{
                font-size: 43px;
            }
            .sc-bhlBdH{
                width: 100%;
            }
            .jQyKPd{
                width: 100%;
            }
            div.sc-gGCbJM > *{
                width: 100%;
            }

            .bCJAMY{
                background-color: #fff;
            }

            .ctKjik {
                width: 100%;
            }
            .dZclmO {
                width: 100%;
            }
            div.sub_title{
                width: 100%;
            }
            .sub_title_wrap.sub_bg02 .sub_title p{
                justify-content: center;
                text-align: center;
            }
            .img_bg02, .heart_bg{
                display: none;
            }

            .fSUfMk{
                position: absolute;
                bottom: -1176px;
                width: 87%;
            }
            .eLWZEs > div:first-child{
                margin: 0;
            }

            .dtbczn{
                position: relative;
                bottom: -532px;
                margin-bottom: 64px;
            }
        }
    </style>
</head>
<body>
<header th:replace="header.html"></header>
<div class="sub_page_wrap">
    <div class="sub_title_wrap sub_bg02">
        <!-- sub_title -->
        <div class="sub_title">
            <p>지금 바로<br>돌보미를 이용하세요!</p>
            <p>항상 최선을 다하겠습니다.</p>
            <br>
            <br>
            <div class="img_bg02"><img src="https://www.mosimi.co.kr/resource/images/common/img_sub02.svg"></div>
            <div class="heart_bg"></div>
        </div>
        <hr style="border : 0px; width: 100%;
            border-top: 2px solid #e8e6e7;"/>
    </div>
    <div class="sc-RbTVP dZclmO">
        <div class="sc-jUpvKA jQyKPd">
            <div class="sc-hMrMfs hjxjIk">
                <button class="sc-drlKqa kAufHg">
                    기본 정보 입력
                </button>
                <img src="https://www.withmate.kr/assets/images/stepper.png" alt="화살표" class="sc-jxGEyO cvJJsZ">
                <button class="sc-drlKqa kAufHg">
                    서비스 신청
                </button>
                <img src="https://www.withmate.kr/assets/images/stepper.png" alt="화살표" class="sc-jxGEyO cvJJsZ">
                <button class="sc-drlKqa eWwIcG">
                    매칭 신청 확인
                </button><img src="https://www.withmate.kr/assets/images/stepper.png" alt="화살표" class="sc-jxGEyO cvJJsZ">
                <button class="sc-drlKqa kAufHg">
                    신청 완료
                </button>
            </div>
        </div>
    </div>
    <div class="sc-bhlBdH bCJAMY">
        <div class="sc-fKGOjr eLWZEs">
            <div class="sc-AnqlK ctKjik" th:object="${accReservationVO}">
              <form method="post" action="/user/reservAcc" name="reservAccForm" style="position: relative">
                <input type="hidden" th:field="*{accReservationType}">
                <input type="hidden" th:field="*{accReservationDate}">
                <input type="hidden" th:field="*{accReservationTime}">
                <input type="hidden" th:field="*{accReservationName}">
                <input type="hidden" th:field="*{accReservationAge}">
                <input type="hidden" th:field="*{accReservationPhoneNum}">
                <input type="hidden" th:field="*{accReservationGender}">
                <input type="hidden" th:field="*{accReservationAddPhoneNum}">
                <input type="hidden" th:field="*{accReservationRelation}">
                <input type="hidden" th:field="*{accReservationEndAddress}">
                <input type="hidden" th:field="*{accReservationStartAddress}">
                <input type="hidden" th:field="*{userEmail}">
                <input type="hidden" th:field="*{accReservationAddRequire}">
                <input type="hidden" th:field="*{accReservationHopeGender}">
                <input type="hidden" th:field="*{accReservationPrice}">
                <h3 class="sc-keFjpB gbVVya">신청 내역을 알려드릴게요!</h3>
                <div class="sc-VigVT fBAfGH"></div>
                <!--                     <div class="sc-fjdhpX hoWkSp">선택하신 서비스</div>
                                    <h5 class="sc-kVrTmx faoOWJ">경기도 병원 동행 서비스 Basic</h5> -->
                <span class="sc-chAAoq imOwIa" style="margin-top: 0px; margin-bottom: 0px;">신청 내역</span>
                <div class="sc-VigVT ffyjKW"></div>
                <div class="sc-dxgOiQ iQRFrD">
                    <div style="flex: 1 1 0%;">
                        <div class="sc-fjdhpX hoWkSp">
                            <span>* </span>신청자 성함
                        </div>
                        <span class="ant-input-affix-wrapper ant-input-affix-wrapper-disabled sc-jzJRlG iaafvp">
                            <input type="text" placeholder="" maxlength="24" name="patient" disabled="" class="ant-input ant-input-disabled sc-jzJRlG iaafvp" th:field="*{accReservationName}">
                        </span>
                    </div>
                    <div style="flex: 1 1 0%;">
                        <div class="sc-fjdhpX hoWkSp">
                            <span>* </span>신청자 나이
                        </div>
                        <span class="ant-input-affix-wrapper ant-input-affix-wrapper-disabled sc-jzJRlG iaafvp">
                                <input type="text" maxlength="2" placeholder="" name="age" disabled="" class="ant-input ant-input-disabled" th:field="*{accReservationAge}">
                                <span class="ant-input-suffix">세</span>
                            </span>
                    </div>
                </div>
                <div class="sc-VigVT lafcRZ"></div>
                <div class="sc-dxgOiQ iQRFrD">
                    <div style="flex: 1 1 0%;">
                        <div class="sc-fjdhpX hoWkSp">
                            <span>* </span>신청자 연락처
                        </div>
                        <span class="ant-input-affix-wrapper ant-input-affix-wrapper-disabled sc-jzJRlG iaafvp">
                            <input type="text" placeholder="" maxlength="11" name="contact" disabled="" class="ant-input ant-input-disabled sc-jzJRlG iaafvp" th:field="*{accReservationPhoneNum}">
                        </span>
                    </div>
                </div>
                <div class="sc-VigVT lafcRZ"></div>
                <div class="sc-dxgOiQ iQRFrD">
                    <div style="flex: 1 1 0%;">
                        <div class="sc-fjdhpX hoWkSp">
                            <span>* </span>보호자 연락처
                        </div>
                        <span class="ant-input-affix-wrapper ant-input-affix-wrapper-disabled sc-jzJRlG iaafvp">
                            <input type="text" placeholder="" maxlength="11" name="guardContact" disabled="" class="ant-input ant-input-disabled sc-jzJRlG iaafvp" th:field="*{accReservationAddPhoneNum}">
                        </span>
                    </div>
                    <div style="flex: 1 1 0%;">
                        <div class="sc-fjdhpX hoWkSp">
                            <span>* </span>신청자와의 관계
                        </div>
                        <span class="ant-input-affix-wrapper ant-input-affix-wrapper-disabled sc-jzJRlG iaafvp">
                         <input type="text" placeholder="" name="relate" disabled="" class="ant-input ant-input-disabled sc-jzJRlG iaafvp" th:field="*{accReservationRelation}">
                        </span>
                    </div>
                </div>
                <div class="sc-VigVT lafcRZ"></div>
                <div class="sc-dxgOiQ iQRFrD">
                    <div style="flex: 1 1 0%;">
                        <div class="sc-fjdhpX hoWkSp">
                            <span>* </span>신청자 성별
                        </div>
                        <span class="ant-input-affix-wrapper ant-input-affix-wrapper-disabled sc-jzJRlG iaafvp">
                            <input type="text" placeholder="" name="sex" disabled="" class="ant-input ant-input-disabled sc-jzJRlG iaafvp" value="남자" th:if="${accReservationVO.accReservationGender.toString().equals('M')}">
                            <input type="text" placeholder="" name="sex" disabled="" class="ant-input ant-input-disabled sc-jzJRlG iaafvp" value="여자" th:unless="${accReservationVO.accReservationGender.toString().equals('M')}">
                        </span>
                    </div>
                    <div style="flex: 1 1 0%;">
                        <div class="sc-fjdhpX hoWkSp">
                            <span>* </span>매니저 희망 성별
                        </div>
                        <span class="ant-input-affix-wrapper ant-input-affix-wrapper-disabled sc-jzJRlG iaafvp">
                            <th:block th:switch="*{accReservationHopeGender}">
                                <input type="text" name="mateGender" value="남자" disabled="" class="ant-input ant-input-disabled sc-jzJRlG iaafvp" th:case="M">
                                <input type="text" name="mateGender" value="여자" disabled="" class="ant-input ant-input-disabled sc-jzJRlG iaafvp" th:case="W"}>
                                <input type="text" name="mateGender" value="선택 안함" disabled="" class="ant-input ant-input-disabled sc-jzJRlG iaafvp" th:case="N">
                            </th:block>
                        </span>
                    </div>
                </div>
                <div class="sc-VigVT lafcRZ"></div>
                <div class="sc-fjdhpX hoWkSp">
                    <span>* </span>목적지 주소
                </div>
                <span class="ant-input-affix-wrapper ant-input-affix-wrapper-disabled sc-jzJRlG iaafvp">
                    <input type="text" placeholder="" name="destination" disabled="" class="ant-input ant-input-disabled sc-jzJRlG iaafvp" th:field="*{accReservationEndAddress}">
                </span>
                <div class="sc-VigVT lafcRZ"></div>
                <div class="sc-fjdhpX hoWkSp">
                    <span>* </span>출발지 주소
                </div>
                <span class="ant-input-affix-wrapper ant-input-affix-wrapper-disabled sc-jzJRlG iaafvp">
                    <input type="text" placeholder="" name="destination" disabled="" class="ant-input ant-input-disabled sc-jzJRlG iaafvp" th:field="*{accReservationStartAddress}">
                </span>
                <div class="sc-VigVT lafcRZ"></div>
                <div class="sc-fjdhpX hoWkSp">
                    <span>* </span>동행 일정 및 방문시간
                </div>
                <span class="ant-input-affix-wrapper ant-input-affix-wrapper-disabled sc-jzJRlG iaafvp">
                    <input type="text" placeholder="" maxlength="24" name="reserveDate" disabled="" class="ant-input ant-input-disabled sc-jzJRlG iaafvp" value="">
                </span>
                <div class="sc-VigVT ffyjKW"></div>
                <div class="sc-fjdhpX hoWkSp">
                    <span>* </span>기타 요청 및 전달 사항
                </div>
                <textarea type="text" placeholder="" name="comment" disabled="" class="ant-input sc-kgoBCf bRJVVz ant-input-disabled" style="width: 100%;
                    height: 160px;
                    resize: none;
                " th:field="*{accReservationAddRequire}"></textarea>
            </div>
            <div class="sc-AnqlK sc-jvEmr fSUfMk">
                <h3 class="sc-keFjpB gbVVya">결제 내역</h3>
                <div class="sc-VigVT fBAfGH"></div>
                <div class="sc-hycgNl drEvHc">
                    <span class="sc-chAAoq imOwIa">예상 비용</span>
                    <span class="sc-dTLGrV isBFxc"></span>
                </div>
                <div class="sc-hycgNl frROqY">
                        <span class="sc-ivVeuv enWdbi">
                            <span>ㄴ</span>
                            결제 수단
                        </span>
                    <span value="true" class="sc-cCbXAZ kdoYci"></span>
                </div>
                <div class="sc-hycgNl bpZETV">
                    <span class="sc-chAAoq imOwIa">확정 비용</span>
                    <span class="sc-dTLGrV isBFxc"></span>
                </div>
                <div class="sc-VigVT lafcRZ"></div>
                <div class="sc-VigVT lafcRZ"></div>
                <span class="sc-kVrTmx gREFUn" style="margin-top: 0px; margin-bottom: 0px;">서비스 안내 사항</span>
                <div class="sc-VigVT ffyjKW"></div>
                <div class="sc-cgHJcJ iGsrDu"><img src="https://www.withmate.kr/assets/images/w_check.png" alt="아이콘">돌보미 서비스는 후불제이며, 모든 서비스가 종료된 이후 최종 요금 안내에 따라 계좌 이체를 통한 결제를 진행해주시면 됩니다.</div>
                <div class="sc-VigVT ffyjKW"></div>
                <div class="sc-cgHJcJ iGsrDu"><img src="https://www.withmate.kr/assets/images/w_check.png" alt="아이콘">택시비와 진료비 등의 부가 비용은 고객님께서 부담해주셔야 합니다.</div>
              </form>
            </div>
        </div>

        <div class="sc-brqgnP sc-jgVwMx dtbczn">
            <a class="sc-hSdWYo sc-cvbbAY sc-jWBwVP pYUPR" onclick="history.back()">이전으로</a>
            <a class="sc-hSdWYo sc-cvbbAY sc-jWBwVP kiStqG" onclick="reservAcc();">신청 완료하기</a>
        </div>
    </div>
</div>
<footer th:replace="footer.html"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    let accReservationType = $("input[name='accReservationType']").val();
    let accReservationTime = $("input[name='accReservationTime']").val();
    let accReservationDate = $("input[name='accReservationDate']").val();

    let accReservationDateTime = accReservationDate+"".substring(accReservationDate+"".indexOf("T")+1, 2);
    let accReservationDateTimes = parseInt(accReservationDateTime);
    let AMPM = accReservationDateTimes >= 1 && accReservationDateTimes < 13 ? "오전" : "오후";
    let accReservationDateAr = accReservationDateTime.split("T");
    let accReservationDates = accReservationDateAr[0] + " " + AMPM + " " + accReservationDateAr[1];

    let typeTimeDate = accReservationType + "(" + accReservationTime + "시간) " + accReservationDates;

    $("input[name='reserveDate']").val(typeTimeDate);

    $("span.isBFxc").text(accReservationTime+"0,000원");


    $("#btnLogin").click(function () {
        if (!$(this).attr('class').match('on')) {
            $(this).addClass('on');
            $(".fnc_user_wrap").addClass('on');
        } else {
            $(this).removeClass('on');
            $(".fnc_user_wrap").removeClass('on');
        }
    })


    function reservAcc(){

        var result = confirm("예약하시겠습니까?");
        if(result){
            reservAccForm.submit();
        }else {
            return;
        }
    }

</script>
</html>