<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/asset/css/acc_reservation2.css">
    <link rel="stylesheet" href="/asset/css/header.css">
    <link rel="stylesheet" href="/asset/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        /*서비스 신청 목록 네비게이션*/
        .menu03, .menu04{
            display: none!important;
        }
    </style>
</head>
<body>
<header th:replace="header.html"></header>
<div class="sub_page_wrap">
    <div class="sub_title_wrap sub_bg02">
        <!-- sub_title -->
        <div class="sub_title">
            <p>지금 바로<br>돌보미를 이용하세요!</p>
            <p>항상 최선을 다하겠습니다.</p>
            <br>
            <br>
            <div class="img_bg02"><img src="https://www.mosimi.co.kr/resource/images/common/img_sub02.svg"></div>
            <div class="heart_bg"></div>
        </div>
        <hr style="border : 0px; width: 100%;
            border-top: 2px solid #e8e6e7;"/>
    </div>
    <div class="sc-RbTVP dZclmO">
        <div class="sc-jUpvKA jQyKPd">
            <div class="sc-hMrMfs hjxjIk">
                <button class="sc-drlKqa kAufHg">
                    기본 정보 입력
                </button>
                <img src="https://www.withmate.kr/assets/images/stepper.png" alt="화살표" class="sc-jxGEyO cvJJsZ">
                <button class="sc-drlKqa eWwIcG">
                    서비스 신청 정보 입력
                </button>
                <img src="https://www.withmate.kr/assets/images/stepper.png" alt="화살표" class="sc-jxGEyO cvJJsZ">
                <button class="sc-drlKqa kAufHg">
                    매칭 신청 확인
                </button><img src="https://www.withmate.kr/assets/images/stepper.png" alt="화살표" class="sc-jxGEyO cvJJsZ">
                <button class="sc-drlKqa kAufHg">
                    신청 완료
                </button>
            </div>
        </div>
    </div>
    <div class="sc-bhlBdH bCJAMY">
        <div class="sc-AnqlK ctKjik" th:object="${accReservationVO}">
           <form method="post" action="/user/acc_reservation3" name="accForm2" style="position: relative">
               <input type="hidden" th:field="*{userEmail}">
               <input type="hidden" th:field="*{accReservationType}">
               <input type="hidden" th:field="*{accReservationGender}">
               <input type="hidden" th:field="*{accReservationEndAddress}">
               <input type="hidden" th:field="*{accReservationStartAddress}">
               <input type="hidden" th:field="*{accReservationName}">
               <input type="hidden" th:field="*{accReservationAge}">
               <input type="hidden" th:field="*{accReservationPhoneNum}">
               <input type="hidden" th:field="*{accReservationAddPhoneNum}">
               <input type="hidden" th:field="*{accReservationRelation}">
               <input type="hidden" name="accReservationPrice">
            <h3 class="sc-keFjpB gbVVya">이것만 하면 매칭 신청이 끝나요!</h3>
               <div class="sc-VigVT fBAfGH"></div>
               <span class="sc-crNyjn hEIVhP" style="margin-top: 0px; margin-bottom: 0px;">
                    예약 정보 입력
                </span>
               <div class="sc-VigVT ffyjKW"></div>
               <div class="sc-fjdhpX hoWkSp">
                   <span>* </span>
                   동행 인력 희망 성별
               </div>
               <input type="hidden" name="accReservationHopeGender" value="">
               <div class="sc-ekkqgF dxikPE div2">
                <span class="inactive div2" id="N">상관없음</span>
                <span class="inactive div2" id="M">남성</span>
                <span class="inactive div2" id="W">여성</span>
            </div>
            <div class="sc-VigVT lafcRZ"></div>
            <div class="sc-fjdhpX hoWkSp">
                <span>* </span>
                희망 예약일 및 방문 시간
            </div>
            <div class="ant-picker sc-hMqMXs cWomFl">
                <input type="datetime-local" id="date" name="accReservationDate" min="09:00" max="17:00" step="900" required style="width: 100%;
                    height: 37px;
                    line-height: 43px;
                    border: 1px solid rgb(233, 233, 233);
                    padding: 0px 11px;
                    border-radius: 4px;
                    font-size: 13px;" value="">

            </div>

            <div class="sc-VigVT lafcRZ"></div>
            <div class="sc-fjdhpX hoWkSp">
                <span>* </span>
                예상 소요 시간
            </div>
            <div class="ant-select sc-kGXeez bqHxwH ant-select-single ant-select-show-arrow">
                <div class="ant-select-selector" th:if="*{accReservationType.toString().equals('One Day')}">
                    <input type="hidden" name="accReservationTime">
                    <select id="serviceDtlCd" name="accReservationTimeSelect" style=" width: 100%;
                        height: 37px;
                        line-height: 43px;
                        border: 1px solid rgb(233, 233, 233);
                        padding: 0px 11px;
                        border-radius: 4px;
                        font-size: 13px;

                    ">
                        <option data-high-code="SV20" value="">선택</option>
                        <option data-high-code="SV20" value="9">9시간</option>
                    </select>
                </div>
                <div class="ant-select-selector" th:unless="*{accReservationType.toString().equals('One Day')}">
                    <input type="hidden" name="accReservationTime">
                    <select id="serviceDtlCd" name="accReservationTimeSelect" style=" width: 100%;
                        height: 37px;
                        line-height: 43px;
                        border: 1px solid rgb(233, 233, 233);
                        padding: 0px 11px;
                        border-radius: 4px;
                        font-size: 13px;">
                        <option data-high-code="SV20" value="">선택</option>
                        <option data-high-code="SV20" value="1">1시간</option>
                        <option data-high-code="SV20" value="2">2시간</option>
                        <option data-high-code="SV20" value="3">3시간</option>
                        <option data-high-code="SV20" value="4">4시간</option>
                        <option data-high-code="SV20" value="5">5시간</option>
                        <option data-high-code="SV20" value="6">6시간</option>
                        <option data-high-code="SV20" value="7">7시간</option>
                        <option data-high-code="SV20" value="8">8시간</option>
                        <option data-high-code="SV20" value="9">9시간</option>
                    </select>
                </div>
            </div>
               <div class="sc-VigVT ffyjKW"></div>
               <div class="sc-fjdhpX hoWkSp">
                기타 요청 및 전달 사항
            </div>
               <textarea type="text" middle="true" placeholder="메니저님께 요청 및 전달하는 사항을 입력해주세요." style="resize: none;" name="accReservationAddRequire" class="ant-input sc-kgoBCf jdYHBr"></textarea>
               <div class="sc-VigVT ffyjKW"></div>
               <div class="sc-gleUXh ccaDJS">
                <img src="	https://www.withmate.kr/assets/images/art_basic.png" alt="스텝이미지">
            </div>
           </form>
        </div>
        <div class="sc-brqgnP sc-jgVwMx dtbczn">
            <a class="sc-hSdWYo sc-cvbbAY sc-jWBwVP pYUPR" onclick="history.back()">이전으로</a>
            <a class="sc-hSdWYo sc-cvbbAY sc-jWBwVP kiStqG" onclick="nextForm()">다음 단계로가기</a>
        </div>
    </div>
</div>
<footer th:replace="footer.html"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/asset/js/reservation.js"></script>
<script>
    let $accForm2 = $(accForm2);
    let $accReservationDate = $("input[name='accReservationDate']");
    let $accReservationHopeGender = $("input[name='accReservationHopeGender']");
    let $accReservationAddRequire = $("textarea[name='accReservationAddRequire']");
    let $accReservationTime = $("input[name='accReservationTime']");

    /*이용시간 선택*/
    $("select[name='accReservationTimeSelect']").change(function(){
        $accReservationTime.val($(this).val());
        $("input[name='accReservationPrice']").val($(this).val() + "0000");

    });
    function nextForm() {

        if(!$accReservationHopeGender.val()){
            alert("희망하는 매니저의 성별을 골라주세요.")
            return;
        }

        if(!$accReservationDate.val()){
            alert("예약날짜를 정해주세요.")
            return;
        }

        if(!$accReservationTime.val()){
            alert("이용시간을 정해주세요.")
            return;
        }

        $accForm2.submit();
    }

    $("#btnLogin").click(function(){
        if(!$(this).attr('class').match('on')){
            $(this).addClass('on');
            $(".fnc_user_wrap").addClass('on');
        }else{
            $(this).removeClass('on');
            $(".fnc_user_wrap").removeClass('on');
        }
    })
</script>
<script>
    var div2 = document.getElementsByClassName("div2");

    function handleClick(event) {
        // console.log(this);
        // 콘솔창을 보면 둘다 동일한 값이 나온다

        if (event.target.classList[1] === "clicked") {
            event.target.classList.remove("clicked");
        } else {
            for (var i = 0; i < div2.length; i++) {
                div2[i].classList.remove("clicked");
            }

            event.target.classList.add("clicked");
            $accReservationHopeGender.val(event.target.id);
        }
    }

    function init() {
        for (var i = 0; i < div2.length; i++) {
            div2[i].addEventListener("click", handleClick);
        }
    }

    init();

</script>
</html>