<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/asset/css/care_reservation1.css">
    <link rel="stylesheet" href="/asset/css/header.css">
    <link rel="stylesheet" href="/asset/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /*서비스 신청 목록 네비게이션*/
        .menu03, .menu04{
            display: none!important;
        }

        @media(max-width: 918px){


            .sub_page_wrap{
                padding: 0 30px 0 30px;
            }

            .sc-hMrMfs > *{
                font-size: 13px;
            }

            .sub_title p{
                font-size: 43px;
            }
            .sc-bhlBdH{
                width: 100%;
            }
            .jQyKPd{
                width: 100%;
            }
            div.sc-gGCbJM > *{
                width: 100%;
            }

            .form_wrap .adress{
                width: 100%;
            }
            .bCJAMY{
                background-color: #fff;
            }

            .ctKjik {
                width: 100%;
            }
            .dZclmO {
                width: 100%;
            }
            div.sub_title{
                width: 100%;
            }
            .sub_title_wrap.sub_bg02 .sub_title p{
                justify-content: center;
                text-align: center;
            }
            .img_bg02, .heart_bg{
                display: none;
            }
            div#wrap3{
                left: 2px;
                width: 354px;
                height: 309px!important;
            }
        }
    </style>
</head>
<body>
<header th:replace="header.html"></header>
<div class="sub_page_wrap">
    <div class="sub_title_wrap sub_bg02">
        <!-- sub_title -->
        <div class="sub_title">
            <p>지금 바로<br>돌보미를 이용하세요!</p>
            <p>항상 최선을 다하겠습니다.</p>
            <br>
            <br>
            <div class="img_bg02"><img src="https://www.mosimi.co.kr/resource/images/common/img_sub02.svg"></div>
            <div class="heart_bg"></div>
        </div>
        <hr style="border : 0px; width: 100%;
            border-top: 2px solid #e8e6e7;"/>
    </div>
    <div class="sc-RbTVP dZclmO">
        <div class="sc-jUpvKA jQyKPd">
            <div class="sc-hMrMfs hjxjIk">
                <button class="sc-drlKqa eWwIcG">
                    기본 정보 입력
                </button>
                <img src="https://www.withmate.kr/assets/images/stepper.png" alt="화살표" class="sc-jxGEyO cvJJsZ">
                <button class="sc-drlKqa kAufHg">
                    서비스 신청
                </button>
                <img src="https://www.withmate.kr/assets/images/stepper.png" alt="화살표" class="sc-jxGEyO cvJJsZ">
                <button class="sc-drlKqa kAufHg">
                    매칭 신청 확인
                </button><img src="https://www.withmate.kr/assets/images/stepper.png" alt="화살표" class="sc-jxGEyO cvJJsZ">
                <button class="sc-drlKqa kAufHg">
                    신청 완료
                </button>
            </div>
        </div>
    </div>
    <div class="sc-bhlBdH bCJAMY">
        <div class="sc-AnqlK ctKjik">
          <form method="post" action="/user/care_reservation2"  name="careForm1" style="position: relative">
              <input type="hidden" name="userEmail">
              <input type="hidden" name="careReservationType">
              <input type="hidden" name="careReservationGender">
              <input type="hidden" name="careReservationAddress">
              <input type="hidden" name="careReservationRelation">
            <h3 class="sc-keFjpB gbVVya">
                매칭 신청을 시작해볼까요?
            </h3>
            <div class="sc-VigVT lafcRZ">

            </div>
            <div class="sc-fjdhpX hoWkSp">
                돌봄 서비스 선택하기
                <br>
                <br>
                <select id="serviceDtlCd" name="careReservationTypeSelect" class="iaafvp" style=" width: 100%;
                     height: 53px;
                     font-size: 13px;
                     font-weight: 700;
                     color: #282828;
                     border-radius: 6px;
                     padding-left: 10px!important;
                     border-color: rgb(233, 233, 233);
                 ">
                    <option data-high-code="SV20" value="">선택</option>
                    <option data-high-code="SV20" value="아이 돌봄">아이 돌봄</option>
                    <option data-high-code="SV20" value="성인 돌봄">성인 돌봄</option>
                    <option data-high-code="SV20" value="어르신 돌봄">어르신 돌봄</option>
                    <option data-high-code="SV20" value="One Day">One Day</option>
                    <option data-high-code="SV20" value="기타돌봄">기타돌봄</option>
                </select>
            </div>
            <div class="sc-dxgOiQ ifseQn" style="justify-content: space-between;">
                    <span class="sc-crNyjn hEIVhP" style="margin-top: 0px; margin-bottom: 0px;">
                         정보 입력
                    </span>
            </div>
            <div class="sc-dxgOiQ iQRFrD">
                <div style="flex: 1 1 0%;">
                    <div class="sc-fjdhpX hoWkSp">
                        <span>* </span>
                        성함
                    </div>
                    <input type="text" placeholder="이름 입력" maxlength="24" name="careReservationName" class="ant-input sc-jzJRlG iaafvp" value="" style="padding: 0px 11px;">
                </div>
                <div style="flex: 1 1 0%;">
                    <div class="sc-fjdhpX hoWkSp">
                        <span>* </span>
                        나이
                    </div>
                    <span class="ant-input-affix-wrapper sc-jzJRlG">
                            <input type="text" maxlength="2" placeholder="50" name="careReservationAge" class="ant-input" value="">
                            <span class="ant-input-suffix" style="font-size: 13px;
                            padding-top: 4px;">세</span>
                        </span>
                </div>
            </div>
            <div class="sc-VigVT lafcRZ"></div>
            <div class="sc-dxgOiQ iQRFrD">
                <div style="flex: 1 1 0%;">
                    <div class="sc-fjdhpX hoWkSp">
                        <span>* </span>
                        연락처
                    </div>
                    <input type="text" style="padding: 0px 11px;" maxlength="11" placeholder="ex) 01012341234" name="careReservationPhoneNum" class="ant-input sc-jzJRlG iaafvp" value=""></div><div style="flex: 1 1 0%;">
                <div class="sc-fjdhpX hoWkSp">
                    <span>* </span>
                    성별
                </div>
                <div class="sc-ekkqgF dxikPE div1">
                    <span class="inactive div2" id="M">남성</span>
                    <span class="inactive div2" id="W">여성</span>
                </div>
            </div>
            </div>
            <div class="sc-VigVT lafcRZ"></div>
            <div class="sc-dxgOiQ iQRFrD">
                <div style="flex: 1 1 0%;">
                    <div class="sc-fjdhpX hoWkSp">
                        <span>* </span>
                        보호자 연락처
                    </div>
                    <input type="text" style="padding: 0px 11px;" maxlength="11" placeholder="ex) 01012341234" name="careReservationAddPhoneNum" class="ant-input sc-jzJRlG iaafvp" value="">
                </div>
                <div style="flex: 1 1 0%;">
                    <div class="sc-fjdhpX hoWkSp">
                        <span>* </span>
                        신청자와의 관계
                    </div>
                    <div class="ant-select sc-kGXeez bqHxwH ant-select-single ant-select-show-arrow">
                        <div class="">
                                    <span class="ant-select-selection-search">
                                        <select id="serviceDtlCd" name="careReservationRelationSelect" style="     width: 100%;
                                        height: 40px;
                                        line-height: 44px;
                                        margin-bottom: 0px;
                                        color: rgb(22, 22, 22);
                                        font-size: 13px;
                                        font-weight: normal;
                                        border-radius: 4px;
                                        background-color: rgb(255, 255, 255);
                                        border: 1px solid rgb(233, 233, 233) !important;
                                        padding: 0px 11px;">
                                            <option data-high-code="SV20" value="">선택</option>
                                            <option data-high-code="SV20" value="본인">본인</option>
                                            <option data-high-code="SV20" value="자매">자매</option>
                                            <option data-high-code="SV20" value="지인">지인</option>
                                            <option data-high-code="SV20" value="친구">친구</option>
                                            <option data-high-code="SV20" value="기타">기타</option>
                                       </select>
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sc-VigVT lafcRZ"></div>
            <div class="sc-fjdhpX hoWkSp">
                <span>* </span>
                목적지 주소
            </div>
            <div class="form_wrap" id="divDsetination">
                <div class="dp_flex search adress">
                    <input type="text" id="sample3_address" class="iaafvp"  name="destAddr" placeholder="주소 검색" maxlength="30" autocomplete="new-password" style="background: rgba(0,0,0,0.06);">
                    <a class="ico_search" id="btnDestAddr" onclick="sample3_execDaumPostcode()"></a>
                    <div id="wrap3" style="display: none">
                        <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap3" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
                    </div>
                </div>
                <div class="dp_flex adress">
                    <input type="text" id="sample3_detailAddress" class="iaafvp" name="destAddrDtl" placeholder="상세주소" maxlength="30" autocomplete="new-password" style="background: rgba(0,0,0,0.06);">
                </div>
            </div>
            <div class="sc-gleUXh ccaDJS">
                <img src="" alt="스텝이미지">
            </div>
          </form>
        </div>
        <div class="sc-brqgnP sc-jgVwMx dtbczn">
            <a class="sc-hSdWYo sc-cvbbAY sc-jWBwVP pYUPR" onclick="history.back()">이전으로</a>
            <a class="sc-hSdWYo sc-cvbbAY sc-jWBwVP kiStqG" onclick="nextForm();">다음 단계로가기</a>
        </div>
    </div>
</div>
<footer th:replace="footer.html"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    let $careForm1 = $(careForm1);
    let $careReservationType = $("input[name='careReservationType']");
    let $careReservationName = $("input[name='careReservationName']");
    let $careReservationAge = $("input[name='careReservationAge']");
    let $careReservationPhoneNum = $("input[name='careReservationPhoneNum']");
    let $careReservationGender = $("input[name='careReservationGender']");
    let $careReservationAddPhoneNum = $("input[name='careReservationAddPhoneNum']");
    let $careReservationRelation = $("input[name='careReservationRelation']");
    let $careReservationAddress = $("input[name='careReservationAddress']");

    /*타입선택*/
    $("select[name='careReservationTypeSelect']").change(function(){
        $careReservationType.val($(this).val());
    });
    /*관계선택*/
    $("select[name='careReservationRelationSelect']").change(function(){
        $careReservationRelation.val($(this).val());
    });

    function nextForm() {

        $careReservationAddress.val($("#sample3_address").val() + " " + $("#sample3_detailAddress").val());

        console.log($careReservationType.val());
        console.log($careReservationName.val());
        console.log($careReservationAge.val());
        console.log($careReservationPhoneNum.val());
        console.log($careReservationGender.val());
        console.log($careReservationAddPhoneNum.val());
        console.log($careReservationRelation.val());
        console.log($careReservationAddress.val());

        if(!$careReservationType.val()){
            alert("서비스 종류를 선택해주세요.");
            return
        }
        if(!$careReservationName.val()){
            alert("이름을 입력해주세요.");
            return
        }
        if(!$careReservationAge.val()){
            alert("나이를 입력해주세요.");
            return
        }
        if(!$careReservationPhoneNum.val()){
            alert("핸드폰 번호를 입력해주세요.");
            return
        }
        if(!$careReservationGender.val()){
            alert("성별을 선택해주세요.");
            return
        }
        if(!$careReservationAddPhoneNum.val()){
            alert("보호자 연락처를 선택해주세요.");
            return
        }
        if(!$careReservationRelation.val()){
            alert("신청자와의 관계를 선택해주세요.");
            return

        }
        if(!$("#sample3_address").val() || !$("#sample3_detailAddress").val()){
            alert("목적지를 입력해주세요.");
            return
        }

         $careForm1.submit();

    }



    // 우편번호 찾기 찾기 화면을 넣을 element
    var element_wrap = document.getElementById('wrap3');
    function foldDaumPostcode() {

        // iframe을 넣은 element를 안보이게 한다.
        element_wrap.style.display = 'none';
    }

    function sample3_execDaumPostcode() {
        // 현재 scroll 위치를 저장해놓는다.
        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        new daum.Postcode({
            oncomplete: function(data) {
                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById("sample3_address").value = addr;
                $("#wrap3").css('display', 'none');
                // iframe을 넣은 element를 안보이게 한다.
                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                // element_wrap.style.display = 'none';

                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                document.body.scrollTop = currentScroll;
            },
            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
            onresize : function(size) {
                console.log(size);
                element_wrap.style.height = '466px';
            },
            width : '100%',
            height : '100%'
        }).embed(element_wrap);

        // iframe을 넣은 element를 보이게 한다.
        element_wrap.style.display = 'block';
    }
</script>
<script>
    $("#btnLogin").click(function(){
        if(!$(this).attr('class').match('on')){
            $(this).addClass('on');
            $(".fnc_user_wrap").addClass('on');
        }else{
            $(this).removeClass('on');
            $(".fnc_user_wrap").removeClass('on');
        }
    })

</script>
<script>
    var div2 = document.getElementsByClassName("div2");

    function handleClick(event) {
        console.log(event.target);
        // console.log(this);
        // 콘솔창을 보면 둘다 동일한 값이 나온다

        console.log(event.target.classList);

        if (event.target.classList[1] === "clicked") {
            event.target.classList.remove("clicked");
        } else {
            for (var i = 0; i < div2.length; i++) {
                div2[i].classList.remove("clicked");
            }

            event.target.classList.add("clicked");
            $careReservationGender.val(event.target.id);
        }
    }

    function init() {
        for (var i = 0; i < div2.length; i++) {
            div2[i].addEventListener("click", handleClick);
        }
    }

    init();

    $("input[name='careReservationAge']").onfocus(function() {
        $(".ant-input-affix-wrapper").css('border', '1px solid rgb(77, 171, 247)');
    })
</script>
</html>







