<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/asset/css/regi.css">
    <link rel="stylesheet" href="/asset/css/header.css">
    <link rel="stylesheet" href="/asset/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        /*서비스 신청 목록 네비게이션*/
        .menu03{
            display: none!important;
        }
    </style>
</head>

<body>
<header th:replace="header.html"></header>
<div id="root">
    <div id="app-container" class="app-container">

        <div class="main-area">
            <div class="sc-dRCTWM bvYJlY">
                <div class="sc-hzNEM iKMJbd">
                    <div class="register-container">
                        <div class="inner-container">
                            <div class="register-form">
                                <div class="title-wrapper">
                                    <span>2/2</span>
                                    <p>회원가입</p>
                                </div>
                                <div class="form fst">
                                    <div class="sc-VigVT ffyjKW"></div>
                                    <div class="form">
                                        <form method="post" action="/user/regi2"id="joinForm2">
                                    <label>연락처</label><input name="userPhoneNum" type="text"
                                                             maxlength="11" placeholder="숫자만 입력해주세요.(ex. 01014231324)"
                                                             class="ant-input sc-jzJRlG iaafvp" value="">
                                    <button
                                            style="width: 90px; height: 44px;  background-color: rgb(59, 193, 255); border: 0px; outline: 0px; border-radius: 3px;" onclick="location.href='/user/sendcode'">
                                        인증하기
                                    </button>
                                    <input type="text" maxlength="6" placeholder="인증번호를 입력해주세요."
                                           class="ant-input sc-jzJRlG iaafvp" value="" style="width: 203px;">
                                    <div class="sc-VigVT dUXpIL"></div>
                                    <label
                                            style="display: block;">비밀번호</label><input name="userPw" password="true" type="password"
                                                                                       placeholder="10자리 이상 비밀번호를 입력해주세요."
                                                                                       class="ant-input sc-jzJRlG iaafvp">
                                    <div class="sc-VigVT dUXpIL"></div>
                                    <label style="display: block;">비밀번호
                                        확인</label><input type="password" password="true" placeholder="비밀번호를 확인해주세요."
                                                         class="ant-input sc-jzJRlG iaafvp">
                                    <div class="sc-VigVT dUXpIL"></div>
                                    <!--<label style="display: block;">돌보미를 어떻게 알고
                                        오셨나요?</label>

                                    <div class="dropdown">
                                        <button class="dropbtn">

                                            <span class="dropbtn_content">유입경로를 선택해주세요</span>
                                            <span class="dropbtn_click"
                                                  style="font-family: Material Icons; font-size : 16px; color : #3b3b3b; float:right;"
                                                  onclick="dropdown()">arrow_drop_down</span>
                                        </button>
                                        <div class="dropdown-content">
                                            <div class="path" onclick="showMenu(this.innerText)">검색</div>
                                            <div class="path" onclick="showMenu(this.innerText)">언론기사</div>
                                            <div class="path" onclick="showMenu(this.innerText)">광고</div>
                                            <div class="path" onclick="showMenu(this.innerText)">지인추천</div>

                                        </div>
                                    </div>-->
                                    <div class="sc-VigVT dUXpIL"></div>
                                    <!--<label>본인인가요 ? 보호자인가요 ?</label>
                                    <div class="type-button-wrapper">
                                        <div class="type-button active">본인</div>
                                        <div class="type-button ">보호자</div>
                                    </div>-->
                                    <div class="sc-VigVT dUXpIL"></div>
                                    <div class="sc-VigVT dUXpIL"></div>
                                    <button type="button"
                                            class="ant-btn ant-btn-primary"
                                            style="background-color: #3bc1ff; border: 0px; cursor: pointer;" onclick="regi2Confirm()">
                                        <span>가입하기</span>
                                    </button>
                                    </form>
                                    </div>
                                    <div class="link-wrapper"><span class="text">이미 계정이 있으신가요? </span><a
                                            class="link" onclick="location.href='/member/userlogin'">로그인</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<footer th:replace="footer.html"></footer>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function regi2Confirm(){
        /*유효성 검사 작성부분*/

        location.href="/member/mainpage"
    }

    $("#btnLogin").click(function () {
        if (!$(this).attr('class').match('on')) {
            $(this).addClass('on');
            $(".fnc_user_wrap").addClass('on');
        } else {
            $(this).removeClass('on');
            $(".fnc_user_wrap").removeClass('on');
        }
    })


</script>
<script>
    window.onload = () => {
        document.querySelector('.dropbtn_click').onclick = () => {
            dropdown();
        }
        document.getElementsByClassName('path').onclick = () => {
            showMenu(value);
        };
        dropdown = () => {
            var v = document.querySelector('.dropdown-content');
            var dropbtn = document.querySelector('.dropbtn')
            v.classList.toggle('show');
            dropbtn.style.borderColor = 'rgb(94, 94, 94)';
        }

        showMenu = (value) => {
            var dropbtn_icon = document.querySelector('.dropbtn_icon');
            var dropbtn_content = document.querySelector('.dropbtn_content');
            var dropbtn_click = document.querySelector('.dropbtn_click');
            var dropbtn = document.querySelector('.dropbtn');

            dropbtn_icon.innerText = '';
            dropbtn_content.innerText = value;
            dropbtn_content.style.color = '#252525';
            dropbtn.style.borderColor = '#3992a8';
        }
    }
    window.onclick = (e) => {
        if (!e.target.matches('.dropbtn_click')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");

            var dropbtn_icon = document.querySelector('.dropbtn_icon');
            var dropbtn_content = document.querySelector('.dropbtn_content');
            var dropbtn_click = document.querySelector('.dropbtn_click');
            var dropbtn = document.querySelector('.dropbtn');

            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

</html>
