<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/asset/css/regi.css">
    <link rel="stylesheet" href="../../static/asset/css/header.css">
    <link rel="stylesheet" href="../../static/asset/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $("#header").load("../header.html");
        });
    </script>
    <script>
        $(function () {
            $("#footer").load("../footer.html");
        });
    </script>
    <style>
        /*서비스 신청 목록 네비게이션*/
        .menu03{
            display: none!important;
        }
    </style>
</head>

<body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
<header id="header"></header>
<div id="root">
    <div id="app-container" class="app-container">

        <div class="main-area">
            <div class="sc-dRCTWM bvYJlY">
                <div class="sc-hzNEM iKMJbd">
                    <div class="register-container">
                        <div class="inner-container">
                            <div class="register-form">
                                <div class="title-wrapper">
                                    <span>1/2</span>
                                    <p>회원가입</p>
                                </div>
                                <div class="form snd"><label>이름</label><input type="text" placeholder="ex. 홍길동"
                                                                              class="ant-input sc-jzJRlG iaafvp"
                                                                              value="">
                                    <div class="sc-VigVT dUXpIL"></div>
                                    <label>성별</label>
                                    <div class="type-button-wrapper">
                                        <div class="type-button active">남자</div>
                                        <div class="type-button ">여자</div>
                                    </div>
                                    <div class="sc-VigVT dUXpIL"></div>
                                    <label>생년월일</label><input type="text"
                                                              maxlength="8" placeholder="숫자만 입력해주세요 (ex. 19880320)"
                                                              class="ant-input sc-jzJRlG iaafvp" value="">
                                    <div class="form fst"><label>이메일</label>
                                        <div><input type="email" required="" placeholder="ex) example@mail.com"
                                                    class="ant-input sc-jzJRlG iaafvp" value=""
                                                    style="width: 100%;">
                                        </div>
                                    </div>

                                    <div class="sc-VigVT ffyjKW"></div>
                                    <div class="sc-cooIXK fRCQoH">
                                        <input type="checkbox"> <label>&nbsp;&nbsp; 서비스 이용 약관 및 개인 정보 처리 방침 동의</label>
                                    </div>
                                    <p class="sc-gmeYpB bwhqaA">이용약관 확인하기</p>
                                    <p class="sc-gmeYpB bwhqaA">개인정보 처리방침 확인하기</p>
                                    <div class="sc-VigVT dUXpIL"></div>
                                    <button type="button"
                                            class="ant-btn ant-btn-primary"
                                            style="background-color: rgb(230, 230, 230); border: 0px; cursor: not-allowed;">
                                        <span>계속하기</span></button>
                                    <div class="link-wrapper"><span class="text">매니저 신청을 희망하시나요? </span><span
                                            class="link" onclick="location.href='managerapply.html'">매니저 신청하기</span>
                                    </div>
                                    <div class="link-wrapper"><span class="text">이미 계정이 있으신가요? </span><span
                                            class="link">로그인</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<footer id="footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $("#btnLogin").click(function () {
        if (!$(this).attr('class').match('on')) {
            $(this).addClass('on');
            $(".fnc_user_wrap").addClass('on');
        } else {
            $(this).removeClass('on');
            $(".fnc_user_wrap").removeClass('on');
        }
    })


</script>
</html>
