<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:div="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>돌보미|이용후기</title>
    <link rel="stylesheet" href="/asset/css/review.css">
    <link rel="stylesheet" href="/asset/js/review.js">
    <link rel="stylesheet" href="/asset/css/header.css">
    <link rel="stylesheet" href="/asset/css/footer.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<!-- header -->
<header th:replace="header.html"></header>

<!-- main -->
<div id="root">
    <div id="app-container" class="app-container">
        <div class="main-area">
            <div class="sc-kqlzXE kHAYKm">
                <div>
                    <div class="sc-dHIava juTLHf">
                        <div class="sc-jhaWeW dUOvas inner-container" style="padding: 100px 0 0;">
                            <div class="sc-bSbAYC grytNP">
                                <div class="sc-guztPN eszqMv">이용 후기</div>
                                <div class="sc-cFlXAS cqDVA">
                                    <p>고객님의 소중한 후기를 통해 더욱 발전하는</p>
                                    <p> 돌보미가 되겠습니다.</p>
                                </div>
                                <div class="sc-OxbzP jqycvF" onclick="location.href='/user/review2'">후기 작성하기</div>
                                <div class="sc-OxbzP jqycvM" onclick="location.href='/user/myReview'">내가 쓴 후기</div>
                            </div>
                            <div class="sc-bSbAYC grytNP img-cover">
                                <div class="sc-hcnlBt dkbIiH">
                                    <div src="https://www.withmate.kr/assets/images/w_main_crop.png" class="sc-hkbPbT bIzfXR"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sc-fvLVrH kYHgeC inner-container" style="padding: 22px 0;">
                        <div th:each="review:${pageDTO}">
                            <div class="sc-hvvHee gWkDAg" th:object="${review}">
                                <span th:text="*{total}"></span>건
                            </div>
                        </div>
                        <div class="sc-eSePXt kAYtzd tHead">
                            <div class="sc-dXfzlN fFlvkp" style="width: 40px;">번호</div>
                            <div class="sc-dXfzlN fFlvkp" style="flex: 1 1 0%;">서비스</div>
                            <div class="sc-dXfzlN fFlvkp" style="flex: 1 1 0%;">제목</div>
                            <div class="sc-dXfzlN sc-aewfc QKal" style="width: 80px;">작성자</div>
                            <!-- <div class="sc-dXfzlN sc-aewfc QKal" style="width: 120px;">별점</div> -->
                            <div class="sc-dXfzlN sc-aewfc QKal" style="width: 152px;">작성일</div>
                        </div>
                        <div class="ant-collapse ant-collapse-borderless ant-collapse-icon-position-right" style="border: 0; background-color: white">
                            <div:block th:each="review:${reviewList}" class="ant-collapse-item ant-collapse-item-active"
                                       style="background-color: rgb(255, 255, 255); border-color: rgb(230, 230, 230);">
                                <div class="ant-collapse-header header1 B" role="button" tabindex="0" aria-expanded="true">
                                    <div class="sc-iIHjhz mRfGE tBody" th:object="${review}">
                                        <div class="sc-jHZirH djaPsR reviewNum" th:text="*{reviewNum}" style="width: 40px;"></div>
                                        <div class="sc-jHZirH SOOpQ reviewType" th:text="*{reviewType}" style="width: 80px;"></div>
                                        <div class="sc-jHZirH bvbmoW reviewTitle" th:text="*{reviewTitle}" style="flex: 1 1 0%;">
                                        </div>
                                        <div class="sc-jHZirH fIWREi reviewWriter" th:text="*{reviewWriter}" style="width: 80px;"></div>
                                        <div class="sc-jHZirH iGzNxi reviewDate" th:text="*{reviewDate}" style="width: 152px;"></div>
                                    </div>
                                </div>
                                <div class="ant-collapse-content ant-collapse-content-active box1 C" style="display:none">
                                    <div class="ant-collapse-content-box ">
                                        <div class="sc-dKEPtC jwEkpD" th:object="${review}">

                                            <p class="sc-dBAPYN heEFhe reviewContent" th:text="*{reviewContent}"><span><br></span><span>
                                                        <br></span><span><br></span>
                                            </p>
                                            <p class="sc-dBAPYN heEFhe manager_name" style="margin-top: 8px;"></p>
                                        </div>
                                    </div>
                                </div>
                            </div:block>
                        </div>
                    </div>
                </div>
                <div class="big-width" style="text-align: center; margin-bottom: 29px;" >
                    <a class="changePage" th:if="${pageDTO.prev}" th:href="${pageDTO.startPage - 1}"><code>&lt;</code></a>
                    <th:block th:each="num:${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
                        <code th:text="${num}" th:if="${pageDTO.criteria.pageNum == num}"></code>
                        <a class="changePage" th:unless="${pageDTO.criteria.pageNum == num}" th:href="${num}"><code th:text="${num}"></code></a>
                    </th:block>
                    <a class="changePage" th:if="${pageDTO.next}" th:href="${pageDTO.endPage + 1}"><code>&gt;</code></a>
                </div>
                <form action="/user/review" th:object="${criteria}" name="pageForm">
                    <input type="hidden" th:field="*{pageNum}">
                    <input type="hidden" th:field="*{amount}">
                </form>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<footer th:replace="footer.html"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">;
let reviewNum = [[${reviewNum}]];
let $pageForm = $(pageForm);

if(reviewNum != null){
    alert(reviewNum + "번 게시글이 등록되었습니다.");
}

$("a.changePage").on("click", function(e){
    e.preventDefault();
    $pageForm.find("input[name='pageNum']").val($(this).attr("href"));
    $pageForm.submit();
});



</script>
<script>
    $('.B').click(function () {
        $(this).parent().find('.C').toggle('slow');
        /*     $(this).siblings('.C').toggle('slow');
            $(this).next('.C').toggle('slow'); */
    });
</script>
</html>