<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/asset/css/footer.css">
    <link rel="stylesheet" href="/asset/css/header.css">
    <link rel="stylesheet" href="/asset/css/review_m.css">

    <title>이용 내역 선택</title>
</head>
<body>
<header th:replace="header.html"></header>
<div class="sc-jHXLhC dbTkfC">
    <div>
        <div class="sc-dHIava juTLHf" style="    margin-top: 128px;">
            <div class="sc-jhaWeW dUOvas inner-container" style="padding: 0;">
                <div class="sc-bSbAYC grytNP">
                    <div class="sc-guztPN eszqMv">이용 후기 쓰기</div>
                    <div class="sc-cFlXAS cqDVA">
                        <!-- <p>후기 작성 시 서비스 요금 2,000원</p>
                        <p> 할인이 적용됩니다.</p> -->
                    </div>
                    <div class="sc-iFUGim cJwrVV" style="padding-top: 145px;"></div>
                </div>
                <div class="sc-bSbAYC grytNP img-cover">
                    <div class="sc-hcnlBt dkbIiH">
                        <div src="https://www.withmate.kr/assets/images/w_main_crop.png" class="sc-hkbPbT bIzfXR"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sc-bOCYYb kQnPFW">
            <div class="sc-cNQqM ihiUrc inner-container">
                <div class="sc-clBsIJ hdKPHT">
                    <p class="sc-eMRERa egSEER">이용 내역 선택</p>
                    <p class="sc-eqPNPO kPkShx">후기를 작성하실 이용 내역을 선택해주세요</p>
                </div>
                <div class="sc-jotlie fYfqmW">
                    <form action="/user/review2" method="get" name="goReview2">
                        <input type="hidden" name="careReservationType" value="">
                        <input type="hidden" name="accReservationType" value="">
                        <table>
                            <thead>
                            <tr class="tHead">
                                <th class="careReservationNum ">예약번호</th>
                                <th class="careReservationType">서비스</th>
                                <th class="userName">이용자이름</th>
                                <th class="careReservationDate">서비스신청날짜</th>
                                <th class="boardUpdateDate"></th>
                            </tr>
                            </thead>
                            <th:block th:each="care:${careReviewDTO}">
                                <tbody>
                                <tr class="tBody" th:object="${care}">
                                    <td class="careReservationNum" th:text="*{careReservationNum}"></td>
                                    <td class="careReservationType" th:text="*{careReservationType}"></td>
                                    <td class="userName" th:text="*{userName}"></td>
                                    <!--<td class="managerName" th:text="*{managerName}"></td>-->
                                    <td class="careReservationDate" th:text="*{#strings.substring(careReservationDate,0,10)}"></td>
                                    <td>
                                        <a id="careReservation" th:href="*{careReservationType}" style="    width: 55px;
                                            text-align: center;
                                            font-size: inherit;
                                            border: 1px solid #1f6cd5;
                                            background-color: #1f6cd5;
                                            color: white;
                                            font-weight: 700;
                                            padding: 10px 30px 10px 30px;
                                            cursor: pointer;" >선택</a>
                                    </td>
                                </tr>
                                </tbody>
                            </th:block>
                            <th:block th:each="acc:${accReviewDTO}">
                                <tbody>
                                <tr class="tBody" th:object="${acc}">
                                    <td class="accReservationNum" th:text="*{accReservationNum}"></td>
                                    <td class="accReservationType" th:text="*{accReservationType}"></td>
                                    <td class="userName" th:text="*{userName}"></td>
                                    <!--<td class="managerName" th:text="*{managerName}"></td>-->
                                    <td class="accReservationDate" th:text="*{#strings.substring(accReservationDate,0,10)}"></td>
                                    <td><a id="accReservation" th:href="*{accReservationType}" style="    width: 55px;
                                            text-align: center;
                                            font-size: inherit;
                                            border: 1px solid #1f6cd5;
                                            background-color: #1f6cd5;
                                            color: white;
                                            font-weight: 700;
                                            padding: 10px 30px 10px 30px;
                                            cursor: pointer;">선택</a></td>
                                </tr>
                                </tbody>
                            </th:block>
                        </table>
                    </form>
                    <!-- <div class="sc-dPPMrM fCtKbG">
                         <img src="/assets/images/main_logo.png" alt="logo" class="sc-jWxkHr bLIbyr">
                        <span class="sc-imDfJI hpzllv">후기를 작성가능한 이용내역이 없습니다.</span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="footer.html"></footer>
</body>
<script th:inline="javascript">
    let $careReservationType = $("input[name='careReservationType']");
    let $accReservationType = $("input[name='accReservationType']");
    let careType = $("td.careReservationType");
    let accType = $("td.accReservationType");


    $("a#careReservation").on('click', function (e) {
        e.preventDefault();
        $careReservationType.val($(this).attr("href"));
        console.log($careReservationType.val());
        console.log($accReservationType.val());
        goReview2.submit();
    })

    $("a#accReservation").on('click', function (e) {
        e.preventDefault();
        $accReservationType.val($(this).attr("href"));
        console.log($accReservationType.val());
        console.log($careReservationType.val());
        goReview2.submit();
    })
</script>
</html>