<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>돌보미|이용후기</title>
    <link rel="stylesheet" href="/asset/css/review2.css">
    <link rel="stylesheet" href="/asset/css/review.css">
    <link rel="stylesheet" href="/asset/js/review.js">
    <link rel="stylesheet" href="/asset/css/header.css">
    <link rel="stylesheet" href="/asset/css/footer.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
<!-- header -->
<header th:replace="header.html"></header>

<!-- main -->
<div id="root">
    <div id="app-container" class="app-container">
        <div class="main-area">
            <div class="sc-kqlzXE kHAYKm">
                <div>
                    <div class="sc-dHIava juTLHf">
                        <div class="sc-jhaWeW dUOvas inner-container" style="padding: 100px 0 0;     margin-bottom: 95px;">
                            <div class="sc-bSbAYC grytNP">
                                <div class="sc-guztPN eszqMv">이용 후기</div>
                                <div class="sc-cFlXAS cqDVA">
                                    <p>고객님의 소중한 후기를 통해 더욱 발전하는</p>
                                    <p>돌보미가 되겠습니다.</p>
                                </div>
                                <!--<div class="sc-OxbzP jqycvF">후기 작성하기</div>-->
                            </div>
                            <div class="sc-bSbAYC grytNP img-cover" style="margin-bottom: -94px;">
                                <div class="sc-hcnlBt dkbIiH">
                                    <div src="https://www.withmate.kr/assets/images/w_main_crop.png" class="sc-hkbPbT bIzfXR"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 글쓰기 -->
                    <div class="bh_mgb35" style="max-width: 1120px;
                        margin: 0 auto;
                        padding: 22px 0;">
                        <h5 class="tit_h5" style="padding-bottom: 25px;
                            font-size: 28px;">이용후기 작성</h5>


                        <form action="/user/review2" method="post">

                            <fieldset>
                                <table class="table_type2 bh_mgb25">
                                    <colgroup>
                                        <col width="13%">
                                        <col width="10%">
                                        <col width="19%">
                                        <col width="10%">
                                        <col width="19%">
                                        <col width="10%">
                                        <col width="19%">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th>아이디</th>
                                        <input name="userEmail" type="hidden" th:value="${session.userVO.userEmail}"/>
                                        <td colspan="6"  th:text="${session.userVO.userEmail}"></td>
                                    </tr>
                                    <tr>
                                        <th>이용자</th>
                                        <input name="reviewWriter" type="hidden" th:value="${session.userVO.userName}"/>
                                        <td colspan="6"  th:text="${session.userVO.userName}"></td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label for="input_title_bh">서비스</label>
                                            <p>
                                                <span class="imp" style="font-size:10px;" ></span>
                                            </p>
                                        </th>
                                        <td colspan="6">
                                            <input name="reviewType" class="bh_input_text5" id="input_title_bh" type="text" th:if="${careReservationType != null}" th:value="${careReservationType}" style="width:90%; height: 32px; border: 0px" maxlength="100">
                                            <input name="reviewType" class="bh_input_text5" id="input_title_bh" type="text" th:if="${accReservationType != null}" th:value="${accReservationType}" style="width:90%; height: 32px; border: 0px" maxlength="100">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><label for="input_title_bh">제목</label> <p><span class="imp" style="font-size:10px;"></span></p></th>
                                        <td colspan="6"><input name="reviewTitle" class="bh_input_text5" id="input_title_bh" type="text" value="" style="width:90%;     height: 32px;" maxlength="100"></td>
                                    </tr>

                                    <tr>
                                        <th><label for="input_conts_bh">내용</label> <p><span class="imp" style="font-size:13px; "></span></p></th>
                                        <td colspan="6"><textarea name="reviewContent" id="input_conts_bh" class="textarea_txt" style="resize: none;     width: 90%;
                                        height: 166px;"></textarea></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                            <!--<div class="fields">
                                <div class="field">
                                    <h4>서비스이용</h4>
                                    <input name="reviewType" placeholder="Service" type="text" value=""/>
                                </div>
                                <div class="field">
                                    <h4>제목</h4>
                                    <input name="reviewTitle" placeholder="Title" type="text" value=""/>
                                </div>
                                <div class="field">
                                    <h4>내용</h4>
                                    <textarea name="reviewContent" rows="6" placeholder="Content" style="resize:none" value=""></textarea>
                                </div>
                                <div class="field">
                                    <h4>이용자</h4>
                                    <input name="reviewWriter" placeholder="Title" type="text" value=""/>
                                </div>
                            </div>-->
                            <ul>
                                <li><input type="submit" class="button" value="작성완료"></li>
                            </ul>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</div>
<!-- footer -->
<footer th:replace="footer.html"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>



    $("#btnLogin").click(function(){
        if(!$(this).attr('class').match('on')){
            $(this).addClass('on');
            $(".fnc_user_wrap").addClass('on');
        }else{
            $(this).removeClass('on');
            $(".fnc_user_wrap").removeClass('on');
        }
    })

    $(".header1").click(function(){
        $('.box1').toggle();
    });
    $(".header2").click(function(){
        $('.box2').toggle();
    });
    $(".header3").click(function(){
        $('.box3').toggle();
    });


</script>
</html>