<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/asset/css/user_usedetails.css">
    <link rel="stylesheet" href="/asset/css/header.css">
    <link rel="stylesheet" href="/asset/css/footer.css">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        /*서비스 신청 목록 네비게이션*/
        .menu03, .menu04 {
            display: none !important;
        }
    </style>
</head>
<body>
<header th:replace="header.html"></header>
<div class="sub_page_wrap">
    <!-- sub_title_wrap -->
    <div class="sub_title_wrap title_only">

        <div class="sub_title">
            <p>서비스 이용 내역</p>
            <p th:text="|${session.userVO.userName}님의 서비스 이용 내역입니다.|"></p>
        </div>

    </div>

    <div class="common_content_wrap">
        <div class="form_sub_tab column" >
            <ul class="tab" >
                <!-- <li id="all" >전체</li> -->
                <li id="match" class="current" onclick="location.href='/user/user_userdetails'">
                    <span>배정요청</span><em th:text="${totallist1}+${totallist5}" ></em></li>
                <li id="reserv" onclick="location.href='/user/user_userdetails2'"><span>예약</span><em th:text="*{totallist2}+*{totallist6}"></em></li>
                <li id="proc" onclick="location.href='/user/user_userdetails3'"><span>서비스중</span><em th:text="*{totallist3}+*{totallist7}"></em></li>
                <li id="end" onclick="location.href='/user/user_userdetails4'"><span>종료</span><em th:text="*{totallist4}+*{totallist8}"></em></li>
            </ul>
        </div>

        <div class="com_accordion assignment" >
            <ul>
                <!-- 매니저 배정 전... -->
                <li class="history">
                    <div class="ac_title" th:object="${accreservationlist}" th:if="${accreservationlist}">

                        <p class="service_a">동행서비스</p>
                        <div class="left_con">
                            <p>
                                <span class="title">이용자</span>
                                <span th:text="*{accReservationName}"></span>
                            </p>
                            <p>
                                <span class="title">이용일시</span>
                                <span th:text="*{accReservationDate}"></span>
                                <span th:text="|*{accReservationTime}시간|"></span>
                            </p>
                            <p>
                                <span class="title">출발지</span>
                                <span th:text="*{accReservationStartAddress}"><br></span>
                            </p>
                            <p>
                                <span class="title">목적지</span>
                                <span th:text="*{accReservationEndAddress}"><br></span>
                            </p>

                            <p>
                                <span class="title">총 이용요금</span>
                                <span th:text="|*{accReservationPrice}원|"></span>
                            </p>
                        </div>
                        <div class="right_con">
                            <p class="photo">

                            </p>
                            <p>
                                        <span class="name">

                                        </span>
                                <span class="msg">매니저 배정 요청중입니다.</span>
                            </p>
                        </div>
                    </div>
                </li>

                <!-- 매니저 배정 후 선택 -->

                <li class="history assigned">
                  <form action="/user/matchingAccept" method="post" name="matching">
                    <div class="ac_title" th:object="${accmanagerInfo}" th:if="${accmanagerInfo}" >
                        <input type="hidden" th:field="*{accReservationNum}">
                        <p class="service_a">동행서비스</p>
                        <div class="left_con">
                            <p>
                                <span class="title">매니저 이름</span>
                                <span th:text="*{managerName}"></span>
                            </p>
                            <p>
                                <span class="title">성별</span>
                                <span th:text="*{managerGender}"></span>
                            </p>
                            <p>
                                <span class="title">연락처</span>
                                <span th:text="*{managerPhoneNum}"><br></span>
                            </p>
                            <p>
                                <span class="title">운전 가능 여부</span>
                                <span th:text="*{managerDriveOk}"><br></span>
                            </p>
                            <p>
                                <span class="title">활동 지역</span>
                                <span th:text="*{managerRegion}"></span>
                            </p>
                        </div>
                        <div>
                            <div class="right_con assigned">
                                <p class="photo">

                                </p>
                                <p>
                                        <span class="name">

                                        </span>
                                    <span class="msg" style="color: #ff0071;">매니저가 배정되었습니다.</span>
                                </p>
                            </div>
                            <div class="button_wrap">
                                <a class="accept">수락</a>
                                <a class="refuse">거절</a>
                            </div>
                        </div>
                    </div>
                  </form>
                    <div class="ac_detail servicelist" style="overflow: hidden; display: none;">
                        <div class="detail_wrap">
                            <div class="left_con" th:object="${accreservationlist}" th:if="${accreservationlist}">
                                <p>
                                    <span class="title">이용일시</span>
                                    <span th:text="*{accReservationDate}"></span>
                                    <span th:text="|*{accReservationTime}시간|"></span>
                                </p>
                                <p>
                                    <span class="title">출발지</span>
                                    <span th:text="*{accReservationStartAddress}"><br></span>
                                </p>
                                <p>
                                    <span class="title">목적지</span>
                                    <span th:text="*{accReservationEndAddress}"><br></span>
                                </p>
                                <p>
                                    <span class="title">총 이용요금</span>
                                    <span th:text="|*{accReservationPrice}원|"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <!-- 배정요청 -->


        <div class="com_accordion assignment" th:object="${carereservationlist}" th:if="${carereservationlist}">
            <ul>
                <!-- 매니저 배정 전... -->
                <li class="history">
                    <div class="ac_title" >

                        <p class="service_b">돌봄서비스</p>
                        <div class="left_con">
                            <p>
                                <span class="title">이용자</span>
                                <span th:text="*{careReservationName}"></span>
                            </p>
                            <p>
                                <span class="title">이용일시</span>
                                <span th:text="*{careReservationDate}"></span>
                                <span th:text="|*{careReservationTime}시간|"></span>
                            </p>

                            <p>
                                <span class="title">목적지</span>
                                <span th:text="*{careReservationAddress}"><br></span>
                            </p>

                            <p>
                                <span class="title">총 이용요금</span>
                                <span th:text="|*{careReservationPrice}원|"></span>
                            </p>
                        </div>
                        <div class="right_con">
                            <p class="photo">

                            </p>
                            <p>
                                        <span class="name">

                                        </span>
                                <span class="msg">매니저 배정 요청중입니다.</span>
                            </p>
                        </div>
                    </div>
                </li>

                <!-- 매니저 배정 후 선택 -->

                <li class="history assigned">
                   <form action="/user/matchingAccept" method="post" name="matching">
                    <div class="ac_title"  th:object="${caremanagerInfo}" th:if="${caremanagerInfo}" >
                        <input type="hidden" th:field="*{careReservationNum}">
                        <p class="service_b">돌봄서비스</p>
                        <div class="left_con">
                            <p>
                                <span class="title">매니저 이름</span>
                                <span th:text="*{managerName}"></span>
                            </p>
                            <p>
                                <span class="title">성별</span>
                                <span th:text="*{managerGender}"></span>
                            </p>
                            <p>
                                <span class="title">연락처</span>
                                <span th:text="*{managerPhoneNum}"><br></span>
                            </p>
                            <p>
                                <span class="title">운전 가능 여부</span>
                                <span th:text="*{managerDriveOk}"><br></span>
                            </p>
                            <p>
                                <span class="title">활동 지역</span>
                                <span th:text="*{managerRegion}"></span>
                            </p>
                        </div>
                        <div>
                            <div class="right_con assigned">
                                <p class="photo">

                                </p>
                                <p>
                                        <span class="name">

                                        </span>
                                    <span class="msg" style="color: #ff0071;">매니저가 배정되었습니다.</span>
                                </p>
                            </div>
                            <div class="button_wrap">
                                <a class="accept">수락</a>
                                <a class="refuse">거절</a>
                            </div>
                        </div>
                    </div>
                   </form>
                    <div class="ac_detail servicelist" style="overflow: hidden; display: none;">
                        <div class="detail_wrap">
                            <div class="left_con" th:object="${carereservationList}" th:if="${carereservationList}">
                                <p>
                                    <span class="title">이용일시</span>
                                    <span th:text="*{careReservationDate}"></span>
                                    <span th:text="|*{careReservationTime}시간|"></span>
                                </p>

                                <p>
                                    <span class="title">목적지</span>
                                    <span th:text="*{careReservationAddress}"><br></span>
                                </p>
                                <p>
                                    <span class="title">총 이용요금</span>
                                    <span th:text="|*{careReservationPrice}원|"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</div>
<footer th:replace="footer.html"></footer>
</body>
<script>


    /* 배정상세페이지 열기 */
    $("div.ac_title").click(function () {
        if ($(this).siblings(".ac_detail").css('display') != 'block') {
            $(this).siblings(".ac_detail").css('display', 'block');
        } else {
            $(this).siblings(".ac_detail").css('display', 'none');
        }
    });

    /* 수락버튼 클릭 */
    $(".accept").click(function () {
        alert('서비스가 예약되었습니다.');
        $(this).parent().parent().parent().parent('li').css('display', 'none');
        $(".assignment").css('display', 'none');
        $(".reservation").css('display', 'block');
        matching.submit();
    })

    /* 거절버튼 클릭 */
    $(".refuse").click(function () {
        alert('매니저 배정을 취소합니다.');
        $(this).parents("li.history").css('display', 'none');
        $("form[name='matching']").attr("action", "/user/matchingCancel");
        matching.submit();
    })


</script>
</html>