* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing :border-box;

}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: #000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #ffffff;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    z-index: 999;
    background: #ffffff;
}

.header .header_wrap {
    position: relative;
    flex: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-width: 945px;
    height: 120px;
    height: 120px;
    transition: all 0.3s ease;
}

.header .logo {
    display: flex;
    flex: none;
    width: 180px;
    height: 100%;
    /* background: url(../images/common/logo.svg) no-repeat left center; */
    background-size: 106px auto;
    cursor: pointer;
    margin-top: -4px;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}

.header .nav {
    display: flex;
    flex: 1;
    align-items: center;
    height: 60px;
    transition: all 0.1s ease;
}

.header .nav .nav_list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ul, ol {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul, ol {
    list-style: none;
}

.header .nav .nav_list > .nav_item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header .nav .nav_list .nav_item .nav_item_link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0 24px 4px 24px!important;
    font-size: 18px;
    font-weight: 400;
    color: #222;
    transition: all .2s ease-in-out;
}

a {
    color: #3c3c3c;
    text-decoration: none;
}


.header .nav .nav_list .nav_item.active .nav_item_link {
    color: #1f6cd5;
}

.header .fnc_menu_wrap {
    display: flex;
    height: 80px;
    align-items: center;
}

.header .fnc_home {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* background: url(../images/common/ico_home.svg) no-repeat center center; */
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.header .fnc_notice {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* background: url(../images/common/ico_notice.svg) no-repeat center center; */
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.header .fnc_alram {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /*  background: url(../images/common/ico_alram.svg) no-repeat center center; */
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.header .fnc_user {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    /* background: url(../images/common/ico_user.svg) no-repeat right center; */
    cursor: pointer;
    padding-right: 34px;
    padding-left: 15px;
    transition: all .2s ease-in-out;
}

.header .fnc_menu_wrap .fnc_user_wrap {
    position: absolute;
    width: 200px;
    top: 90px;
    right: -10px;
    padding: 30px 20px;
    background: rgba(0,0,0,0.8);
    border-radius: 6px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    z-index: 9999;
}

.header .fnc_menu_wrap .fnc_user_wrap a {
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.header .fnc_menu_wrap .fnc_user_wrap a + a {
    margin-top: 16px;
}

.header .btn_mo_nav {
    display: none;
    width: 40px;
    height: 34px;
    position: fixed;
    top: 13px;
    right: 20px;
    background: none;
    border: 0;
    z-index: 999999;
}

button {
    border: 0px;
    cursor: pointer;
}

.header .btn_mo_nav span:nth-child(1) {
    top: 10px;
}

.header .btn_mo_nav span {
    display: block;
    width: 22px;
    height: 1px;
    position: absolute;
    right: 0;
    border-radius: 0;
    background: #313131;
}

.header .btn_mo_nav span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header .btn_mo_nav span:nth-child(3) {
    bottom: 10px;
}

.header .nav .nav_list .nav_item.active .nav_item_link {
    color: #1f6cd5;
}

.header .nav .nav_list .nav_item.active .nav_item_link:after {
    opacity: 1;
    background: #1f6cd5;
}

/* 여기까지 헤더 */

/* 예약 전의 두번제 해더 */
.sub_page_wrap {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    padding-bottom: 100px;
}

.sub_title_wrap.sub_bg02 {
    background-color: #ffffff;
}

.sub_title_wrap {
    display: flex;
    flex: none;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.sub_title_wrap.sub_bg02 .sub_title {
    position: relative;
    flex: 1;
    width: 840px;
}

.sub_title {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 160px;
}

.sub_title_wrap.sub_bg02 .sub_title p {
    justify-content: flex-start;
    text-align: left;
}

.sub_title p {
    display: flex;
    flex: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 44px;
    font-weight: 400;
    line-height: 60px;
    color: #313131;
    text-align: center;
}

.sub_title p + p {
    margin-top: 0;
    font-size: 25px;
    color: #666666;
    font-weight: 200;
}

.sub_title_wrap.sub_bg02 .sub_title .img_bg02 {
    position: absolute;
    top: 80px;
    right: 0;
    width: 300px;
    height: 300px;
    /* background: rgba(0,0,0,0) url(../images/common/img_sub02.svg) no-repeat center center; */
    background-size: 260px;
    z-index: 2;
}

.sub_title_wrap.sub_bg02 .sub_title .heart_bg {
    position: absolute;
    top: 174px;
    right: 80px;
    z-index: 1;
}

.heart_bg {
    background-color: #ff0071;
    width: 125px;
    height: 125px;
    transform: rotate(45deg);
    animation: pulse calc(60s / 80) linear infinite alternate;
}

.heart_bg:before, .heart_bg:after {
    content: '';
    background-color: #ff0071;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    border-radius: 50%;
}

.heart_bg:before {
    left: -50%;
    top: 0;
}

.heart_bg:after {
    right: 0;
    top: -50%;
}

/* 헤더2번째 끝 */

.dZclmO {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: rgb(255, 255, 255);
}

.jQyKPd {
    width: 1120px;
    margin: 0px auto;
    padding-top: 0px;
    padding-bottom: 0px;
}

.hjxjIk {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
}

.eWwIcG {
    width: 192px;
    height: 60px;
    line-height: 64px;
    border: 0px;
    outline: none;
    border-radius: 50vh;
    cursor: not-allowed;
    text-align: center;
    font-size: 17px;
    letter-spacing: -0.1px;
    background-color: rgb(59, 193, 255);
    color: rgb(255, 255, 255);
}

.cvJJsZ {
    width: 16px;
    height: 16px;
    object-fit: contain;
    margin-left: 8px;
    margin-right: 8px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.kAufHg {
    width: 192px;
    height: 60px;
    line-height: 64px;
    border: 0px;
    outline: none;
    border-radius: 50vh;
    cursor: not-allowed;
    text-align: center;
    font-size: 17px;
    letter-spacing: -0.1px;
    background-color: rgb(230, 230, 230);
    color: rgb(175, 176, 178);
}

/* middle */

.bCJAMY {
    width: 100%;
    background-color: rgb(249, 249, 249);
    padding-top: 68px;
    padding-bottom: 80px;
    background-image: url(https://www.withmate.kr/assets/images/artwork_both_bg.png);
    background-size: contain;
    background-position: 50% 70%;
    background-repeat: no-repeat;
}

.ctKjik {
    width: 670px;
    margin: 0px auto 64px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 10%) 2px 4px 16px -4px;
    padding: 48px 32px;
}

.gbVVya {
    font-size: 27px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.7px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 0px;
    margin-bottom: 16px;
}


.hoWkSp {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: -0.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 4px;
}

.ifseQn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.hEIVhP {
    margin-top: 11px;
    margin-bottom: 8px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.5px;
    color: rgba(0, 0, 0, 0.7);
}

.hnYkVz {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: -0.1px;
    text-align: left;
    color: rgb(59, 193, 255);
    text-decoration: underline;
}

.ffyjKW {
    width: 100%;
    height: 24px;
}

.iQRFrD {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.iQRFrD > div, .iQRFrD p {
    margin-right: 8px;
    width: calc(50% - 4px) !important;
}

.hoWkSp > span {
    color: rgb(59, 193, 255);
}

.iaafvp.ant-input {
    width: 100%;
    height: 37px;
    line-height: 44px;
    margin-bottom: 0px;
    color: rgb(22, 22, 22);
    font-size: 13px;
    font-weight: normal;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(233, 233, 233) !important;
}

.iQRFrD > div:last-child {
    margin-right: 0px;
}

.iQRFrD > div, .iQRFrD p {
    margin-right: 8px;
    width: calc(50% - 4px) !important;
}

.iaafvp.ant-input-affix-wrapper {
    height: 37px;
    line-height: 43px;
    padding: 0px 11px;
}

.iaafvp {
    width: 100%;
    height: 46px;
    line-height: 44px;
    margin-bottom: 0px;
    color: rgb(22, 22, 22);
    font-size: 14px;
    font-weight: normal;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(233, 233, 233) !important;
}

.ant-input-affix-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: inline-flex;
}


.iQRFrD {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.iQRFrD > div, .iQRFrD p {
    margin-right: 8px;
    width: calc(50% - 4px) !important;
}

.iQRFrD > div:last-child {
    margin-right: 0px;
}


.dxikPE {
    display: flex;
    width: 100%;
    height: 37px;
    line-height: 44px;
}

.dxikPE > span {
    display: inline-block;
    cursor: pointer;
    flex: 1 1 0%;
    height: 37px;
    border-radius: 4px;
    border: 1px solid rgb(233, 233, 233);
    text-align: center;
    /*     color: rgba(0, 0, 0, 0.7); */
    font-size: 13px;
    letter-spacing: -0.2px;
    margin-right: 8px;
    line-height: 34px;
}

.clicked{
    background-color: rgb(59, 193, 255);
    color: white;
}



.dxikPE > span.active {
    background-color: rgb(59, 193, 255);
    color: white;
}

.dxikPE > span:last-child {
    margin-right: 0px;
}


.iQRFrD {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.iQRFrD > div, .iQRFrD p {
    margin-right: 8px;
    width: calc(50% - 4px) !important;
}

.bqHxwH.ant-select {
    width: 100%;
    height: 46px;
    border-radius: 4px;
}

.ant-select {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum","tnum";
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.iFwUke {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 4px;
    overflow: hidden;
}


.iaafvp:disabled {
    background-color: rgb(245, 245, 245);
}

.hEUQAy {
    display: inline-block;
    min-width: 50px;
    height: 46px;
    line-height: 44px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 11px;
    font-weight: normal;
    color: rgb(166, 166, 166);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.lafcRZ {
    width: 100%;
    height: 7px;
}
.ccaDJS {
    display: none;
}

.dtbczn {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    max-width: 395px;
    margin: 0px auto;
}

.pYUPR {
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: center;
    background-color: rgb(206, 207, 208);
    color: rgb(255, 255, 255);
    height: 58px;
    line-height: 63px;
    border-radius: 50vh;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: -0.5px;
    max-width: calc(50% - 4px);
    margin-right: 8px;
}

.kiStqG {
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: center;
    background-color: rgb(59, 193, 255);
    color: rgb(255, 255, 255);
    height: 58px;
    line-height: 63px;
    border-radius: 50vh;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: -0.5px;
    max-width: calc(50% - 4px);
    margin-right: 8px;
}

.form_wrap select {
    width: 100%;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    color: #282828;
    border-radius: 6px;
    padding-left: 10px!important;
}

.ant-input-affix-wrapper:before {
    width: 0;
    visibility: hidden;
    content: "\a0";
}

.iaafvp.ant-input-affix-wrapper .ant-input {
    height: 100%;
    line-height: 37px;
    color: rgb(22, 22, 22);
    font-size: 13px;
    font-weight: normal;
    width: 100% !important;
    border: 0px !important;
}

::selection {
    color: #fff;
    background: #3bc1ff;
}

.iaafvp:focus {
    transition: all 0.3s ease 0s;
    box-shadow: none;
    outline: 0px;
    border: 1px solid rgb(77, 171, 247) !important;
}

.iFwUke {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 4px;
    overflow: hidden;
}

.ant-input:hover {
    border-color: #63d3ff;
    border-right-width: 1px!important;
}

.ant-input-affix-wrapper-focused {
    border-color: #63d3ff;
    box-shadow: 0 0 0 2px rgb(59  193  255/ 20%);
}


.ant-select:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0);
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ant-select-single .ant-select-selector .ant-select-selection-item:after, .ant-select-single .ant-select-selector .ant-select-selection-placeholder:after, .ant-select-single .ant-select-selector:after {
    display: inline-block;
    width: 0;
    visibility: hidden;
    content: "\a0";
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector:after {
    line-height: 30px;
}

.bqHxwH.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 4px;
}

.bqHxwH.ant-select .ant-select-selector {
    line-height: 43px;
    height: 100% !important;
}


/* 주소검색 */
.form_wrap {
    display: flex;
    flex: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_wrap .adress {
    position: relative;
    width: 600px;
}

.dp_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.form_wrap .search {
    width: 100%;
}

.form_wrap .search input[type="text"] {
    border-radius: 10px 0 0 10px;
    border-right: none;
}
.form_wrap input[type="text"] {
    width: 100%;
    height: 60px;
    font-size: 13px;
    font-weight: 400;
    color: #282828;
    border-radius: 6px;
    padding-left: 14px;
    padding-top: 6px;
}

.dp_flex *:first-child {
    margin-left: 0;
}

input[type="text"]{
    border: none;
    height: 30px;
    padding: 2px 4px 5px 2px;
}

.ico_search {
    background: url(https://www.mosimi.co.kr/resource/images/common/ico_search.svg) no-repeat center center;
    background-size: 36px;
}

.dp_flex a {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: #555555;
    background-color: #ffffff;
    cursor: pointer;
    padding: 6px 20px;
    border-radius: 10px;
    white-space: nowrap;
    transition: all .2s ease-in-out;
}


.dp_flex [class^='ico_'], .dp_flex [class*='ico_'] {
    flex: none;
    width: 60px;
    height: 60px;
    margin-left: -1px;
    background-color: rgba(0,0,0,0.06);
    border-radius: 0 10px 10px 0;
}

.form_wrap .autocomplete_layer {
    position: absolute;
    background: rgb(0,0,0,0.9);
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 0;
    z-index: 8;
    margin-top: -10px;
    padding: 6px;
    max-height: 240px;
    overflow-y: auto;
}

.dp_flex + .dp_flex {
    margin-top: 15px;
}

div#wrap3{
    display: none;
    border: 1px solid;
    width: 500px;
    height: 466px;
    margin: 5px 0px;
    position: absolute;
    z-index: 1;
    top: 56px;
    left: 98px;
}



