body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: #000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #ffffff;
    font-weight: 500;
}


* {
    box-sizing: border-box;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}

a {
    color: #3c3c3c;
    text-decoration: none;
    display: block;
}

input, textarea, select, button, table {
    font-size: 12px;
    font-weight: 300;
}

input[type="hidden"] + input {
    margin-left: 0;
}

.sub_page_wrap {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    padding-bottom: 100px;
}

.login_form_wrap {
    width: 420px;
    margin-top: 160px;
}

.form_tab {
    position: relative;
    width: 100%;
}

ul, ol {
    list-style: none;
}

.form_tab ul {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;
}

.form_tab ul:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    content: '';
    display: block;
    border-bottom: 1px solid #1f6cd5;
}

.form_tab ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-left: -1px;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 0 16px 0;
    border: 1px solid #bababa;
    border-bottom: #1f6cd5;
    background: #ffffff;
    color: #888;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}

.form_tab ul li:first-child {
    margin-left: 0;
}

.form_tab ul li.current {
    position: relative;
    border: 1px solid #1f6cd5;
    border-bottom: 1px solid #fff;
    background: #1f6cd5;
    color: #fff;
    cursor: default;
}

.form_wrap {
    display: flex;
    flex: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login_form_wrap .form_wrap {
    padding-top: 0;
}

.w_msg {
    display: flex;
    flex: none;
    width: 100%;
    min-height: 30px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 10px 0;
    font-size: 14px;
    color: #ff0071;
}

.w_msg.tc {
    justify-content: center;
}

.dp_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.dp_flex * {
    margin-left: 10px;
}

input[type="number"], input[type="text"], input[type="password"], input[type="search"], input[type="date"], input[type="file"] {
    font-family: 'NotoSansKR', sans-serif;
    font-weight: 500px;
    border: none;
    background: rgba(0, 0, 0, 0.06);
    height: 30px;
    padding: 2px 4px 5px 2px;
    width: 100%;
}

.dp_flex *:first-child {
    margin-left: 0;
}

.form_wrap input[type="text"] {
    width: 100%;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    color: #282828;
    border-radius: 6px;
    padding-left: 14px;
}

.dp_flex + .dp_flex {
    margin-top: 15px;
}

.form_wrap input[type="password"] {
    width: 100%;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    color: #282828;
    border-radius: 6px;
    padding-left: 14px;
}

.login_form_wrap .id_save {
    margin: 14px 0 30px 0;
}

.login_form_wrap .id_save .toggle_check {
    position: relative;
    cursor: pointer;
}

label input {
    margin-right: 3px;
    margin-top: -3px;
    vertical-align: middle;
}

.login_form_wrap .id_save .toggle_check input {
    display: none;
}

.login_form_wrap .id_save .toggle_check span {
    font-size: 13px;
    padding-left: 48px;
}

.login_form_wrap .id_save .toggle_check span:before, .toggle_check span:after {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
}

.login_form_wrap .id_save .toggle_check span:before {
    width: 40px;
    height: 22px;
    margin-right: 8px;
    background: #cdcdcd;
    border-radius: 22px;
    display: inline-block;
    vertical-align: top;
    transition: all .5s cubic-bezier(.175, .885, .32, 1);
}

.login_form_wrap .id_save .toggle_check span:after {
    margin: 2px;
    width: 18px;
    height: 18px;
    background: #FFF;
    border-radius: 18px;
    z-index: 2;
    transition: all .5s cubic-bezier(.175, .885, .32, 1);
}

.button_wrap {
    display: flex;
    flex: none;
    height: 60px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.login_form_wrap .button_wrap {
    width: 100%;
}

.button_wrap a {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #555555;
    background: #ffffff;
    cursor: pointer;
    padding: 4px 50px 8px 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    white-space: nowrap;
    transition: all .2s ease-in-out;
}

.login_form_wrap .button_wrap a {
    flex: 1;
}

.button_wrap a.primary {
    color: #ffffff;
    background: #1f6cd5;
    border: none;
}

.button_text_wrap {
    margin: 0px;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.button_wrap + .button_text_wrap {
    margin-top: 20px;
}


.button_text_wrap a {
    position: relative;
    font-size: 14px;
}

.button_text_wrap a + a {
    margin-left: 30px;
}

.button_text_wrap a + a:before {
    position: absolute;
    top: 1px;
    left: -15px;
    content: '';
    width: 1px;
    height: 14px;
    background: rgba(0, 0, 0, 0.2);
}

.login_form_wrap .id_save .toggle_check input:checked + span:before {
    background-color: #1f6cd5;
}

.login_form_wrap .id_save .toggle_check input:checked + span:after {
    left: 18px;
    background-image: none;
}









