* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;

}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #ffffff;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    z-index: 999;
    background: #ffffff;
}

.header .header_wrap {
    position: relative;
    flex: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-width: 945px;
    height: 120px;
    height: 120px;
    transition: all 0.3s ease;
}

.header .logo {
    display: flex;
    flex: none;
    width: 180px;
    height: 100%;
    /* background: url(../images/common/logo.svg) no-repeat left center; */
    background-size: 106px auto;
    cursor: pointer;
    margin-top: -4px;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}

.header .nav {
    display: flex;
    flex: 1;
    align-items: center;
    height: 60px;
    transition: all 0.1s ease;
}

.header .nav .nav_list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ul, ol {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul, ol {
    list-style: none;
}

.header .nav .nav_list > .nav_item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header .nav .nav_list .nav_item .nav_item_link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0 24px 4px 24px !important;
    font-size: 18px;
    font-weight: 400;
    color: #222;
    transition: all .2s ease-in-out;
}

a {
    color: #3c3c3c;
    text-decoration: none;
}


.header .nav .nav_list .nav_item.active .nav_item_link {
    color: #1f6cd5;
}

.header .fnc_menu_wrap {
    display: flex;
    height: 80px;
    align-items: center;
}

.header .fnc_home {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* background: url(../images/common/ico_home.svg) no-repeat center center; */
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.header .fnc_notice {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* background: url(../images/common/ico_notice.svg) no-repeat center center; */
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.header .fnc_alram {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /*  background: url(../images/common/ico_alram.svg) no-repeat center center; */
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.header .fnc_user {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    /* background: url(../images/common/ico_user.svg) no-repeat right center; */
    cursor: pointer;
    padding-right: 34px;
    padding-left: 15px;
    transition: all .2s ease-in-out;
}

.header .fnc_menu_wrap .fnc_user_wrap {
    position: absolute;
    width: 200px;
    top: 90px;
    right: -10px;
    padding: 30px 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    z-index: 9999;
}

.header .fnc_menu_wrap .fnc_user_wrap a {
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.header .fnc_menu_wrap .fnc_user_wrap a + a {
    margin-top: 16px;
}

.header .btn_mo_nav {
    display: none;
    width: 40px;
    height: 34px;
    position: fixed;
    top: 13px;
    right: 20px;
    background: none;
    border: 0;
    z-index: 999999;
}

button {
    border: 0px;
    cursor: pointer;
}

.header .btn_mo_nav span:nth-child(1) {
    top: 10px;
}

.header .btn_mo_nav span {
    display: block;
    width: 22px;
    height: 1px;
    position: absolute;
    right: 0;
    border-radius: 0;
    background: #313131;
}

.header .btn_mo_nav span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header .btn_mo_nav span:nth-child(3) {
    bottom: 10px;
}

.header .nav .nav_list .nav_item.active .nav_item_link {
    color: #1f6cd5;
}

.header .nav .nav_list .nav_item.active .nav_item_link:after {
    opacity: 1;
    background: #1f6cd5;
}

.sub_page_wrap {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;

}

.sub_title_wrap.title_only {
    height: auto;
    /*   margin-bottom: 40px; */
}

.sub_title_wrap {
    display: flex;
    flex: none;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.sub_title {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 160px;
}

.sub_title p {
    display: flex;
    flex: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 47px;
    font-weight: 700;
    line-height: 60px;
    color: #313131;
    text-align: center;
}

.sub_title p + p {
    margin-top: 0;
    font-size: 26px;
    color: #666666;
    font-weight: 200;
}

.common_content_wrap {
    display: flex;
    flex: none;
    width: 900px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}

.form_sub_tab {
    position: relative;
    width: 100%;
}

.form_sub_tab ul {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 0;
}

.form_sub_tab ul li:first-child {
    margin-left: 0;
}

.form_sub_tab ul li {
    display: flex;
    flex: 1;
    margin-left: -1px;
    padding: 16px 0 18px 0;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    border: 1px solid #dae1e6;
    background: #ffffff;
    color: #adadad;
    cursor: pointer;
}

.form_sub_tab ul li.current {
    position: relative;
    border: 1px solid #313131;
    background: #fff;
    color: #313131;
    cursor: default;
}

.form_sub_tab ul li em {
    display: inline-flex;
    margin: -1px 0 0 10px;
    justify-content: center;
    align-items: center;
    padding: 0 8px 1px 8px;
    height: 20px;
    font: 700 10px "Roboto";
    background: #ff0071;
    color: #fff;
    border-radius: 16px;
}


.table_box .table {
    color: #6d6d6d;
}

.table_box .table thead tr th {
    padding: 10px 0;
    background: #f8f8f8;
    text-align: center;
    border-left: 1px solid #e1e0e0;
    border-top: 2px solid #3d3d3d;
    border-bottom: 1px solid #e1e0e0;
    font-weight: 100;
    color: #4e4e4e;
}

.table_box .table thead tr th.border_left {
    border-left: 0;
}

.table_box .table tbody tr td {
    padding: 12px 10px;
    border-bottom: 1px solid #f2f2f2;
    vertical-align: top;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: #666;
}

.com_accordion {
    width: 100%;
    margin: 20px 0;
}

.com_accordion ul {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.com_accordion ul li.history {
    background: #fdfdfd;
    border: 1px solid #cacaca;
}

.com_accordion ul li {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.com_accordion ul li .ac_title {
    display: flex;
    width: 100%;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 200;
    color: #161616;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

input, textarea, select, button, table {
    font-size: 12px;
    font-weight: 500;
}

input[type="hidden"] + input {
    margin-left: 0;
}

.com_accordion ul li .ac_title .service_a {
    display: flex;
    flex: none;
    width: 80px;
    height: 80px;
    margin: 20px 20px 82px 20px;
    justify-content: center;
    align-items: center;
    background: #3d7ed8;
    color: #fff;
    border-radius: 50%;
    font-weight: 700;
    font-size: 25px;
}

.com_accordion ul li .ac_title .service_b {
    display: flex;
    flex: none;
    width: 80px;
    height: 80px;
    margin: 20px 20px 82px 20px;
    justify-content: center;
    align-items: center;
    background: #f7579f;
    color: #fff;
    border-radius: 50%;
    font-weight: 700;
    font-size: 25px;
}

.com_accordion ul li .left_con {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 80px;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
    align-items: flex-start;
}

.com_accordion ul li p {
    display: flex;
    position: relative;
}

.com_accordion ul li p span.title {
    flex: none;
    width: 171px;
    color: rgba(0, 0, 0, 0.5);
}

.com_accordion ul li p span {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.com_accordion ul li p span + span {
    margin-left: 20px;
}

.com_accordion ul li p span.title + span:before {
    position: absolute;
    top: 0;
    left: 12px;
    content: ':';
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0);
    font-weight: 300;
}

/* .com_accordion ul li p span + span:before {
    position: absolute;
    top: 0;
    left: -10px;
    content: '';
    width: 1px;
    height: 14px;
    background: rgba(0, 0, 0, 0.2);
} */

.com_accordion ul li p + p {
    margin-top: 6px;
}


.com_accordion ul li .ac_detail .detail_wrap {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 20px 20px 0;
    padding: 20px 0 0 120px;
    border-top: 1px dotted rgba(0, 0, 0, 0.2);
}

.com_accordion ul li .ac_detail {
    display: none;
    width: 100%;
    margin: 0;
}

.com_accordion ul li .ac_detail .detail_wrap .left_con {
    padding-top: 0;
    min-height: auto;
}


.com_accordion ul li p span + span {
    margin-left: 20px;
}

.com_accordion ul li p span.title + span:before {
    position: absolute;
    top: 0;
    left: -10px;
    content: ':';
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0);
    font-weight: 300;
}

.com_accordion ul li .total {
    margin-top: 10px;
}

.com_accordion ul li p {
    display: flex;
    position: relative;
}


.com_accordion ul li .total span {
    align-items: center;
}

.com_accordion ul li p span + span {
    margin-left: 20px;
}

.com_accordion ul li p span.title + span:before {
    position: absolute;
    top: 0;
    left: -10px;
    content: ':';
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0);
    font-weight: 300;
}

.com_accordion ul li .total span + span strong {
    font-size: 30px;
    margin-right: 10px;
}

/* 팝업창 */
#popup01 {
    display: none;
}

#popup01 {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    background-color: #fff;
    z-index: 2;
}

.backon {
    content: "";
    width: 100%;
    height: 100%;
    background: #00000054;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.close {
    position: absolute;
    top: -25px;
    right: 0;
    cursor: pointer;
    color: white;
}

.openPopup {
    cursor: pointer;
}

.confirm {
    cursor: pointer;
    background-color: #2fb8e7;
    width: 308px;
    height: 61px;
    margin: 19%;
    color: white;
    font-size: 22px;
    font-weight: 600;
}

footer{
    margin-top: 120px!important;
}

.detail_search {
    border: 0;
}

.common_search {
    width: 100%;
    border-top: 2px solid #CCCCCC;
}

.common_search .search_area {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.common_search .search_area .tit {
    width: 100px;
    float: left;
    padding: 12px 0 8px 10px;
    box-sizing: border-box;
}

.common_search .search_area .choice {
    width: calc(100% - 100px);
    float: left;
    padding: 7px 0 3px 0;
    box-sizing: border-box;
    font-size: 16px;
}

.common_search .search_area .choice .choice_text {
    margin: 4px 0 0 0;
    letter-spacing: 0;
}

.common_search .search_area .choice .choice_text .none_choice {
    display: none;
}

.common_search .search_area .contents {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.common_search .search_area .contents .table_sido {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.common_search .search_area .contents .table_sido td {
    border: 1px solid #E4E4E4;
    text-align: center;
    padding: 7px 5px 7px 5px;
    font-size: 16px;
}

.common_search .search_area .contents .table_sido td.on {
    background-color: #2fb8e7;
    font-weight: 700;
}

.table_sido td.on a:hover, .table_sido td.on a:active, .table_sido td.on a:link, .table_sido td.on a:visited {
    color: #FFFFFF
}

.common_search .search_area .contents .table_sido td.td_gugun {
    padding: 0;
    border-bottom: 0;
}

.common_search .search_area .choice ul li {
    width: 18%;
    text-align: left;
    margin: 0 5px 5px 0;
    padding: 4px 0 6px 10px;
    box-sizing: border-box;
    background-color: #2fb8e7;
    border: 1px solid #2fb8e7;
    border-radius: 5px;
    color: #FFF;
    display: inline-block;
    position: relative;
    letter-spacing: -0.15em
}

.common_search .search_area .choice ul li .delete {
    position: absolute;
    right: 5px;
    margin: 0 0 0 0;
    color: #FFF;
}

.common_search .search_area .list_area_gugun {
    display: none;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #E4E4E4
}

.common_search .search_area .list_area_gugun ul {
    margin: 0 0 0 0;
    overflow: hidden;
}

.common_search .search_area .list_area_gugun li {
    width: 12.5%;
    float: left;
    text-align: center;
    margin: 0 0 10px 0;
}

.common_search .search_area .list_area_gugun ul li input[type=button] {
    font-size: 15px;
    width: 94%;
    padding: 7px 0 7px 0;
    border-radius: 3px;
    background-color: #f4f4f4;
    height: 36px;
    outline: none;
    border-color: #f4eded;
}

.common_search .search_area .list_area_gugun ul li input[type=button].on {
    background-color: #2fb8e7 !important;
    color: #FFFFFF !important;
    border: 1px solid #2fb8e7 !important
}

.common_search .search_area .list_area_gugun ul li input[type=button].list_area_all {
    background-color: #f4f4f4;
    color: #2fb8e7;
}

.common_search .search_area .list_area_gugun ul li input[type=button].list_sub_all {
    background-color: #FFFFFF;
    border: 1px solid #FE586D;
    color: #FE586D;
    width: 18%;
    margin: 0 3px 0 0;
}


.common_search .search_shape {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px dashed #CCCCCC;
}

.common_search .search_shape .tit {
    width: 100px;
    float: left;
    padding: 16px 0 8px 10px;
    box-sizing: border-box;
}

.common_search .search_shape .contents {
    width: calc(100% - 100px);
    float: left;
    padding: 10px 0 3px 0;
    box-sizing: border-box;
}

.common_search .search_shape .contents ul {
    margin: 0 0 0 0;
    overflow: hidden;
}

.common_search .search_shape .contents ul li {
    width: 12%;
    float: left;
    text-align: center;
    margin: 0 0 10px 0;
}

.common_search .search_shape .contents ul li input[type=button] {
    font-size: 11px;
    width: 94%;
    padding: 7px 0 7px 0;
    border-radius: 3px;
    background-color: #f4f4f4;
    height: 31px;
}

.common_search .search_shape .contents ul li input[type=button].on {
    background-color: #FE586D !important;
    color: #FFFFFF !important;
    border: 1px solid #FE586D !important;
}

.common_search .search_shape .contents p.close {
    width: 40px;
    position: absolute;
    right: 5px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.15em;
}

.common_search .search_shape .contents ul li input[type=button].list_area_all {
    background-color: #FFFFFF;
    border: 1px solid #FE586D;
    color: #FE586D;
}

.common_search .search_shape .contents ul li input[type=button].list_sub_all {
    background-color: #FFFFFF;
    border: 1px solid #FE586D;
    color: #FE586D;
    width: 18%;
    margin: 0 3px 0 0;
}


.common_search .search_sphere {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px dashed #CCCCCC;
}

.common_search .search_sphere .tit {
    width: 100px;
    float: left;
    padding: 10px 0 8px 10px;
    box-sizing: border-box;
}

.common_search .search_sphere .contents {
    width: calc(100% - 100px);
    float: left;
    padding: 10px 0 3px 0;
    box-sizing: border-box;
    font-size: 12px;
}

.common_search .search_sphere .contents ul {
    margin: 0 0 0 0;
    overflow: hidden;
}

.common_search .search_sphere .contents ul li {
    width: 12%;
    float: left;
    text-align: center;
    margin: 0 0 10px 0;
}

.common_search .search_sphere .contents ul li input[type=button] {
    font-size: 11px;
    width: 94%;
    padding: 7px 0 7px 0;
    border-radius: 3px;
    background-color: #f4f4f4;
    height: 31px;
}

.common_search .search_sphere .contents ul li input[type=button].on {
    background-color: #FE586D !important;
    color: #FFFFFF !important;
    border: 1px solid #FE586D !important;
}

.common_search .search_sphere .contents p.close {
    width: 40px;
    position: absolute;
    right: 5px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.15em;
}

.common_search .search_sphere .contents ul li input[type=button].list_area_all {
    background-color: #FFFFFF;
    border: 1px solid #FE586D;
    color: #FE586D;
}

.common_search .search_sphere .contents ul li input[type=button].list_sub_all {
    background-color: #FFFFFF;
    border: 1px solid #FE586D;
    color: #FE586D;
    width: 18%;
    margin: 0 3px 0 0;
}


.common_search .search_newname {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px dashed #CCCCCC;
}

.common_search .search_newname .tit {
    width: 100px;
    float: left;
    padding: 10px 0 8px 10px;
    box-sizing: border-box;
}

.common_search .search_newname .contents {
    width: calc(100% - 100px);
    float: left;
    padding: 10px 0 3px 0;
    box-sizing: border-box;
    font-size: 12px;
}

.common_search .search_newname .contents ul {
    margin: 0 0 0 0;
    overflow: hidden;
}

.common_search .search_newname .contents ul li {
    width: 12%;
    float: left;
    text-align: center;
    margin: 0 0 10px 0;
}

.common_search .search_newname .contents ul li input[type=button] {
    font-size: 11px;
    width: 94%;
    padding: 7px 0 7px 0;
    border-radius: 3px;
    background-color: #f4f4f4;
    height: 31px;
}

.common_search .search_newname .contents ul li input[type=button].on {
    background-color: #FE586D !important;
    color: #FFFFFF !important;
    border: 1px solid #FE586D !important;
}

.common_search .search_newname .contents p.close {
    width: 40px;
    position: absolute;
    right: 5px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.15em;
}

.common_search .search_newname .contents ul li input[type=button].list_area_all {
    background-color: #FFFFFF;
    border: 1px solid #FE586D;
    color: #FE586D;
}

.common_search .search_newname .contents ul li input[type=button].list_sub_all {
    background-color: #FFFFFF;
    border: 1px solid #FE586D;
    color: #FE586D;
    width: 18%;
    margin: 0 3px 0 0;
}


.common_search .search_career {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px dashed #CCCCCC;
}

.common_search .search_career .tit {
    width: 100px;
    float: left;
    padding: 10px 0 8px 10px;
    box-sizing: border-box;
}

.common_search .search_career .contents {
    width: calc(100% - 100px);
    float: left;
    padding: 10px 0 3px 0;
    box-sizing: border-box;
    font-size: 12px;
}

.common_search .search_career .contents ul {
    margin: 0 0 0 0;
    overflow: hidden;
}

.common_search .search_career .contents ul li {
    width: 12%;
    float: left;
    text-align: center;
    margin: 0 0 10px 0;
}

.common_search .search_career .contents ul li input[type=button] {
    font-size: 11px;
    width: 94%;
    padding: 7px 0 7px 0;
    border-radius: 3px;
    background-color: #f4f4f4;
    height: 31px;
}

.common_search .search_career .contents ul li input[type=button].on {
    background-color: #FE586D !important;
    color: #FFFFFF !important;
    border: 1px solid #FE586D !important;
}

.common_search .search_career .contents p.close {
    width: 40px;
    position: absolute;
    right: 5px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.15em;
}

.common_search .search_career .contents ul li input[type=button].list_area_all {
    background-color: #FFFFFF;
    border: 1px solid #FE586D;
    color: #FE586D;
}

.common_search .search_career .contents ul li input[type=button].list_sub_all {
    background-color: #FFFFFF;
    border: 1px solid #FE586D;
    color: #FE586D;
    width: 18%;
    margin: 0 3px 0 0;
}


.common_search .search_nationality {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px dashed #CCCCCC;
}

.common_search .search_nationality .tit {
    width: 100px;
    float: left;
    padding: 10px 0 8px 10px;
    box-sizing: border-box;
}

.common_search .search_nationality .contents {
    width: calc(100% - 100px);
    float: left;
    padding: 10px 0 3px 0;
    box-sizing: border-box;
    font-size: 12px;
}


.common_search .search_nationality .contents ul {
    margin: 0 0 0 0;
    overflow: hidden;
}

.common_search .search_nationality .contents ul li {
    width: 12%;
    float: left;
    text-align: center;
    margin: 0 0 10px 0;
}

.common_search .search_nationality .contents ul li input[type=button] {
    font-size: 11px;
    width: 94%;
    padding: 7px 0 7px 0;
    border-radius: 3px;
    background-color: #f4f4f4;
    height: 31px;
}

.common_search .search_nationality .contents ul li input[type=button].on {
    background-color: #FE586D !important;
    color: #FFFFFF !important;
    border: 1px solid #FE586D !important;
}

.common_search .search_nationality .contents p.close {
    width: 40px;
    position: absolute;
    right: 5px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.15em;
}

.common_search .search_nationality .contents ul li input[type=button].list_area_all {
    background-color: #FFFFFF;
    border: 1px solid #FE586D;
    color: #FE586D;
}

.common_search .search_nationality .contents ul li input[type=button].list_sub_all {
    background-color: #FFFFFF;
    border: 1px solid #FE586D;
    color: #FE586D;
    width: 18%;
    margin: 0 3px 0 0;
}

.common_search .search_sex {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px dashed #CCCCCC;
}

.common_search .search_sex .tit {
    width: 100px;
    float: left;
    padding: 10px 0 8px 10px;
    box-sizing: border-box;
}

.common_search .search_sex .contents {
    width: calc(100% - 100px);
    float: left;
    padding: 10px 0 3px 0;
    box-sizing: border-box;
    font-size: 12px;
}

.common_search .search_sex .contents ul {
    margin: 0 0 0 0;
    overflow: hidden;
}

.common_search .search_sex .contents ul li {
    width: 12%;
    float: left;
    text-align: center;
    margin: 0 0 10px 0;
}

.common_search .search_sex .contents ul li input[type=button] {
    font-size: 11px;
    width: 94%;
    padding: 7px 0 7px 0;
    border-radius: 3px;
    background-color: #f4f4f4;
    height: 31px;
}

.common_search .search_sex .contents ul li input[type=button].on {
    background-color: #FE586D !important;
    color: #FFFFFF !important;
    border: 1px solid #FE586D !important;
}

.common_search .search_sex .contents p.close {
    width: 40px;
    position: absolute;
    right: 5px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.15em;
}

.common_search .search_sex .contents ul li input[type=button].list_area_all {
    background-color: #FFFFFF;
    border: 1px solid #FE586D;
    color: #FE586D;
}

.common_search .search_sex .contents ul li input[type=button].list_sub_all {
    background-color: #FFFFFF;
    border: 1px solid #FE586D;
    color: #FE586D;
    width: 18%;
    margin: 0 3px 0 0;
}


.common_search .search_vaccine {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px dashed #CCCCCC;
}

.common_search .search_vaccine .tit {
    width: 100px;
    float: left;
    padding: 10px 0 8px 10px;
    box-sizing: border-box;
}

.common_search .search_vaccine .contents {
    width: calc(100% - 100px);
    float: left;
    padding: 10px 0 3px 0;
    box-sizing: border-box;
    font-size: 12px;
}

.common_search .search_vaccine .contents ul {
    margin: 0 0 0 0;
    overflow: hidden;
}

.common_search .search_vaccine .contents ul li {
    width: 12%;
    float: left;
    text-align: center;
    margin: 0 0 10px 0;
}

.common_search .search_vaccine .contents ul li input[type=button] {
    font-size: 11px;
    width: 94%;
    padding: 7px 0 7px 0;
    border-radius: 3px;
    background-color: #f4f4f4;
    height: 31px;
}

.common_search .search_vaccine .contents ul li input[type=button].on {
    background-color: #FE586D !important;
    color: #FFFFFF !important;
    border: 1px solid #FE586D !important;
}

.common_search .search_vaccine .contents p.close {
    width: 40px;
    position: absolute;
    right: 5px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.15em;
}

.common_search .search_vaccine .contents ul li input[type=button].list_area_all {
    background-color: #FFFFFF;
    border: 1px solid #FE586D;
    color: #FE586D;
}

.common_search .search_vaccine .contents ul li input[type=button].list_sub_all {
    background-color: #FFFFFF;
    border: 1px solid #FE586D;
    color: #FE586D;
    width: 18%;
    margin: 0 3px 0 0;
}


.common_search .search_ganbyeong {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px dashed #CCCCCC;
}

.common_search .search_ganbyeong .tit {
    width: 100px;
    float: left;
    padding: 10px 0 8px 10px;
    box-sizing: border-box;
}

.common_search .search_ganbyeong .contents {
    width: calc(100% - 100px);
    float: left;
    padding: 6px 0 3px 0;
    box-sizing: border-box;
    font-size: 12px;
}

.common_search .search_ganbyeong .contents .text01 {
    display: block;
    font-size: 1em;
    font-weight: 500;
    padding: 0 0 5px 0;
    line-height: 1.5em;
}

.common_search .search_ganbyeong .contents ul {
    margin: 0 0 0 0;
    overflow: hidden;
}

.common_search .search_ganbyeong .contents ul li {
    width: 12%;
    float: left;
    text-align: center;
    margin: 0 0 10px 0;
}

.common_search .search_ganbyeong .contents ul li input[type=button] {
    font-size: 11px;
    width: 94%;
    padding: 7px 0 7px 0;
    border-radius: 3px;
    background-color: #f4f4f4;
    height: 31px;
}

.common_search .search_ganbyeong .contents ul li input[type=button].on {
    background-color: #FE586D !important;
    color: #FFFFFF !important;
    border: 1px solid #FE586D !important;
}

.common_search .search_ganbyeong .contents p.close {
    width: 40px;
    position: absolute;
    right: 5px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.15em;
}

.common_search .search_ganbyeong .contents ul li input[type=button].list_area_all {
    background-color: #FFFFFF;
    border: 1px solid #FE586D;
    color: #FE586D;
}

.common_search .search_ganbyeong .contents ul li input[type=button].list_sub_all {
    background-color: #FFFFFF;
    border: 1px solid #FE586D;
    color: #FE586D;
    width: 18%;
    margin: 0 3px 0 0;
}


.search_btn {
    position: relative;
    padding: 15px 0 15px 0;
    text-align: center;
    border: 1px solid #CCCCCC !important;
    background-color: #FAFAFA;
}

.hide {
    display: none;
}

.detail {
    position: absolute;
    top: 0;
    right: 0;
    width: 140px;
    background-color: #FFFFFF;
}

#detail_btn {
    cursor: pointer;
    display: block;
    text-align: left;
    padding: 10px 20px 8px 20px;
    width: 100%;
    border-left: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    color: #F65A87;
}

.detail span.on {
    background: url('/new/images/sub/sub_icon_moreon.gif') 110px 13px no-repeat;
}

.detail span.off {
    background: url('/new/images/sub/sub_icon_moreoff.gif') 110px 13px no-repeat;
}

#css_offer {
    display: none;
}

.banner_woori {
    cursor: pointer;
    width: 650px;
    height: 76px;
    line-height: 1.5em;
    font-size: 16px;
    background: url('/new/images/sub/sub_bg_searchbanner_04.png') no-repeat;
    color: #FFFFFF;
    margin: 0 0 0 0;
    text-align: left;
}

.banner_woori .banner_text01 {
    display: block;
    padding: 13px 0 0 0;
    width: 100%;
    text-indent: 20px;
    font-size: 21px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #FFFFFF;
}

.banner_woori .banner_text02 {
    display: block;
    padding: 8px 0 0 0;
    float: left;
    width: 330px;
    text-indent: 75px;
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #FFFFFF;
}

.banner_woori .banner_text03 {
    display: block;
    padding: 10px 0 0 20px;
    float: left;
    width: 200px;
    font-family: 'Dotum';
    font-size: 12px;
    color: #000000;
}

.banner_woori .banner_text03_2 {
    display: block;
    padding: 8px 0 0 20px;
    float: left;
    width: 300px;
    font-family: 'Dotum';
    font-size: 12px;
    color: #000000;
}

.banner_woori_coop {
    cursor: pointer;
    width: 650px;
    height: 76px;
    line-height: 1.5em;
    font-size: 16px;
    background: url('/new/images/sub/sub_bg_searchbanner02.gif') no-repeat;
    color: #FFFFFF;
    margin: 0 0 0 0;
    text-align: left;
}

.banner_woori_coop .banner_text01 {
    display: block;
    padding: 13px 0 0 0;
    width: 100%;
    text-indent: 20px;
    font-size: 21px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #FFFFFF;
}

.banner_woori_coop .banner_text02 {
    display: block;
    padding: 8px 0 0 0;
    float: left;
    width: 330px;
    text-indent: 75px;
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #FFFFFF;
}

.banner_woori_coop .banner_text03 {
    display: block;
    padding: 10px 0 0 20px;
    float: left;
    width: 200px;
    font-family: 'Dotum';
    font-size: 12px;
    color: #000000;
}

.banner_woori_coop .banner_text01_2 {
    display: block;
    padding: 13px 0 0 0;
    width: 100%;
    text-indent: 20px;
    font-size: 21px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #000000;
}

.banner_woori_coop .banner_text04 {
    display: block;
    padding: 8px 0 0 0;
    float: left;
    text-indent: 75px;
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #444444;
}

.banner_woori_coop .banner_text03_2 {
    display: block;
    padding: 8px 0 0 20px;
    float: left;
    width: 300px;
    font-family: 'Dotum';
    font-size: 12px;
    color: #000000;
}

.banner_agency {
    cursor: pointer;
    width: 650px;
    height: 76px;
    line-height: 1.5em;
    font-size: 16px;
    background: url('/new/images/sub/sub_bg_searchbanner_upche.gif') no-repeat;
    color: #FFFFFF;
    margin: 0 0 0 0;
    text-align: left;
}

.banner_agency .banner_text01 {
    display: block;
    padding: 13px 0 0 0;
    width: 100%;
    text-indent: 20px;
    font-size: 21px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #FFFFFF;
}

.banner_agency .banner_text02 {
    display: block;
    padding: 8px 0 0 0;
    float: left;
    width: 330px;
    text-indent: 75px;
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #FFFFFF;
}

.banner_agency .banner_text03 {
    display: block;
    padding: 10px 0 0 20px;
    float: left;
    width: 200px;
    font-family: 'Dotum';
    font-size: 12px;
    color: #000000;
}

.banner_agency .banner_text03_2 {
    display: block;
    padding: 8px 0 0 20px;
    float: left;
    width: 250px;
    font-family: 'Dotum';
    font-size: 12px;
    color: #000000;
}


.banner_homepage {
    cursor: pointer;
    width: 650px;
    height: 76px;
    line-height: 1.5em;
    font-size: 16px;
    background: url('/new/images/sub/sub_bg_searchbanner_homepage.gif') no-repeat;
    color: #FFFFFF;
    margin: 0 0 0 0;
    text-align: left;
}

.banner_homepage .banner_text01 {
    display: block;
    padding: 13px 0 0 0;
    width: 100%;
    text-indent: 20px;
    font-size: 21px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #FFFFFF;
}

.banner_homepage .banner_text02 {
    display: block;
    padding: 8px 0 0 0;
    float: left;
    width: 330px;
    text-indent: 75px;
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #FFFFFF;
}

.banner_homepage .banner_text03 {
    display: block;
    padding: 10px 0 0 20px;
    float: left;
    width: 200px;
    font-family: 'Dotum';
    font-size: 12px;
    color: #000000;
}

.banner_homepage .banner_text03_2 {
    display: block;
    padding: 8px 0 0 20px;
    float: left;
    width: 250px;
    font-family: 'Dotum';
    font-size: 12px;
    color: #000000;
}

.search_slide {
    position: relative;
    width: 650px;
    height: 76px;
    overflow: hidden;
    margin: 0 auto;
}

.search_slide ul {
    width: 100%;
    float: left;
}

.search_slide ul li {
    width: 100%;
    float: left;
}

.banner_slide {
    position: relative;
    width: 100%;
    margin: 10px 0 10px 0;
    overflow: hidden;
}

.banner_slide ul {
    width: 100%;
    float: left;
}

.banner_slide ul li {
    width: 100%;
    float: left;
    text-align: center;
}

 .table_box .table tbody tr td .icon_special {
     color: #FFFFFF;
     font-size: 0.75em;
     padding: 3px 8px 3px 8px;
     letter-spacing: 0;
     background-color: #00C73C;
     border-radius: 10px;
     color: #FFFFFF;
     font-weight: 700;
 }

.table_box .table tr .on {
    background-color: #FAFAFA;
}

.table_box .table tbody tr.view_chk {
    opacity: 0.5;
}


a.chk, a.chk:hover, a.chk:focus, a.chk:active, a.chk:visited {
    color: #A4A4A4 !important;
}

.chk {
    color: #A4A4A4
}

.thumb_bg1 {
    position: absolute;
    margin: -1px 0 0 -1px;
    width: 240px;
    height: 47px;
    background-color: #FFFFFF;
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.ticket_view_icon {
    display: inline-block;
    padding: 3px 3px 5px 3px;
    border-radius: 2px;
    margin-bottom: 0;
    font-size: 0.78em;
    background-color: #ed4c61;
    color: #FFFFFF;
    vertical-align: top;
}

.ticket_view_icon2 {
    display: inline-block;
    padding: 3px 3px 5px 3px;
    border-radius: 2px;
    margin-bottom: 0;
    font-size: 0.78em;
    background-color: orange;
    color: white;
}

span.memo {
    color: red;
    margin: 0 0 0 10px;
    font-weight: 700;
}

.memo_area {
    display: none;
}

.cr_yoil {
    margin: 8px 0 0 0;
    display: inline-block;
}

.cr_yoil a:link, .cr_yoil a:visited {
    color: #797979;
    font-size: 12px;
    letter-spacing: -0.1em;
}

.ad0 {
    border: 1px solid #fd7d6a;
    font-size: 11px;
    display: inline-block;
    margin: 8px 0 0 0;
    padding: 2px;
    color: #fd7d6a;
}

.ad1 {
    border: 1px solid #7d8acb;
    font-size: 11px;
    display: inline-block;
    margin: 8px 0 0 0;
    padding: 2px;
    color: #7d8acb;
}

.ad2 {
    border: 1px solid #7d8acb;
    font-size: 11px;
    display: inline-block;
    margin: 8px 0 0 0;
    padding: 2px;
    color: #7d8acb;
}