* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;

}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: #000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #ffffff;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    z-index: 999;
    background: #ffffff;
}

.header .header_wrap {
    position: relative;
    flex: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-width: 945px;
    height: 120px;
    height: 120px;
    transition: all 0.3s ease;
}

.header .logo {
    display: flex;
    flex: none;
    width: 180px;
    height: 100%;
    /* background: url(../images/common/logo.svg) no-repeat left center; */
    background-size: 106px auto;
    cursor: pointer;
    margin-top: -4px;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}

.header .nav {
    display: flex;
    flex: 1;
    align-items: center;
    height: 60px;
    transition: all 0.1s ease;
}

.header .nav .nav_list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ul, ol {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul, ol {
    list-style: none;
}

.header .nav .nav_list > .nav_item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header .nav .nav_list .nav_item .nav_item_link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0 24px 4px 24px;
    font-size: 18px;
    font-weight: 400;
    color: #222;
    transition: all .2s ease-in-out;
}

a {
    color: #3c3c3c;
    text-decoration: none;
}


.header .nav .nav_list .nav_item.active .nav_item_link {
    color: #1f6cd5;
}

.header .fnc_menu_wrap {
    display: flex;
    height: 80px;
    align-items: center;
}

.header .fnc_home {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* background: url(../images/common/ico_home.svg) no-repeat center center; */
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.header .fnc_notice {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* background: url(../images/common/ico_notice.svg) no-repeat center center; */
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.header .fnc_alram {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /*  background: url(../images/common/ico_alram.svg) no-repeat center center; */
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.header .fnc_user {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    /* background: url(../images/common/ico_user.svg) no-repeat right center; */
    cursor: pointer;
    padding-right: 34px;
    padding-left: 15px;
    transition: all .2s ease-in-out;
}

.header .fnc_menu_wrap .fnc_user_wrap {
    position: absolute;
    width: 200px;
    top: 90px;
    right: -10px;
    padding: 30px 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    z-index: 9999;
}

.header .fnc_menu_wrap .fnc_user_wrap a {
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.header .fnc_menu_wrap .fnc_user_wrap a + a {
    margin-top: 16px;
}

.header .btn_mo_nav {
    display: none;
    width: 40px;
    height: 34px;
    position: fixed;
    top: 13px;
    right: 20px;
    background: none;
    border: 0;
    z-index: 999999;
}

button {
    border: 0px;
    cursor: pointer;
}

.header .btn_mo_nav span:nth-child(1) {
    top: 10px;
}

.header .btn_mo_nav span {
    display: block;
    width: 22px;
    height: 1px;
    position: absolute;
    right: 0;
    border-radius: 0;
    background: #313131;
}

.header .btn_mo_nav span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header .btn_mo_nav span:nth-child(3) {
    bottom: 10px;
}

.header .nav .nav_list .nav_item.active .nav_item_link {
    color: #1f6cd5;
}

.header .nav .nav_list .nav_item.active .nav_item_link:after {
    opacity: 1;
    background: #1f6cd5;
}

/* 여기까지 헤더 */

/* 예약 전의 두번제 해더 */
.sub_page_wrap {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    padding-bottom: 100px;
}

.sub_title_wrap.sub_bg02 {
    background-color: #ffffff;
}

.sub_title_wrap {
    display: flex;
    flex: none;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.sub_title_wrap.sub_bg02 .sub_title {
    position: relative;
    flex: 1;
    width: 840px;
}

.sub_title {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 160px;
}

.sub_title_wrap.sub_bg02 .sub_title p {
    justify-content: flex-start;
    text-align: left;
}

.sub_title p {
    display: flex;
    flex: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    color: #313131;
    text-align: center;
}

.sub_title p + p {
    margin-top: 0;
    font-size: 31px;
    color: #666666;
    font-weight: 200;
}

.sub_title_wrap.sub_bg02 .sub_title .img_bg02 {
    position: absolute;
    top: 80px;
    right: 0;
    width: 300px;
    height: 300px;
    /* background: rgba(0,0,0,0) url(../images/common/img_sub02.svg) no-repeat center center; */
    background-size: 260px;
    z-index: 2;
}

.sub_title_wrap.sub_bg02 .sub_title .heart_bg {
    position: absolute;
    top: 174px;
    right: 80px;
    z-index: 1;
}

.heart_bg {
    background-color: #ff0071;
    width: 125px;
    height: 125px;
    transform: rotate(45deg);
    animation: pulse calc(60s / 80) linear infinite alternate;
}

.heart_bg:before, .heart_bg:after {
    content: '';
    background-color: #ff0071;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    border-radius: 50%;
}

.heart_bg:before {
    left: -50%;
    top: 0;
}

.heart_bg:after {
    right: 0;
    top: -50%;
}

/* 헤더2번째 끝 */

/* 원하는 서비스 타입 부분 */
.filBkf {
    width: 100%;
    padding-top: 56px;
    padding-bottom: 42px;
    text-align: center;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.htzYgu {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 41px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: -0.7px;
    text-align: center;
    font-weight: bold;
}

.dHfuMj {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

img {
    vertical-align: middle;
    border-style: none;
}

.eKOCWs {
    width: 100%;
    position: relative;
    padding-top: 36px;
    padding-bottom: 54px;
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
}

.jWmgWE {
    width: 368px;
    height: 410px;
    padding: 16px;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 10%) 2px 4px 16px -4px;
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 8px;
}

.jWmgWE.selected {
    border: 4px solid rgb(59, 193, 255);
}

.bWczVx {
    width: 140px;
    height: 140px;
    object-fit: cover;
}

.hEIVhP {
    margin-top: 11px;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.5px;
    color: rgba(0, 0, 0, 0.7);
}

.hdmujX {
    word-break: keep-all;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.3px;
    margin-bottom: 16px;
    max-width: 204px;
    height: 105px;
}

.cCeyDW {
    display: inline-block;
    width: 100%;
    max-width: 184px;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: -0.1px;
    color: rgb(59, 193, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 50vh;
    text-align: center;
    border: 1px solid rgb(175, 176, 178);
}

.blHnvF > div:last-child {
    margin-right: 0px;
}

.dbZRgp {
    width: 368px;
    height: 410px;
    padding: 16px;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 10%) 2px 4px 16px -4px;
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 8px;
}

.selected {
    border: 4px solid rgb(59, 193, 255);
}

.dbZRgp2 {
    border: 4px solid rgb(59, 193, 255);
}

.bWczVx {
    width: 140px;
    height: 140px;
    object-fit: cover;
}

.hEIVhP {
    margin-top: 11px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.5px;
    color: rgba(0, 0, 0, 0.7);
}

.hdmujX {
    word-break: keep-all;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.3px;
    margin-bottom: 16px;
    max-width: 204px;
}

.cCeyDW2 {
    color: rgb(255, 255, 255);
    background-color: rgb(59, 193, 255);
}

.cCeyDW {
    display: inline-block;
    width: 100%;
    max-width: 184px;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: -0.1px;
    color: rgb(59, 193, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 50vh;
    text-align: center;
    border: 1px solid rgb(175, 176, 178);
}

.cDQBac {
    width: 280px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    margin: 100px auto 0px;
    border-radius: 50vh;
    cursor: pointer;
    background-color: rgb(59, 193, 255);
    color: rgb(255, 255, 255);
    font-size: 22px;
    letter-spacing: -0.5px;
}

.eKOCWs {
    width: 100%;
    position: relative;
    padding-top: 36px;
    padding-bottom: 54px;
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
}

.blHnvF {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}



