<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/asset/css/footer.css">
    <title>Document</title>
</head>
<body>
<footer>
    <div class="footer_wrap">
        <p>
            <span class="company">(주)아이티브릿지</span>
            <span>서울시 금천구 디지털로 121, 에이스가산타워 311호</span>
            <span>
		            <span class="mo_fx_row">
			            <span>대표자 : 이승용</span>
			            <span>사업자등록번호 : 894-87-00949</span>
			        </span>
		            <span class="mo_fx_row2">통신판매업신고 : 2021-서울금천-2992</span>
		            
	            </span>
        </p>
        <p>
	           <span> 
	               <!-- <span><a href="tel:1533-3145" title="전화하기">고객센터 : 1533-3145(유료)</a></span> -->
	               <span>고객센터 : <a class="" href="" title="전화하기">1533-3145</a> (유료)</span>
	               <span>이메일 : help@mosimi.co.kr</span>
               </span>
            <span class="full">
                   <span>(점심시간 11:30~13:00, 토·일·공휴일 휴무)</span>
               </span>
            <span>
                   <span><a href="" onclick="">이용약관</a></span> 
                   <span><a href="" onclick="">개인정보처리방침</a></span>
               </span>
        </p>
    </div>
</footer>
</body>
</html>