<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/asset/css/login.css">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $("#header").load("header.html");
        });
    </script>
    <script>
        $(function () {
            $("#footer").load("footer.html");
        });
    </script>
</head>
<body>
<header id="header"></header>
<form action="/login" method="post" id="userForm">
    <input type="hidden" id="loginTp" name="loginTp" value="usr">
    <input type="hidden" id="userId" name="userId">

    <div class="sub_page_wrap">
        <!-- sub_title_wrap -->
        <div class="login_form_wrap">
            <div class="form_tab">
                <ul>
                    <li id="loginTpUsr" data-type="usr" class="current"><a onclick="location.href='userlogin.html'"
                                                                           style="color: #fff;">개인회원</a></li>
                    <li id="loginTpMgr" data-type="manager" class=""><a onclick="location.href='managerlogin.html'">매니저</a></li>
                </ul>
            </div>

            <!-- form_wrap -->
            <div class="form_wrap">
                <span class="w_msg tc"></span>
                <div class="dp_flex">
                    <input type="text" id="txtUserId" name="txtUserId" value="" placeholder="아이디">
                </div>
                <div class="dp_flex">
                    <input type="password" id="password" name="password" value="" placeholder="비밀번호">
                </div>
            </div>
            <!-- //form_wrap -->

            <div class="id_save">
                <label class="toggle_check">
                    <input type="checkbox" id="saveIdYN" name="saveIdYN">
                    <span>아이디 저장</span>
                </label>
            </div>

            <!-- button_wrap -->
            <div class="button_wrap">
                <a href="javascript:goSubmit();" class="primary">로그인</a>
            </div>
            <div class="button_text_wrap">
                <a href="javascript:goFindIdPassword('Id');">아이디 찾기</a>
                <a href="javascript:goFindIdPassword('Pw');">비밀번호 찾기</a>
                <a href="javascript:goSignup()" class="sign_up">회원가입</a>
            </div>

            <!-- //button_wrap -->

        </div>
    </div>
</form>
<footer id="footer"></footer>
</body>
<script>
    $(".toggle_check").children('span').mouseover(function () {
        $(this).css('color', '#1f6cd5');
    })

    $(".toggle_check").children('span').mouseout(function () {
        $(this).css('color', '#000');
    })
</script>
</html>