<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dolbomi.mapper.AccReservationMapper">
    <select id="getList" resultType="accreservationVO">
        SELECT ACC_RESERVATION_NAME,ACC_RESERVATION_TYPE,ACC_RESERVATION_END_ADDRESS
        FROM TBL_ACC_RESERVATION a,TBL_USER b
        WHERE a.USER_EMAIL = b.USER_EMAIL
    </select>

    <insert id="insert">
        INSERT INTO TBL_ACC_RESERVATION (ACC_RESERVATION_NAME,ACC_RESERVATION_TYPE ,ACC_RESERVATION_AGE, ACC_RESERVATION_PHONE_NUM, ACC_RESERVATION_GENDER,ACC_RESERVATION_ADD_PHONE_NUM,ACC_RESERVATION_RELATION,ACC_RESERVATION_END_ADDRESS,ACC_RESERVATION_START_ADDRESS,ACC_RESERVATION_HOPE_GENDER,ACC_RESERVATION_DATE,ACC_RESERVATION_TIME,ACC_RESERVATION_ADD_REQUIRE,ACC_RESERVATION_PRICE)
        VALUES (#{accreservationName}, #{accreservationType},#{accreservationAge},#{accreservationPhoneNum},#{accreservationGender},#{accreservationAddPhoneNum},#{accreservationRelation},#{accreservationEndAddress},#{accreservationStartAddress},#{accreservationHopeGender},#{accreservationDate},#{accreservationTime},#{accreservationAddRequire},#{accreservationPrice})
        WHERE USER_EMAIL = #{userEmail}
    </insert>

    <select id="select" resultType="accreservationVO">
        SELECT ACC_RESERVATION_NAME, ACC_RESERVATION_AGE, ACC_RESERVATION_PHONE_NUM, ACC_RESERVATION_GENDER,ACC_RESERVATION_ADD_PHONE_NUM,ACC_RESERVATION_RELATION,ACC_RESERVATION_END_ADDRESS,ACC_RESERVATION_START_ADDRESS,ACC_RESERVATION_HOPE_GENDER,ACC_RESERVATION_DATE,ACC_RESERVATION_TIME,ACC_RESERVATION_ADD_REQUIRE,ACC_RESERVATION_PRICE
        FROM TBL_ACC_RESERVATION
        WHERE ACC_RESERVATION_NUM = #{accreservationNum}
    </select>

    <delete id="delete">
        DELETE FROM TBL_ACC_RESERVATION
        WHERE ACC_RESERVATION_NUM = #{accreservationNum}
    </delete>



</mapper>