<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dolbomi.mapper.AccReservationMapper">
    <sql id="search">
        <trim prefix="AND" prefixOverrides="OR">
            <foreach item="area" collection="areaAr">
                <trim prefix="OR">
                    <if test="area != null">
                        (ACC_RESERVATION_START_ADDRESS LIKE '%'||#{area}||'%') OR (ACC_RESERVATION_END_ADDRESS LIKE '%'||#{area}||'%')
                    </if>
                </trim>
            </foreach>
        </trim>
    </sql>


    <!--      동행서비스 예약리스트에 해당 번호 존재하는지 확인 -->
    <select id="AccGetList" resultType="accreservationVO">
        SELECT ACC_RESERVATION_NAME, ACC_RESERVATION_AGE, ACC_RESERVATION_PHONE_NUM, ACC_RESERVATION_GENDER,ACC_RESERVATION_ADD_PHONE_NUM,ACC_RESERVATION_DATE,ACC_RESERVATION_TIME,ACC_RESERVATION_START_ADDRESS,ACC_RESERVATION_END_ADDRESS,ACC_RESERVATION_PRICE,b.USER_EMAIL,a.ACC_RESERVATION_STATUS,ACC_RESERVATION_NUM,MANAGER_EMAIL
        FROM TBL_ACC_RESERVATION a,TBL_USER b
        WHERE a.USER_EMAIL = b.USER_EMAIL AND a.ACC_RESERVATION_NUM=#{accReservationNum}
    </select>
    <select id="getList" resultType="accreservationVO">
        SELECT ACC_RESERVATION_NAME,ACC_RESERVATION_TYPE,ACC_RESERVATION_END_ADDRESS
        FROM TBL_ACC_RESERVATION
        WHERE a.USER_EMAIL = b.USER_EMAIL
    </select>

    <update id="AccReservationUpdate">
        UPDATE TBL_ACC_RESERVATION
        SET MANAGER_EMAIL = #{managerEmail}
        WHERE ACC_RESERVATION_NUM = #{accReservationNum}
    </update>


    <insert id="insert">
        INSERT INTO TBL_ACC_RESERVATION (ACC_RESERVATION_NUM,ACC_RESERVATION_NAME,ACC_RESERVATION_TYPE ,ACC_RESERVATION_AGE, ACC_RESERVATION_PHONE_NUM, ACC_RESERVATION_GENDER,ACC_RESERVATION_ADD_PHONE_NUM,ACC_RESERVATION_RELATION,ACC_RESERVATION_END_ADDRESS,ACC_RESERVATION_START_ADDRESS,ACC_RESERVATION_HOPE_GENDER,ACC_RESERVATION_DATE,ACC_RESERVATION_TIME,ACC_RESERVATION_ADD_REQUIRE,ACC_RESERVATION_PRICE,USER_EMAIL,MANAGER_EMAIL)
        VALUES (SEQ_RESERVATION.NEXTVAL, #{accReservationName}, #{accReservationType}, #{accReservationAge}, #{accReservationPhoneNum}, #{accReservationGender}, #{accReservationAddPhoneNum}, #{accReservationRelation}, #{accReservationEndAddress}, #{accReservationStartAddress}, #{accReservationHopeGender}, #{accReservationDate}, #{accReservationTime}, #{accReservationAddRequire}, #{accReservationPrice}, #{userEmail}, '')

    </insert>


    <select id="select" resultType="accreservationVO">
        SELECT ACC_RESERVATION_NAME, ACC_RESERVATION_AGE, ACC_RESERVATION_PHONE_NUM, ACC_RESERVATION_GENDER,ACC_RESERVATION_ADD_PHONE_NUM,ACC_RESERVATION_RELATION,ACC_RESERVATION_END_ADDRESS,ACC_RESERVATION_START_ADDRESS,ACC_RESERVATION_HOPE_GENDER,ACC_RESERVATION_DATE,ACC_RESERVATION_TIME,ACC_RESERVATION_ADD_REQUIRE,ACC_RESERVATION_PRICE
        FROM TBL_ACC_RESERVATION
        WHERE ACC_RESERVATION_NUM = #{accreservationNum}
    </select>



    <!--동행 리스트 게시판에 가져오기-->
    <select id="reviewGetListAcc" resultType="accReviewDTO">
        SELECT
        ROWNUM RN, a.ACC_RESERVATION_TYPE, a.ACC_RESERVATION_DATE, b.USER_NAME, a.USER_EMAIL, a.ACC_RESERVATION_NUM
        FROM TBL_ACC_RESERVATION a,TBL_USER b
        WHERE a.USER_EMAIL = b.USER_EMAIL  AND a.USER_EMAIL = #{userEmail}
    </select>

    <!--accreservation 전체 리스트-->
    <select id="getListAccReservation" resultType="accReservationVO">
        SELECT ACC_RESERVATION_NUM,ACC_RESERVATION_TYPE,ACC_RESERVATION_NAME, ACC_RESERVATION_AGE, ACC_RESERVATION_PHONE_NUM, ACC_RESERVATION_GENDER, ACC_RESERVATION_ADD_PHONE_NUM, ACC_RESERVATION_RELATION, ACC_RESERVATION_END_ADDRESS, ACC_RESERVATION_START_ADDRESS, ACC_RESERVATION_HOPE_GENDER, ACC_RESERVATION_DATE, ACC_RESERVATION_TIME, ACC_RESERVATION_ADD_REQUIRE, ACC_RESERVATION_PRICE
        FROM TBL_ACC_RESERVATION
        <where>
            MANAGER_EMAIL IS NULL AND ACC_RESERVATION_STATUS = 0
            <include refid="search"/>
        </where>

    </select>


    <select id="getAcc" resultType="accReviewDTO">
        ROWNUM RN, a.ACC_RESERVATION_TYPE, a.ACC_RESERVATION_DATE, b.USER_NAME, a.USER_EMAIL, a.ACC_RESERVATION_NUM
        FROM TBL_ACC_RESERVATION a,TBL_USER b
        WHERE a.USER_EMAIL = b.USER_EMAIL  AND a.USER_EMAIL = #{userEmail} AND a.ACC_RESERVATION_NUM = #{accReservationNum}
    </select>

    <select id="selectAcc" resultType="accReservationVO">
        SELECT ACC_RESERVATION_NUM, ACC_RESERVATION_TYPE
        FROM TBL_ACC_RESERVATION
        WHERE ACC_RESERVATION_NUM = #{accReservationNum}
    </select>


    <!--동행서비스 예약자 1명정보 가져오기 .user_userdetails 페이지의 동행예약목록 -->
    <select id="AccGet" resultType="accreservationVO">
        SELECT ACC_RESERVATION_NUM, ACC_RESERVATION_NAME, ACC_RESERVATION_AGE, ACC_RESERVATION_PHONE_NUM, ACC_RESERVATION_GENDER,ACC_RESERVATION_DATE,ACC_RESERVATION_TIME,ACC_RESERVATION_START_ADDRESS,ACC_RESERVATION_END_ADDRESS,ACC_RESERVATION_PRICE,b.USER_EMAIL,a.ACC_RESERVATION_STATUS,ACC_RESERVATION_NUM,MANAGER_EMAIL
        FROM TBL_ACC_RESERVATION a,TBL_USER b
        WHERE a.USER_EMAIL = b.USER_EMAIL AND a.ACC_RESERVATION_NUM=#{accReservationNum}
    </select>

    <!--동행서비스고객이 매니저 배정수락,user_userdetails 페이지의 동행예약목록 -->
    <update id="AccManagerY">
        UPDATE TBL_ACC_RESERVATION
        SET ACC_RESERVATION_STATUS = '2'
        WHERE ACC_RESERVATION_NUM = #{accReservationNum} AND ACC_RESERVATION_STATUS= 0
    </update>

    <!--동행서비스고객이 매니저 배정거절,user_userdetails 페이지의 동행예약목록 -->
    <update id="AccManagerN">
        UPDATE TBL_ACC_RESERVATION
        SET MANAGER_EMAIL = ''
        WHERE ACC_RESERVATION_NUM = #{accReservationNum} AND ACC_RESERVATION_STATUS= 0
    </update>
    <!--동행서비스고객이 예약 취소,user_userdetails2 페이지의 동행예약목록 -->
    <delete id="Accdelete">
        DELETE FROM TBL_ACC_RESERVATION
        WHERE ACC_RESERVATION_NUM = #{accreservationNum}
    </delete>
    <!-- ACC_RESERVATION_Email을 변수로 vo 가져오기,status=0-->
    <select id="accgetNum1" resultType="accreservationVO">
        SELECT ACC_RESERVATION_NAME, ACC_RESERVATION_AGE, ACC_RESERVATION_PHONE_NUM, ACC_RESERVATION_GENDER,ACC_RESERVATION_ADD_PHONE_NUM,ACC_RESERVATION_DATE,ACC_RESERVATION_TIME,ACC_RESERVATION_START_ADDRESS,ACC_RESERVATION_END_ADDRESS,ACC_RESERVATION_PRICE,USER_EMAIL,ACC_RESERVATION_STATUS, ACC_RESERVATION_NUM
        FROM TBL_ACC_RESERVATION
        WHERE USER_EMAIL=#{userEmail} AND ACC_RESERVATION_STATUS= 0 AND MANAGER_EMAIL IS NULL
    </select>
    <!--acc_reservation 매니저 배정 상태-->
    <select id="accManagerJoin" resultType="user4AccDTO">
        SELECT ACC_RESERVATION_NUM, ACC_RESERVATION_NAME, ACC_RESERVATION_TYPE, ACC_RESERVATION_DATE, ACC_RESERVATION_TIME, ACC_RESERVATION_START_ADDRESS, ACC_RESERVATION_END_ADDRESS, ACC_RESERVATION_PRICE, ACC_RESERVATION_PHONE_NUM, MANAGER_NAME, MANAGER_PHONE_NUM, MANAGER_GENDER, MANAGER_DRIVEOK, MANAGER_REGION
        FROM TBL_ACC_RESERVATION A, TBL_MANAGER M
        WHERE A.MANAGER_EMAIL = M.MANAGER_EMAIL AND A.ACC_RESERVATION_STATUS = 0 AND A.USER_EMAIL = #{userEmail}
    </select>

    <!-- ACC_RESERVATION_Email을 변수로 vo 가져오기,status=2-->
    <select id="accgetNum2" resultType="user4AccDTO">
        SELECT ACC_RESERVATION_NUM, ACC_RESERVATION_NAME, ACC_RESERVATION_TYPE, ACC_RESERVATION_DATE, ACC_RESERVATION_TIME, ACC_RESERVATION_START_ADDRESS, ACC_RESERVATION_END_ADDRESS, ACC_RESERVATION_PRICE, ACC_RESERVATION_PHONE_NUM, MANAGER_NAME, MANAGER_PHONE_NUM, MANAGER_GENDER, MANAGER_DRIVEOK, MANAGER_REGION
        FROM TBL_ACC_RESERVATION A, TBL_MANAGER M
        WHERE A.MANAGER_EMAIL = M.MANAGER_EMAIL AND A.USER_EMAIL=#{userEmail} AND A.ACC_RESERVATION_STATUS= 2
    </select>


    <!-- ACC_RESERVATION_Email을 변수로 vo 가져오기,status=6-->
    <select id="accgetNum3" resultType="user4AccDTO">
        SELECT ACC_RESERVATION_NUM, ACC_RESERVATION_NAME, ACC_RESERVATION_TYPE, ACC_RESERVATION_DATE, ACC_RESERVATION_TIME, ACC_RESERVATION_START_ADDRESS, ACC_RESERVATION_END_ADDRESS, ACC_RESERVATION_PRICE, ACC_RESERVATION_PHONE_NUM, MANAGER_NAME, MANAGER_PHONE_NUM, MANAGER_GENDER, MANAGER_DRIVEOK, MANAGER_REGION
        FROM TBL_ACC_RESERVATION A, TBL_MANAGER M
        WHERE A.MANAGER_EMAIL = M.MANAGER_EMAIL AND A.USER_EMAIL=#{userEmail} AND A.ACC_RESERVATION_STATUS= 6
    </select>
    <!-- ACC_RESERVATION_Email을 변수로 vo 가져오기,status=7-->
    <select id="accgetNum4" resultType="accreservationVO">
        SELECT ACC_RESERVATION_NAME, ACC_RESERVATION_AGE, ACC_RESERVATION_PHONE_NUM, ACC_RESERVATION_GENDER,ACC_RESERVATION_ADD_PHONE_NUM,ACC_RESERVATION_DATE,ACC_RESERVATION_TIME,ACC_RESERVATION_START_ADDRESS,ACC_RESERVATION_END_ADDRESS,ACC_RESERVATION_PRICE,USER_EMAIL,ACC_RESERVATION_STATUS,ACC_RESERVATION_NUM,MANAGER_EMAIL
        FROM TBL_ACC_RESERVATION
        WHERE USER_EMAIL=#{userEmail}  AND ACC_RESERVATION_STATUS= 7
    </select>
    <!-- user_userdetails의 카운트 횟수.  ACC_RESERVATION_STATUS 에 따라 변경-->
    <select id="accgetTotal1" resultType="_int">
        SELECT COUNT(ACC_RESERVATION_STATUS) FROM TBL_ACC_RESERVATION WHERE USER_EMAIL=#{userEmail}  AND ACC_RESERVATION_STATUS='0'
    </select>

    <!-- user_userdetails2의 카운트 횟수.  ACC_RESERVATION_STATUS 에 따라 변경-->
    <select id="accgetTotal2" resultType="_int">
        SELECT COUNT(ACC_RESERVATION_STATUS) FROM TBL_ACC_RESERVATION WHERE USER_EMAIL=#{userEmail}  AND ACC_RESERVATION_STATUS='2'
    </select>

    <!-- user_userdetails3의 카운트 횟수.  ACC_RESERVATION_STATUS 에 따라 변경-->
    <select id="accgetTotal3" resultType="_int">
        SELECT COUNT(ACC_RESERVATION_STATUS) FROM TBL_ACC_RESERVATION WHERE USER_EMAIL=#{userEmail}  AND ACC_RESERVATION_STATUS='6'
    </select>

    <!-- user_userdetails4의 카운트 횟수.  ACC_RESERVATION_STATUS 에 따라 변경-->
    <select id="accgetTotal4" resultType="_int">
        SELECT COUNT(ACC_RESERVATION_STATUS) FROM TBL_ACC_RESERVATION WHERE USER_EMAIL=#{userEmail}  AND ACC_RESERVATION_STATUS='7'
    </select>

    <!-- 유저 이메일로 매니저 예약메일 통해 매니저정보얻기-->
    <select id="accgetManagerInfo" resultType="managerVO">
        SELECT MANAGER_NAME, MANAGER_BIRTH, MANAGER_EMAIL, MANAGER_GENDER, MANAGER_DRIVEOK, MANAGER_PHONE_NUM, MANAGER_REGION, MANAGER_ADDRESS, MANAGER_CAREER, MANAGER_PW, MANAGER_STATUS
        FROM TBL_MANAGER a,TBL_ACC_RESERVATION b
        WHERE a.MANAGER_EMAIL = b.MANAGER_EMAIL AND USER_EMAIL= {userEmail}
    </select>

    <!--동행서비스 매니저의 업무 시작,manager 페이지의 동행예약목록 -->
    <update id="AccManagerStart">
        UPDATE  TBL_ACC_RESERVATION
        SET ACC_RESERVATION_STATUS = '6'
        WHERE  ACC_RESERVATION_NUM=#{accReservationNum}
    </update>

    <!--동행서비스 매니저의 업무 종료,manager 페이지의 동행예약목록 -->
    <update id="AccManagerEnd">
        UPDATE  TBL_ACC_RESERVATION
        SET ACC_RESERVATION_STATUS = '7'
        WHERE  ACC_RESERVATION_NUM=#{accReservationNum}
    </update>

    <!--동행서비스 매니저가 업무 취소,manager 페이지의 동행예약목록 -->
    <update id="AccManagerCancel">
        UPDATE  TBL_ACC_RESERVATION
        SET MANAGER_EMAIL = '',ACC_RESERVATION_STATUS='0'
        WHERE  ACC_RESERVATION_NUM=#{accReservationNum}
    </update>

    <!--서비스 종료 리스트-->
    <select id="accServiceEndList" resultType="user4AccDTO">
        SELECT ACC_RESERVATION_NUM, ACC_RESERVATION_NAME, ACC_RESERVATION_DATE, ACC_RESERVATION_TIME, ACC_RESERVATION_PRICE, ACC_RESERVATION_TYPE, ACC_RESERVATION_PHONE_NUM, MANAGER_NAME, MANAGER_PHONE_NUM
		FROM TBL_ACC_RESERVATION C, TBL_MANAGER M
		WHERE C.MANAGER_EMAIL = M.MANAGER_EMAIL AND C.ACC_RESERVATION_STATUS = 7 AND C.USER_EMAIL = #{userEmail}
    </select>
</mapper>


