<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dolbomi.mapper.AccReservationMapper">

    <select id="getList" resultType="accreservationVO">
        SELECT ACC_RESERVATION_NAME,ACC_RESERVATION_TYPE,ACC_RESERVATION_END_ADDRESS
        FROM TBL_ACC_RESERVATION a,TBL_USER b
        WHERE a.USER_EMAIL = b.USER_EMAIL
    </select>
    <!--<select id="getList" resultType="accreservationVO">
        SELECT ACC_RESERVATION_NAME,ACC_RESERVATION_TYPE,ACC_RESERVATION_END_ADDRESS
        FROM TBL_ACC_RESERVATION a,TBL_USER b
        WHERE a.USER_EMAIL = b.USER_EMAIL
    </select>-->

    <!--동행서비스매니저 배정기다리는중,user_userdetails 페이지의 동행예약목록 -->
    <select id="AccGetList" resultType="accreservationVO">
        SELECT ACC_RESERVATION_NAME,ACC_RESERVATION_DATE,ACC_RESERVATION_TIME,ACC_RESERVATION_START_ADDRESS,ACC_RESERVATION_END_ADDRESS,ACC_RESERVATION_PRICE,b.USER_EMAIL,a.ACC_RESERVATION_STATUS,ACC_RESERVATION_NUM
        FROM TBL_ACC_RESERVATION a,TBL_USER b
        WHERE a.USER_EMAIL = b.USER_EMAIL AND a.ACC_RESERVATION_NUM=#{accReservationNum, jdbcType=VARCHAR}
    </select>

    <!--동행서비스매니저 배정수락,user_userdetails 페이지의 동행예약목록 -->
    <update id="Accupdate">
        UPDATE TBL_ACC_RESERVATION a,TBL_USER b
        SET a.ACC_RESERVATION_STATUS = '2',a.MANAGER_EMAIL=#{managerEmail},b.USER_STATUS='2'
        WHERE a.USER_EMAIL = b.USER_EMAIL AND ACC_RESERVATION_NUM=#{accReservationNum, jdbcType=VARCHAR}
    </update>

    <!--동행서비스매니저 배정거절,user_userdetails 페이지의 동행예약목록 -->
    <select id="Refuseupdate" resultType="accreservationVO">
        SELECT ACC_RESERVATION_NAME,ACC_RESERVATION_DATE,ACC_RESERVATION_TIME,ACC_RESERVATION_START_ADDRESS,ACC_RESERVATION_END_ADDRESS,ACC_RESERVATION_PRICE,b.USER_EMAIL,a.ACC_RESERVATION_STATUS,ACC_RESERVATION_NUM
        FROM TBL_ACC_RESERVATION a,TBL_USER b
        WHERE a.USER_EMAIL = b.USER_EMAIL AND ACC_RESERVATION_NUM=#{accReservationNum, jdbcType=VARCHAR}
    </select>
    <!--동행서비스고객이 예약취소,user_userdetails 페이지의 동행예약 취소 -->
    <delete id="delete">
        DELETE FROM TBL_ACC_RESERVATION
        WHERE ACC_RESERVATION_NUM = #{accreservationNum}
    </delete>

    <!--동행서비스 매니저가 예약거절,manager 페이지의 동행예약 거절 -->
    <update id="AccManagerRefuse">
        UPDATE TBL_ACC_RESERVATION a,TBL_USER b
        SET a.ACC_RESERVATION_STATUS = '1',a.MANAGER_EMAIL=' ',b.USER_STATUS='1'
        WHERE a.USER_EMAIL = b.USER_EMAIL AND ACC_RESERVATION_NUM=#{accReservationNum, jdbcType=VARCHAR}
    </update>

    <insert id="insert">
        INSERT INTO TBL_ACC_RESERVATION (ACC_RESERVATION_NUM,ACC_RESERVATION_NAME,ACC_RESERVATION_TYPE ,ACC_RESERVATION_AGE, ACC_RESERVATION_PHONE_NUM, ACC_RESERVATION_GENDER,ACC_RESERVATION_ADD_PHONE_NUM,ACC_RESERVATION_RELATION,ACC_RESERVATION_END_ADDRESS,ACC_RESERVATION_START_ADDRESS,ACC_RESERVATION_HOPE_GENDER,ACC_RESERVATION_DATE,ACC_RESERVATION_TIME,ACC_RESERVATION_ADD_REQUIRE,ACC_RESERVATION_PRICE,USER_EMAIL)
        VALUES (SEQ_ACC_RESERVATION.NEXTVAL, #{accReservationName}, #{accReservationType}, #{accReservationAge}, #{accReservationPhoneNum}, #{accReservationGender}, #{accReservationAddPhoneNum}, #{accReservationRelation}, #{accReservationEndAddress}, #{accReservationStartAddress}, #{accReservationHopeGender}, #{accReservationDate}, #{accReservationTime}, #{accReservationAddRequire}, #{accReservationPrice}, #{userEmail})
    </insert>

    <select id="select" resultType="accreservationVO">
        SELECT ACC_RESERVATION_NAME, ACC_RESERVATION_AGE, ACC_RESERVATION_PHONE_NUM, ACC_RESERVATION_GENDER,ACC_RESERVATION_ADD_PHONE_NUM,ACC_RESERVATION_RELATION,ACC_RESERVATION_END_ADDRESS,ACC_RESERVATION_START_ADDRESS,ACC_RESERVATION_HOPE_GENDER,ACC_RESERVATION_DATE,ACC_RESERVATION_TIME,ACC_RESERVATION_ADD_REQUIRE,ACC_RESERVATION_PRICE
        FROM TBL_ACC_RESERVATION
        WHERE ACC_RESERVATION_NUM = #{accreservationNum}
    </select>


</mapper>


