<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dolbomi.mapper.CareReservationMapper">
    <sql id="search">
        <trim prefixOverrides="OR">
            <foreach item="area" collection="areaAr">
                <trim prefix="OR">
                    <if test="area != null">
                        (CARE_RESERVATION_ADDRESS LIKE '%'||#{area}||'%')
                    </if>
                </trim>
            </foreach>
        </trim>
    </sql>

    <select id="getList" resultType="carereservationVO">
        SELECT CARE_RESERVATION_NAME,CARE_RESERVATION_TYPE,CARE_RESERVATION_ADDRESS
        FROM TBL_CARE_RESERVATION a,TBL_USER b
        WHERE a.USER_EMAIL = b.USER_EMAIL
    </select>
    <!--매니저 배정기다리는중,user_userdetails 페이지의 돌봄예약목록 -->
    <select id="CareGetList" resultType="carereservationVO">
        SELECT CARE_RESERVATION_NAME,CARE_RESERVATION_DATE,CARE_RESERVATION_TIME,CARE_RESERVATION_ADDRESS,CARE_RESERVATION_PRICE,b.USER_EMAIL,a.CARE_RESERVATION_STATUS,CARE_RESERVATION_NUM
        FROM TBL_CARE_RESERVATION a,TBL_USER b
        WHERE a.USER_EMAIL = b.USER_EMAIL AND a.CARE_RESERVATION_NUM=#{careReservationNum, jdbcType=VARCHAR}
    </select>
    <!--
        <select id="CareGetList" resultType="carereservationVO">
            SELECT CARE_RESERVATION_NAME,CARE_RESERVATION_DATE,CARE_RESERVATION_TIME,CARE_RESERVATION_ADDRESS,CARE_RESERVATION_PRICE,b.USER_EMAIL,a.CARE_RESERVATION_STATUS,c.MANAGER_REGION
            FROM TBL_CARE_RESERVATION a,TBL_USER b, TBL_MANAGER c
            WHERE a.USER_EMAIL = b.USER_EMAIL AND a.CARE_RESERVATION_ADDRESS = c.MANAGER_REGION
        </select>
        -->

    <!--돌봄서비스매니저 배정수락,user_userdetails 페이지의 돌봄예약목록 -->
    <update id="Careupdate">
        UPDATE TBL_CARE_RESERVATION a,TBL_USER b
        SET a.CARE_RESERVATION_STATUS = '2',a.MANAGER_EMAIL=#{managerEmail},b.USER_STATUS='2'
        WHERE a.USER_EMAIL = b.USER_EMAIL AND CARE_RESERVATION_NUM=#{accReservationNum, jdbcType=VARCHAR}
    </update>

    <!--돌봄서비스매니저 배정거절,user_userdetails 페이지의 돌봄예약목록 -->
    <select id="Refuseupdate" resultType="carereservationVO">
        SELECT CARE_RESERVATION_NAME,CARE_RESERVATION_DATE,CARE_RESERVATION_TIME,CARE_RESERVATION_ADDRESS,CARE_RESERVATION_PRICE,b.USER_EMAIL,a.CARE_RESERVATION_STATUS,CARE_RESERVATION_NUM
        FROM TBL_ACC_RESERVATION a,TBL_USER b
        WHERE a.USER_EMAIL = b.USER_EMAIL AND CARE_RESERVATION_NUM=#{careReservationNum, jdbcType=VARCHAR}
    </select>

    <!--돌봄서비스고객이 예약취소,user_userdetails 페이지의 돌봄예약 취소 -->
    <delete id="delete">
        DELETE FROM TBL_CARE_RESERVATION
        WHERE CARE_RESERVATION_NUM = #{carereservationNum}
    </delete>


    <!--돌봄서비스매니저가 예약거절,manager 페이지의 동행예약 거절 -->
    <update id="CareManagerRefuse">
        UPDATE TBL_CARE_RESERVATION a,TBL_USER b
        SET a.CARE_RESERVATION_STATUS = '1',a.MANAGER_EMAIL=' ',b.USER_STATUS='1'
        WHERE a.USER_EMAIL = b.USER_EMAIL AND CARE_RESERVATION_NUM=#{careReservationNum, jdbcType=VARCHAR}
    </update>

    <insert id="insert">
        INSERT INTO TBL_CARE_RESERVATION (CARE_RESERVATION_NUM, CARE_RESERVATION_NAME,CARE_RESERVATION_TYPE ,CARE_RESERVATION_AGE, CARE_RESERVATION_PHONE_NUM, CARE_RESERVATION_GENDER,CARE_RESERVATION_ADD_PHONE_NUM,CARE_RESERVATION_RELATION,CARE_RESERVATION_ADDRESS,CARE_RESERVATION_HOPE_GENDER,CARE_RESERVATION_DATE,CARE_RESERVATION_TIME,CARE_RESERVATION_ADD_REQUIRE,CARE_RESERVATION_PRICE, USER_EMAIL)
        VALUES (SEQ_RESERVATION.NEXTVAL, #{careReservationName}, #{careReservationType},#{careReservationAge},#{careReservationPhoneNum},#{careReservationGender},#{careReservationAddPhoneNum},#{careReservationRelation},#{careReservationAddress},#{careReservationHopeGender},#{careReservationDate},#{careReservationTime},#{careReservationAddRequire},#{careReservationPrice}, #{userEmail})
    </insert>

    <select id="select" resultType="carereservationVO">
        SELECT CARE_RESERVATION_NAME, CARE_RESERVATION_AGE, CARE_RESERVATION_PHONE_NUM, CARE_RESERVATION_GENDER,CARE_RESERVATION_ADD_PHONE_NUM,CARE_RESERVATION_RELATION,CARE_RESERVATION_END_ADDRESS,CARE_RESERVATION_START_ADDRESS,CARE_RESERVATION_HOPE_GENDER,CARE_RESERVATION_DATE,CARE_RESERVATION_TIME,CARE_RESERVATION_ADD_REQUIRE,CARE_RESERVATION_PRICE
        FROM TBL_CARE_RESERVATION
        WHERE CARE_RESERVATION_NUM = #{carereservationNum}
    </select>

    <!--돌봄 리스트 게시판에 가져오기-->
    <select id="reviewGetListCare" resultType="careReviewDTO">
        SELECT
        ROWNUM RN, a.CARE_RESERVATION_TYPE, a.CARE_RESERVATION_DATE, b.USER_NAME, a.USER_EMAIL, a.CARE_RESERVATION_NUM
        FROM TBL_CARE_RESERVATION a,TBL_USER b
        WHERE a.USER_EMAIL = b.USER_EMAIL AND a.USER_EMAIL = #{userEmail}
    </select>

    <!--carereservation 전체 리스트-->
    <select id="getListCareReservation" resultType="careReservationVO">
        SELECT CARE_RESERVATION_NUM,CARE_RESERVATION_TYPE,CARE_RESERVATION_NAME, CARE_RESERVATION_AGE, CARE_RESERVATION_PHONE_NUM, CARE_RESERVATION_GENDER, CARE_RESERVATION_ADD_PHONE_NUM, CARE_RESERVATION_RELATION, CARE_RESERVATION_ADDRESS, CARE_RESERVATION_HOPE_GENDER, CARE_RESERVATION_DATE, CARE_RESERVATION_TIME, CARE_RESERVATION_ADD_REQUIRE, CARE_RESERVATION_PRICE
        FROM TBL_CARE_RESERVATION
        <where>
            <include refid="search"/>
        </where>
    </select>

</mapper>





