<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dolbomi.mapper.CareReservationMapper">
    <sql id="search">
        <trim prefix="AND" prefixOverrides="OR">
            <foreach item="area" collection="areaAr">
                <trim prefix="OR">
                    <if test="area != null">
                        (CARE_RESERVATION_ADDRESS LIKE '%'||#{area}||'%')
                    </if>
                </trim>
            </foreach>
        </trim>
    </sql>

    <select id="getList" resultType="carereservationVO">
        SELECT CARE_RESERVATION_NAME,CARE_RESERVATION_TYPE,CARE_RESERVATION_ADDRESS
        FROM TBL_CARE_RESERVATION a,TBL_USER b
        WHERE a.USER_EMAIL = b.USER_EMAIL
    </select>

    <!--매니저 배정기다리는중,user_userdetails 페이지의 돌봄예약목록 -->
    <select id="CareGetList" resultType="carereservationVO">
        SELECT CARE_RESERVATION_NAME,CARE_RESERVATION_DATE,CARE_RESERVATION_TIME,CARE_RESERVATION_ADDRESS,CARE_RESERVATION_PRICE,b.USER_EMAIL,a.CARE_RESERVATION_STATUS,CARE_RESERVATION_NUM
        FROM TBL_CARE_RESERVATION a,TBL_USER b
        WHERE a.USER_EMAIL = b.USER_EMAIL AND a.CARE_RESERVATION_NUM=#{careReservationNum, jdbcType=VARCHAR}
    </select>

    <!--돌봄서비스매니저 배정수락,user_userdetails 페이지의 돌봄예약목록 -->
    <update id="Careupdate">
        UPDATE TBL_CARE_RESERVATION a,TBL_USER b
        SET a.CARE_RESERVATION_STATUS = '2',a.MANAGER_EMAIL=#{managerEmail},b.USER_STATUS='2'
        WHERE a.USER_EMAIL = b.USER_EMAIL AND CARE_RESERVATION_NUM=#{careReservationNum, jdbcType=VARCHAR}
    </update>

    <!--돌봄서비스매니저 배정거절,user_userdetails 페이지의 돌봄예약목록 -->
    <select id="Refuseupdate" resultType="carereservationVO">
        SELECT CARE_RESERVATION_NAME,CARE_RESERVATION_DATE,CARE_RESERVATION_TIME,CARE_RESERVATION_ADDRESS,CARE_RESERVATION_PRICE,b.USER_EMAIL,a.CARE_RESERVATION_STATUS,CARE_RESERVATION_NUM
        FROM TBL_CARE_RESERVATION a,TBL_USER b
        WHERE a.USER_EMAIL = b.USER_EMAIL AND CARE_RESERVATION_NUM=#{careReservationNum, jdbcType=VARCHAR}
    </select>

    <!--돌봄서비스고객이 예약취소,user_userdetails 페이지의 돌봄예약 취소 -->
    <delete id="delete">
        DELETE FROM TBL_CARE_RESERVATION
        WHERE CARE_RESERVATION_NUM = #{carereservationNum}
    </delete>


    <!--돌봄서비스매니저가 예약거절,manager 페이지의 동행예약 거절 -->
    <update id="CareManagerRefuse">
        UPDATE TBL_CARE_RESERVATION a,TBL_USER b
        SET a.CARE_RESERVATION_STATUS = '1',a.MANAGER_EMAIL=' ',b.USER_STATUS='1'
        WHERE a.USER_EMAIL = b.USER_EMAIL AND CARE_RESERVATION_NUM=#{careReservationNum, jdbcType=VARCHAR}
    </update>

    <insert id="insert">
        INSERT INTO TBL_CARE_RESERVATION (CARE_RESERVATION_NUM, CARE_RESERVATION_NAME,CARE_RESERVATION_TYPE ,CARE_RESERVATION_AGE, CARE_RESERVATION_PHONE_NUM, CARE_RESERVATION_GENDER,CARE_RESERVATION_ADD_PHONE_NUM,CARE_RESERVATION_RELATION,CARE_RESERVATION_ADDRESS,CARE_RESERVATION_HOPE_GENDER,CARE_RESERVATION_DATE,CARE_RESERVATION_TIME,CARE_RESERVATION_ADD_REQUIRE,CARE_RESERVATION_PRICE, USER_EMAIL)
        VALUES (SEQ_RESERVATION.NEXTVAL, #{careReservationName}, #{careReservationType},#{careReservationAge},#{careReservationPhoneNum},#{careReservationGender},#{careReservationAddPhoneNum},#{careReservationRelation},#{careReservationAddress},#{careReservationHopeGender},#{careReservationDate},#{careReservationTime},#{careReservationAddRequire},#{careReservationPrice}, #{userEmail})
    </insert>

    <select id="select" resultType="carereservationVO">
        SELECT CARE_RESERVATION_NAME, CARE_RESERVATION_AGE, CARE_RESERVATION_PHONE_NUM, CARE_RESERVATION_GENDER,CARE_RESERVATION_ADD_PHONE_NUM,CARE_RESERVATION_RELATION,CARE_RESERVATION_END_ADDRESS,CARE_RESERVATION_START_ADDRESS,CARE_RESERVATION_HOPE_GENDER,CARE_RESERVATION_DATE,CARE_RESERVATION_TIME,CARE_RESERVATION_ADD_REQUIRE,CARE_RESERVATION_PRICE
        FROM TBL_CARE_RESERVATION
        WHERE CARE_RESERVATION_NUM = #{carereservationNum}
    </select>

    <!--돌봄 리스트 게시판에 가져오기-->
    <select id="reviewGetListCare" resultType="careReviewDTO">
        SELECT
        ROWNUM RN, a.CARE_RESERVATION_TYPE, a.CARE_RESERVATION_DATE, b.USER_NAME, a.USER_EMAIL, a.CARE_RESERVATION_NUM
        FROM TBL_CARE_RESERVATION a,TBL_USER b
        WHERE a.USER_EMAIL = b.USER_EMAIL AND a.USER_EMAIL = #{userEmail}
    </select>

    <!--carereservation 전체 리스트-->
    <select id="getListCareReservation" resultType="careReservationVO">
        SELECT CARE_RESERVATION_NUM,CARE_RESERVATION_TYPE,CARE_RESERVATION_NAME, CARE_RESERVATION_AGE, CARE_RESERVATION_PHONE_NUM, CARE_RESERVATION_GENDER, CARE_RESERVATION_ADD_PHONE_NUM, CARE_RESERVATION_RELATION, CARE_RESERVATION_ADDRESS, CARE_RESERVATION_HOPE_GENDER, CARE_RESERVATION_DATE, CARE_RESERVATION_TIME, CARE_RESERVATION_ADD_REQUIRE, CARE_RESERVATION_PRICE
        FROM TBL_CARE_RESERVATION
        <where>
            MANAGER_EMAIL IS NULL AND CARE_RESERVATION_STATUS = 0
            <include refid="search"/>
        </where>
    </select>

    <select id="getCare" resultType="careReviewDTO">
        ROWNUM RN, a.CARE_RESERVATION_TYPE, a.CARE_RESERVATION_DATE, b.USER_NAME, a.USER_EMAIL, a.CARE_RESERVATION_NUM
        FROM TBL_CARE_RESERVATION a,TBL_USER b
        WHERE a.USER_EMAIL = b.USER_EMAIL AND a.USER_EMAIL = #{userEmail} AND a.CARE_RESERVATION_NUM = #{careReservationNum}
    </select>

    <select id="selectCare" resultType="careReservationVO">
        SELECT CARE_RESERVATION_NUM, CARE_RESERVATION_TYPE
        FROM TBL_CARE_RESERVATION
        WHERE CARE_RESERVATION_NUM = #{careReservationNum}
    </select>

    <!--돌봄서비스 예약자 1명정보 가져오기 .user_userdetails 페이지의 돌봄예약목록 -->
    <select id="CareGet" resultType="carereservationVO">
        SELECT CARE_RESERVATION_NAME, CARE_RESERVATION_AGE, CARE_RESERVATION_PHONE_NUM, CARE_RESERVATION_GENDER,CARE_RESERVATION_ADD_PHONE_NUM,CARE_RESERVATION_DATE,CARE_RESERVATION_TIME,CARE_RESERVATION_ADDRESS,CARE_RESERVATION_PRICE,b.USER_EMAIL,a.CARE_RESERVATION_STATUS,CARE_RESERVATION_NUM,MANAGER_EMAIL
        FROM TBL_CARE_RESERVATION a,TBL_USER b
        WHERE a.USER_EMAIL = b.USER_EMAIL AND a.CARE_RESERVATION_NUM=#{careReservationNum}
    </select>

    <!--돌봄서비스고객이 매니저 배정수락,user_userdetails 페이지의 돌봄예약목록 -->
    <update id="CareManagerY">
        UPDATE  TBL_CARE_RESERVATION
        SET CARE_RESERVATION_STATUS = 2
        WHERE  CARE_RESERVATION_NUM = #{careReservationNum} AND CARE_RESERVATION_STATUS= 0
    </update>

    <!--돌봄서비스고객이 매니저 배정거절,user_userdetails 페이지의 돌봄예약목록 -->
    <update id="CareManagerN">
        UPDATE  TBL_CARE_RESERVATION
        SET MANAGER_EMAIL= ''
        WHERE  CARE_RESERVATION_NUM = #{careReservationNum} AND CARE_RESERVATION_STATUS= 0
    </update>
    <!--돌봄서비스고객이 예약 취소,user_userdetails2 페이지의 돌봄예약목록 -->
    <delete id="Caredelete">
        DELETE FROM TBL_CARE_RESERVATION
        WHERE CARE_RESERVATION_NUM = #{careReservationNum}
    </delete>

    <!--돌봄서비스 예약자 1명정보 가져오기 .STATUS 에 따라 변경 -->
    <select id="caregetNum1" resultType="carereservationVO">
        SELECT CARE_RESERVATION_NAME, CARE_RESERVATION_AGE, CARE_RESERVATION_PHONE_NUM, CARE_RESERVATION_GENDER,CARE_RESERVATION_ADD_PHONE_NUM,CARE_RESERVATION_DATE,CARE_RESERVATION_TIME,CARE_RESERVATION_ADDRESS,CARE_RESERVATION_PRICE,USER_EMAIL,CARE_RESERVATION_STATUS,CARE_RESERVATION_NUM
        FROM TBL_CARE_RESERVATION
        WHERE USER_EMAIL=#{userEmail} AND CARE_RESERVATION_STATUS= 0 AND MANAGER_EMAIL IS NULL
    </select>
    <!--care_reservation 매니저 배정 상태-->
    <select id="careManagerJoin" resultType="user4CareDTO">
        SELECT CARE_RESERVATION_NUM, CARE_RESERVATION_NAME, CARE_RESERVATION_TYPE, CARE_RESERVATION_DATE, CARE_RESERVATION_TIME, CARE_RESERVATION_ADDRESS, CARE_RESERVATION_PRICE, CARE_RESERVATION_PHONE_NUM, MANAGER_NAME, MANAGER_PHONE_NUM, MANAGER_GENDER, MANAGER_DRIVEOK, MANAGER_REGION
        FROM TBL_CARE_RESERVATION A, TBL_MANAGER M
        WHERE A.MANAGER_EMAIL = M.MANAGER_EMAIL AND A.CARE_RESERVATION_STATUS = 0 AND A.USER_EMAIL = #{userEmail}
    </select>
    <!--돌봄서비스 예약자 1명정보 가져오기 .STATUS 에 따라 변경 -->
    <select id="caregetNum2" resultType="user4CareDTO">
        SELECT CARE_RESERVATION_NUM, CARE_RESERVATION_NAME, CARE_RESERVATION_TYPE, CARE_RESERVATION_DATE, CARE_RESERVATION_TIME, CARE_RESERVATION_ADDRESS, CARE_RESERVATION_PRICE, CARE_RESERVATION_PHONE_NUM, MANAGER_NAME, MANAGER_PHONE_NUM, MANAGER_GENDER, MANAGER_DRIVEOK, MANAGER_REGION
        FROM TBL_CARE_RESERVATION A, TBL_MANAGER M
        WHERE A.MANAGER_EMAIL = M.MANAGER_EMAIL AND A.USER_EMAIL=#{userEmail} AND CARE_RESERVATION_STATUS= 2
    </select>
    <!--돌봄서비스 예약자 1명정보 가져오기 .STATUS 에 따라 변경 -->
    <select id="caregetNum3" resultType="user4CareDTO">
        SELECT CARE_RESERVATION_NUM, CARE_RESERVATION_NAME, CARE_RESERVATION_TYPE, CARE_RESERVATION_DATE, CARE_RESERVATION_TIME, CARE_RESERVATION_ADDRESS, CARE_RESERVATION_PRICE, CARE_RESERVATION_PHONE_NUM, MANAGER_NAME, MANAGER_PHONE_NUM, MANAGER_GENDER, MANAGER_DRIVEOK, MANAGER_REGION
        FROM TBL_CARE_RESERVATION A, TBL_MANAGER M
        WHERE A.MANAGER_EMAIL = M.MANAGER_EMAIL AND A.USER_EMAIL=#{userEmail} AND CARE_RESERVATION_STATUS= 6
    </select>
    <!--돌봄서비스 예약자 1명정보 가져오기 .STATUS 에 따라 변경 -->
    <select id="caregetNum4" resultType="carereservationVO">
        SELECT CARE_RESERVATION_NAME, CARE_RESERVATION_AGE, CARE_RESERVATION_PHONE_NUM, CARE_RESERVATION_GENDER,CARE_RESERVATION_ADD_PHONE_NUM,CARE_RESERVATION_DATE,CARE_RESERVATION_TIME,CARE_RESERVATION_ADDRESS,CARE_RESERVATION_PRICE,USER_EMAIL,CARE_RESERVATION_STATUS,CARE_RESERVATION_NUM,MANAGER_EMAIL
        FROM TBL_CARE_RESERVATION
        WHERE USER_EMAIL=#{userEmail} AND CARE_RESERVATION_STATUS= 7
    </select>

    <!-- user_userdetails의 카운트 횟수.  CARE_RESERVATION_STATUS 에 따라 변경-->
    <select id="caregetTotal5" resultType="_int">
        SELECT COUNT(CARE_RESERVATION_STATUS) FROM TBL_CARE_RESERVATION WHERE USER_EMAIL=#{userEmail}  AND CARE_RESERVATION_STATUS='0'
    </select>

    <!-- user_userdetails2의 카운트 횟수.  CARE_RESERVATION_STATUS 에 따라 변경-->
    <select id="caregetTotal6" resultType="_int">
        SELECT COUNT(CARE_RESERVATION_STATUS) FROM TBL_CARE_RESERVATION WHERE USER_EMAIL=#{userEmail}  AND CARE_RESERVATION_STATUS='2'
    </select>

    <!-- user_userdetails3의 카운트 횟수.  CARE_RESERVATION_STATUS 에 따라 변경-->
    <select id="caregetTotal7" resultType="_int">
        SELECT COUNT(CARE_RESERVATION_STATUS) FROM TBL_CARE_RESERVATION WHERE USER_EMAIL=#{userEmail}  AND CARE_RESERVATION_STATUS='6'
    </select>

    <!-- user_userdetails4의 카운트 횟수.  CARE_RESERVATION_STATUS 에 따라 변경-->
    <select id="caregetTotal8" resultType="_int">
        SELECT COUNT(CARE_RESERVATION_STATUS) FROM TBL_CARE_RESERVATION WHERE USER_EMAIL=#{userEmail} AND CARE_RESERVATION_STATUS='7'
    </select>
    <!-- 유저 이메일로 매니저 예약메일 통해 매니저정보얻기-->
    <select id="caregetManagerInfo" resultType="managerVO">
        SELECT MANAGER_NAME, MANAGER_BIRTH, MANAGER_EMAIL, MANAGER_GENDER, MANAGER_DRIVEOK, MANAGER_PHONE_NUM, MANAGER_REGION, MANAGER_ADDRESS, MANAGER_CAREER, MANAGER_PW, MANAGER_STATUS
        FROM TBL_MANAGER a,TBL_CARE_RESERVATION b
        WHERE MANAGER_EMAIL = #{managerEmail} AND USER_EMAIL= #{userEmail}
    </select>
    <!--돌봄서비스 매니저의 업무 시작,manager 페이지의 돌봄예약목록 -->
    <update id="CareManagerStart">
        UPDATE  TBL_CARE_RESERVATION
        SET CARE_RESERVATION_STATUS = '6'
        WHERE  CARE_RESERVATION_NUM=#{careReservationNum}
    </update>

    <!--돌봄서비스 매니저의 업무 종료,manager 페이지의 돌봄예약목록 -->
    <update id="CareManagerEnd">
        UPDATE  TBL_CARE_RESERVATION
        SET CARE_RESERVATION_STATUS = '7'
        WHERE  CARE_RESERVATION_NUM=#{careReservationNum}
    </update>

    <!--돌봄서비스 매니저가 업무 취소,manager 페이지의 돌봄예약목록 -->
    <update id="CareManagerCancel">
        UPDATE  TBL_CARE_RESERVATION
        SET MANAGER_EMAIL = '',CARE_RESERVATION_STATUS='0'
        WHERE  CARE_RESERVATION_NUM=#{careReservationNum}
    </update>

    <update id="CareReservationUpdate">
        UPDATE TBL_CARE_RESERVATION
        SET MANAGER_EMAIL = #{managerEmail}
        WHERE CARE_RESERVATION_NUM = #{careReservationNum}
    </update>

    <!--서비스 종료 리스트-->
    <select id="careServiceEndList" resultType="user4CareDTO">
        SELECT CARE_RESERVATION_NUM, CARE_RESERVATION_NAME, CARE_RESERVATION_DATE, CARE_RESERVATION_TIME, CARE_RESERVATION_PRICE, CARE_RESERVATION_TYPE, CARE_RESERVATION_PHONE_NUM, MANAGER_NAME, MANAGER_PHONE_NUM
		FROM TBL_CARE_RESERVATION C, TBL_MANAGER M
		WHERE C.MANAGER_EMAIL = M.MANAGER_EMAIL AND C.CARE_RESERVATION_STATUS = 7 AND C.USER_EMAIL = #{userEmail}
    </select>

</mapper>





