<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dolbomi.mapper.ManagerMapper">


    <delete id="delete">
        DELETE FROM TBL_MANAGER
        WHERE MANAGER_EMAIL = #{managerEmail, jdbcType=VARCHAR}
    </delete>

    <select id="getTotal" resultType="_int">
        SELECT COUNT(MANAGER_STATUS) FROM TBL_MANAGER
    </select>

    <select id="managerLogIn" resultType="_int">
        SELECT COUNT(MANAGER_EMAIL)
        FROM TBL_MANAGER
        WHERE MANAGER_EMAIL = #{managerEmail} AND MANAGER_PW = #{managerPw}
    </select>

    <select id="managerInfo" resultType="managerVO">
        SELECT MANAGER_NAME, MANAGER_BIRTH, MANAGER_EMAIL, MANAGER_GENDER, MANAGER_DRIVEOK, MANAGER_PHONE_NUM, MANAGER_REGION, MANAGER_ADDRESS, MANAGER_CAREER, MANAGER_PW, MANAGER_STATUS
        FROM TBL_MANAGER
        WHERE MANAGER_EMAIL = #{managerEmail}
    </select>

    <select id="managerInfoacc" resultType="managerVO">
        SELECT a.MANAGER_NAME, a.MANAGER_BIRTH, b.MANAGER_EMAIL, a.MANAGER_GENDER, a.MANAGER_DRIVEOK, a.MANAGER_PHONE_NUM, a.MANAGER_REGION, a.MANAGER_ADDRESS, a.MANAGER_CAREER, a.MANAGER_PW, a.MANAGER_STATUS
        FROM TBL_MANAGER a,TBL_ACC_RESERVATION b
        WHERE a.MANAGER_EMAIL =b.MANAGER_EMAIL AND b.USER_EMAIL = #{userEmail}
    </select>

    <select id="managerInfocare" resultType="managerVO">
        SELECT a.MANAGER_NAME, a.MANAGER_BIRTH, b.MANAGER_EMAIL, a.MANAGER_GENDER, a.MANAGER_DRIVEOK, a.MANAGER_PHONE_NUM, a.MANAGER_REGION, a.MANAGER_ADDRESS, a.MANAGER_CAREER, a.MANAGER_PW, a.MANAGER_STATUS
        FROM TBL_MANAGER a,TBL_CARE_RESERVATION b
        WHERE b.MANAGER_EMAIL =a.MANAGER_EMAIL AND b.USER_EMAIL = #{userEmail}
    </select>

    <insert id="insert">
        INSERT INTO TBL_MANAGER
        (MANAGER_NAME, MANAGER_BIRTH, MANAGER_EMAIL, MANAGER_GENDER, MANAGER_DRIVEOK, MANAGER_PHONE_NUM, MANAGER_REGION, MANAGER_ADDRESS, MANAGER_CAREER, MANAGER_PW)
        VALUES(#{managerName}, #{managerBirth}, #{managerEmail}, #{managerGender}, #{managerDriveOk}, #{managerPhoneNum}, #{managerRegion}, #{managerAddress}, #{managerCareer}, #{managerPw})

    </insert>

    <select id="emailCheck" parameterType="string" resultType="_int">
        SELECT COUNT(MANAGER_EMAIL)
        FROM TBL_MANAGER
        WHERE MANAGER_EMAIL = #{managerEmail}
    </select>

    <select id="findId" resultType="managerVO">
		SELECT MANAGER_EMAIL
		FROM TBL_MANAGER
		WHERE MANAGER_NAME = #{managerName} AND MANAGER_PHONE_NUM = #{managerPhoneNum} AND MANAGER_BIRTH = #{managerBirth}
	</select>

    <select id="findPw" resultType="managerVO">
		SELECT MANAGER_PW
		FROM TBL_MANAGER
		WHERE MANAGER_NAME = #{managerName} AND MANAGER_PHONE_NUM = #{managerPhoneNum} AND MANAGER_BIRTH = #{managerBirth} AND MANAGER_EMAIL = #{managerEmail}
	</select>
</mapper>