<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dolbomi.mapper.ReviewMapper">

    <select id="getList" resultType="reviewVO">
        SELECT REVIEW_NUM,REVIEW_TYPE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_WRITER,REVIEW_SCORE, REVIEW_DATE, REVIEW_UPDATE_DATE
        FROM TBL_REVIEW
    </select>

    <!--  전체목록가져오기   -->
    <select id="reviewGetList" resultType="reviewVO">
        <![CDATA[
            SELECT RN, REVIEW_NUM,REVIEW_TYPE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_WRITER, REVIEW_DATE, REVIEW_UPDATE_DATE
            FROM
            (
                SELECT /*+ INDEX_DESC(TBL_REVIEW PK_REVIEW) */
                ROWNUM RN, REVIEW_NUM, REVIEW_TYPE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_WRITER, REVIEW_DATE, REVIEW_UPDATE_DATE
                FROM TBL_REVIEW
                WHERE ROWNUM <= #{pageNum} * #{amount}
            )
            WHERE RN > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>

    <!--게시글 추가-->
    <insert id="insert">
        <selectKey keyProperty="reviewNum" order="BEFORE" resultType="long">
            SELECT SEQ_REVIEW.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_REVIEW (REVIEW_NUM, USER_EMAIL, REVIEW_WRITER, REVIEW_TYPE, REVIEW_TITLE, REVIEW_CONTENT)
        VALUES (#{reviewNum}, #{userEmail}, #{reviewWriter}, #{reviewType}, #{reviewTitle}, #{reviewContent} )
    </insert>

    <!--게시글 한 개 가져오기-->
    <select id="select" resultType="reviewVO">
        SELECT REVIEW_NUM, REVIEW_TYPE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_WRITER, REVIEW_DATE, REVIEW_UPDATE_DATE
        FROM TBL_REVIEW
        WHERE REVIEW_NUM = #{reviewNum}
    </select>

    <!--게시글 수정-->
    <update id="update">
        UPDATE TBL_REVIEW
        SET REVIEW_TITLE = #{reviewTitle}, REVIEW_CONTENT = #{reviewContent}, REVIEW_UPDATE_DATE = SYSDATE
        WHERE REVIEW_NUM = #{reviewNum}
    </update>

    <!--게시글 삭제-->
    <delete id="delete">
        DELETE FROM TBL_REVIEW
        WHERE REVIEW_NUM = #{reviewNum}
    </delete>

    <!--게시글 전체 개수-->
    <select id="reviewGetTotal" resultType="_int">
        SELECT COUNT(REVIEW_NUM) FROM TBL_REVIEW
    </select>




    <!--  회원목록가져오기   -->
    <select id="reviewGetListUser" resultType="userReviewDTO">
            <![CDATA[
            SELECT RN, REVIEW_NUM,REVIEW_TYPE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_WRITER, REVIEW_DATE, REVIEW_UPDATE_DATE, USER_EMAIL, USER_NAME
            FROM
            (
                SELECT /*+ INDEX_DESC(TBL_REVIEW PK_REVIEW) */
                ROWNUM RN, REVIEW_NUM, REVIEW_TYPE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_WRITER, REVIEW_DATE, REVIEW_UPDATE_DATE, B.USER_EMAIL, B.USER_NAME
                FROM TBL_REVIEW A JOIN TBL_USER B
                ON A.USER_EMAIL =  B.USER_EMAIL
                WHERE B.USER_EMAIL = #{userEmail} AND ROWNUM <= #{criteria.pageNum} * #{criteria.amount}
            )
           WHERE RN > (#{criteria.pageNum} - 1) * #{criteria.amount}
        ]]>
    </select>

    <select id="myReviewGetTotal" resultType="_int">
        	SELECT COUNT(REVIEW_NUM) FROM TBL_REVIEW
        	WHERE USER_EMAIL = #{userEmail}
	</select>

    <select id="myReviewGetTotal" resultType="_int">
        SELECT COUNT(REVIEW_NUM) FROM TBL_REVIEW
        WHERE USER_EMAIL = #{userEmail}
    </select>

</mapper>